<template>
  <b-row class="mt-5">
    <b-col class="col-md-6 mx-auto">
      <div class="shadow rounded p-3 mb-5">
        <b-form @submit.prevent="resetPassword">
          <b-form-group
            id="emailgroup"
            :label="this.$t('global.fields.email')"
            label-for="email"
            label-class="required"
          >
            <b-form-input
              id="email"
              v-model="email"
              v-validate="'required|email'"
              :placeholder="this.$t('global.placeholder.email')"
              type="email"
              name="email"
            />
            <div class="error">
              <span>{{ errors.first('email') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="passwordgroup"
            :label="this.$t('global.fields.password')"
            label-for="password"
            label-class="required"
          >
            <b-form-input
              id="password"
              ref="password"
              v-model="password"
              v-validate="'required|verify_password|min:8|max:15'"
              :placeholder="this.$t('global.placeholder.password')"
              type="password"
              name="password"
            />
            <b-form-text id="inputLiveHelp">
              {{ $t('global.messages.password_help_text') }}
            </b-form-text>
            <div class="error">
              <span>{{ errors.first('password') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="confirmpasswordgroup"
            :label="this.$t('global.fields.re_password')"
            label-for="password_confirmation"
            label-class="required"
          >
            <b-form-input
              id="password_confirmation"
              v-model="password_confirmation"
              v-validate="'required|confirmed:password'"
              :placeholder="this.$t('global.placeholder.re_password')"
              data-vv-as="password"
              type="password"
              name="password_confirmation"
            />
            <div class="error">
              <span>{{ errors.first('password_confirmation') }}</span>
            </div>
          </b-form-group>
          <div class="d-flex justify-content-center">
            <b-button
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ this.$t('global.buttons.reset') }}
            </b-button>
          </div>
        </b-form>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'

export default nuxtend({
  layout: 'default',

  pageRootKey: 'forgotpassword',

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      valid: false,
      token: this.$route.params.resettoken,
      email: null,
      password: null,
      password_confirmation: null
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    // console.log(this.$route.params)
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const verifyRule = {}
    _.set(verifyRule, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    _.set(verifyRule, 'password', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.password')
      })
    })
    _.set(verifyRule, 'password_confirmation', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.re_password')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: verifyRule
    })
  },

  methods: {
    resetPassword() {
      this.errors.clear()
      this.valid = true
      this.$validator.validateAll().then(success => {
        if (success) {
          this.$store
            .dispatch('users/resetPassword', {
              token: this.token,
              email: this.email,
              password: this.password,
              password_confirmation: this.password_confirmation,
              user_type: 'seeker'
            })
            .then(response => {
              this.valid = false
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$router.push(this.$i18n.path('/login'))
            })
            .catch(err => {
              this.valid = false
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              // this.$toast.show(err.response.data.message,{ icon : 'close',type:'error'})
              if (parseInt(err.response.status) === 401) {
                this.$toast.show(
                  this.$t('global.messages.forgot_link_expired'),
                  { icon: 'close', type: 'error' }
                )
                this.$router.push(this.$i18n.path('/forgot-password'))
              }
            })
        } else {
          this.valid = false
        }
      })
    }
  }
})
</script>

<style scoped></style>
