<template>
  <div>
    <OverlayLoading ref="overlayloading" />
    <b-row v-if="show_form" class="mt-5">
      <b-col class="col-md-9 mx-auto">
        <div class="p-3 mb-5 border-red">
          <span>
            {{ $t('global.messages.reset_info') }}
          </span>
        </div>
        <div class="shadow rounded p-3 mb-5">
          <b-row>
            <b-col class="col-md-7 col-12">
              <b-form class="border-right p-2" @submit.prevent="forgotPassowrd">
                <b-form-group
                  id="emailgroup"
                  :label="this.$t('global.fields.email')"
                  label-class="required"
                  label-for="email"
                >
                  <b-form-input
                    id="email"
                    v-model="email"
                    v-validate="'required|email'"
                    :data-vv-as="$t('global.placeholder.email')"
                    :placeholder="this.$t('global.placeholder.email')"
                    type="email"
                    data-vv-name="email"
                    name="email"
                  />
                  <div class="error">
                    <span>{{ errors.first('email') }}</span>
                  </div>
                </b-form-group>

                <div class="d-flex justify-content-center">
                  <b-button
                    :disabled="valid"
                    size="md"
                    type="submit"
                    variant="outline-info"
                  >
                    <font-awesome-icon
                      v-if="valid"
                      :icon="['fas', 'spinner']"
                      :style="{ color: '#27B6C5' }"
                    />
                    {{ this.$t('global.buttons.reset_password') }}
                  </b-button>
                </div>
              </b-form>
            </b-col>
            <b-col class="col-md-5 col-12 register-section">
              <div class="mt-4 p-4">
                <p>
                  <!--{{ pageContent('link_to_login') }}-->
                  <nuxt-link :to="$i18n.path('/login')">
                    {{ pageContent('link_to_login') }}
                  </nuxt-link>
                </p>
              </div>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="!show_form" class="mt-5">
      <b-col class="col-md-12">
        <div class="p-3">
          <b-row class="password-reset p-2">
            <span> {{ $t('global.titles.password_reset') }}</span>
          </b-row>
          <b-row class="p-2">
            <p>
              {{ $t('global.messages.about_reset') }} [ {{ email || '' }} ].{{
                $t('global.messages.sent_and_time')
              }}
            </p>
          </b-row>
          <b-row class="p-2 border-red">
            <span>{{ $t('global.messages.security_purpose') }}</span>
          </b-row>
        </div>
      </b-col>
      <b-col class="col-md-3 mx-auto">
        <b-row class="p-2">
          <b-btn
            variant="outline-info"
            @click="$router.push({ path: $i18n.path('/') })"
          >
            {{ $t('global.buttons.back_to_top') }}
          </b-btn>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  layout: 'default',

  pageRootKey: 'forgotpassword',

  components: {
    OverlayLoading
  },

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      valid: false,
      email: null,
      show_form: true
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const forgotRule = {}
    _.set(forgotRule, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: forgotRule
    })
  },

  methods: {
    forgotPassowrd(evt) {
      this.$toast.clear()
      this.valid = true
      this.$validator.validateAll().then(success => {
        this.$refs.overlayloading.start()
        this.$store
          .dispatch('users/forgotPassword', {
            email: this.email,
            user_type: 'seeker'
          })
          .then(response => {
            this.$refs.overlayloading.finish()
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            this.show_form = false
            this.valid = false
          })
          .catch(err => {
            this.$refs.overlayloading.finish()
            this.valid = false
            const errs = []
            _.each(err.response.data.errors, function(messages, field) {
              errs.push(
                _.merge(
                  {},
                  {
                    field: field,
                    msg: messages[0]
                  }
                )
              )
            })
            if (errs.length > 0) {
              this.errors.add(errs)
            }
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
          })
      })
    }
  }
})
</script>

<style scoped>
.password-reset {
  background-color: #27b6c5;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
}
.border-red {
  border: 1px solid red;
}
</style>
