<template>
  <div>
    <BreadCrumb :menu="breadCrumb" />
    <OverlayLoading ref="overlayloading" />
    <div class="password-reset mt-3 mb-3">
      <b-row class="ml-1 p-2 mt-3">
        <h3>{{ pageContent('heading') }}</h3>
      </b-row>
    </div>
    <div v-if="show_form">
      <b-form @submit.prevent="contact_us_confirm">
        <b-form-group
          id="full_name"
          :label="$t('global.fields.full_name')"
          label-for="full_name"
          label-class="required"
        >
          <b-form-input
            id="full_name"
            v-model="form.full_name"
            v-validate="'required'"
            :data-vv-as="$t('global.fields.full_name')"
            :placeholder="this.$t('global.placeholder.full_name')"
            data-vv-name="full_name"
            type="text"
          />
          <div class="error">
            <span>{{ errors.first('full_name') }}</span>
          </div>
        </b-form-group>
        <b-form-group
          id="email"
          :label="$t('global.fields.email')"
          label-class="required"
          label-for="email"
        >
          <b-form-input
            id="email"
            v-model="form.email"
            v-validate="'required|email'"
            :data-vv-as="$t('global.fields.email')"
            :placeholder="this.$t('global.placeholder.email')"
            type="email"
            data-vv-name="email"
          />
          <div class="error">
            <span>{{ errors.first('email') }}</span>
          </div>
        </b-form-group>
        <b-form-group
          id="mobile"
          :label="this.$t('global.fields.mobile')"
          label-for="mobile"
        >
          <b-form-input
            id="mobile"
            v-model="form.mobile"
            v-validate="'romanji_number_only|min:9|max:15'"
            :data-vv-as="$t('global.fields.mobile')"
            data-vv-name="mobile"
          />
        </b-form-group>
        <div class="error">
          <span>{{ errors.first('mobile') }}</span>
        </div>
        <b-form-group
          :label="this.$t('global.fields.receive_mail_language')"
          label-class="required"
        >
          <b-form-radio-group
            id="receive_mail_language"
            v-model="form.receive_mail_language"
            v-validate="'required'"
            :options="receive_mail_language"
            name="receive_mail_language"
          />
        </b-form-group>
        <b-form-group
          id="message_grp"
          :label="$t('global.fields.message')"
          label-for="message_grp"
          label-class="required"
        >
          <b-form-textarea
            id="textarea"
            v-model="form.message"
            v-validate="'required|max:500'"
            rows="4"
            max-rows="8"
            type="text"
            :data-vv-as="$t('global.fields.message')"
            :placeholder="this.$t('global.placeholder.message')"
            data-vv-name="message"
          />
          <div class="error">
            <span>{{ errors.first('message') }}</span>
          </div>
        </b-form-group>
        <b-form-checkbox
          id="terms"
          v-model="form.terms"
          v-validate="'required|accept_terms'"
          :data-vv-as="this.$t('global.fields.terms')"
          data-vv-name="terms"
          name="terms"
          value="1"
          unchecked-value="0"
        >
          {{ $t('global.fields.terms') }}
        </b-form-checkbox>
        <div class="error">
          <span>{{ errors.first('terms') }}</span>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <b-button
            :disabled="valid"
            size="md"
            type="submit"
            variant="outline-info"
          >
            <font-awesome-icon
              v-if="valid"
              :icon="['fas', 'spinner']"
              :style="{ color: '#27B6C5' }"
            />
            {{ this.$t('global.buttons.to_confirm') }}
          </b-button>
        </div>
      </b-form>
    </div>
    <div v-if="show_confirm">
      <hr />
      <b-row class="ml-1 p-2">
        <span>
          <h6>
            {{ $t('global.titles.contact_confirm') }}
          </h6>
        </span>
      </b-row>
      <hr />
      <b-row>
        <b-col class="col-12 col-sm-12 col-md-4">
          <p class="job_detail_heading">
            {{ this.$t('global.fields.full_name') + ':' }}
          </p>
        </b-col>
        <b-col class="col-12 col-sm-12 col-md-8">
          <p class="jb_detail_value">
            {{ sessionData.full_name }}
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-12 col-sm-12 col-md-4">
          <p class="job_detail_heading">
            {{ this.$t('global.fields.email') + ':' }}
          </p>
        </b-col>
        <b-col class="col-12 col-sm-12 col-md-8">
          <p class="jb_detail_value">
            {{ sessionData.email }}
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-12 col-sm-12 col-md-4">
          <p class="job_detail_heading">
            {{ this.$t('global.fields.mobile') + ':' }}
          </p>
        </b-col>
        <b-col class="col-12 col-sm-12 col-md-8">
          <p class="jb_detail_value">
            {{ sessionData.mobile }}
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-12 col-sm-12 col-md-4">
          <p class="job_detail_heading">
            {{ this.$t('global.fields.receive_mail_language') + ':' }}
          </p>
        </b-col>
        <b-col class="col-12 col-sm-12 col-md-8">
          <p class="jb_detail_value">
            {{
              sessionData.receive_mail_language !== null
                ? sessionData.receive_mail_language === 'en'
                  ? this.$t('global.options.english')
                  : this.$t('global.options.japanese')
                : ''
            }}
          </p>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-12 col-sm-12 col-md-4">
          <p class="job_detail_heading">
            {{ this.$t('global.fields.message') + ':' }}
          </p>
        </b-col>
        <b-col class="col-12 col-sm-12 col-md-8">
          <p class="jb_detail_value">
            {{ sessionData.message }}
          </p>
        </b-col>
      </b-row>
      <div class="d-flex justify-content-center mt-1 mb-2">
        <b-button
          :disabled="valid"
          size="md"
          type="submit"
          class="mr-2"
          variant="outline-info"
          @click="back_contact"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ this.$t('global.buttons.change') }}
        </b-button>
        <b-button
          :disabled="valid"
          size="md"
          type="submit"
          variant="outline-info"
          @click="contact_us"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ this.$t('global.buttons.send') }}
        </b-button>
      </div>
    </div>
    <div v-if="show_success">
      <div class="ml-4">
        <b-row>
          <p>
            {{ $t('global.messages.contact_thank_you') }} <br />
            {{ $t('global.messages.wait') }} <br />
            {{ $t('global.messages.might_not_reply') }} <br />
            {{ $t('global.messages.reply_message_time') }}
          </p>
        </b-row>
      </div>
      <b-row>
        <b-col md="6" offset-md="3" class="mb-3">
          <b-btn
            variant="outline-info"
            self-align="center"
            @click="$router.push($i18n.path('/'))"
          >
            {{ $t('global.buttons.back_to_top') }}
          </b-btn>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
export default nuxtend({
  layout: 'default',
  components: {
    OverlayLoading,
    BreadCrumb
  },
  pageRootKey: 'contact_us',
  mixins: [base()],
  computed: {
    breadCrumb: function() {
      return [
        {
          text: this.$t('global.footer.contact'),
          route: '/contact'
        }
      ]
    }
  },
  created() {
    this.veevalidateLocalize()
  },
  data() {
    return {
      receive_mail_language: [
        { text: this.$t('global.options.japanese'), value: 'ja' },
        { text: this.$t('global.options.english'), value: 'en' }
      ],
      valid: false,
      form: {
        full_name: null,
        email: null,
        mobile: null,
        receive_mail_language: this.$store.getters.locale,
        message: null,
        terms: null
      },
      show_form: false,
      show_confirm: false,
      show_success: false,
      sessionData: null
    }
  },
  mounted() {
    this.sessionData =
      JSON.parse(window.sessionStorage.getItem('contact_confirm')) || null
    if (window.sessionStorage.getItem('show_confirm') === 'true') {
      this.show_confirm = true
      this.show_form = false
      this.show_success = false
    } else {
      this.show_confirm = false
      this.show_form = true
      this.show_success = false
    }
    if (this.sessionData !== null) {
      this.form.full_name = this.sessionData.full_name
      this.form.email = this.sessionData.email
      this.form.mobile = this.sessionData.mobile
      this.form.receive_mail_language = this.sessionData.receive_mail_language
      this.form.message = this.sessionData.message
      this.form.terms = this.sessionData.terms
    }
  },
  beforeDestroy() {
    window.sessionStorage.removeItem('show_confirm')
    window.sessionStorage.removeItem('contact_confirm')
  },
  methods: {
    contact_us_confirm(evt) {
      this.$validator.validateAll().then(success => {
        if (success) {
          window.sessionStorage.setItem(
            'contact_confirm',
            JSON.stringify(this.form)
          )
          this.sessionData = this.form
          window.sessionStorage.setItem('show_confirm', true)
          this.show_confirm = true
          this.show_form = false
          this.show_success = false
        } else {
          this.valid = false
        }
      })
    },
    contact_us(evt) {
      this.$toast.clear()
      this.valid = true
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.$refs.overlayloading.start()
            this.$store
              .dispatch('users/contactUs', this.sessionData)
              .then(response => {
                this.valid = false
                this.$refs.overlayloading.finish()
                this.$toast.show(response.data.message, {
                  icon: 'check',
                  type: 'success'
                })
                this.$refs.overlayloading.finish()
                this.show_confirm = false
                this.show_form = false
                this.show_success = true
                // this.$router.push(this.$i18n.path('/contact/success'))
              })
              .catch(err => {
                this.show_confirm = false
                this.show_form = true
                this.show_success = false
                this.valid = false
                this.$refs.overlayloading.finish()
                const errs = []
                _.each(err.response.data.errors, function(messages, field) {
                  errs.push(
                    _.merge(
                      {},
                      {
                        field: field,
                        msg: messages[0]
                      }
                    )
                  )
                })
                if (errs.length > 0) {
                  this.errors.add(errs)
                }
                this.valid = false
                if (parseInt(err.response.status) === 429) {
                  this.$toast.show(
                    this.$t('global.messages.to_many_contact_attempt'),
                    { icon: 'close', type: 'error' }
                  )
                }
              })
            window.sessionStorage.removeItem('show_confirm')
            window.sessionStorage.removeItem('contact_confirm')
          } else {
            this.valid = false
          }
        })
        .catch(() => {
          this.valid = false
        })
    },
    back_contact(evt) {
      this.show_form = true
      this.show_confirm = false
      this.show_success = false
    }
  }
})
</script>

<style scoped>
.password-reset {
  background-color: #27b6c5;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
}
.border-red {
  border: 1px solid red;
}
</style>
