<template>
  <div>
    <OverlayLoading ref="overlayloading" />
    <b-row v-if="show_form" class="mt-5">
      <b-col v-if="show" class="col-md-6 mx-auto">
        <div class="shadow rounded p-3 mb-5">
          <div class="error">
            <span>{{ errors.first('token') }}</span>
          </div>
          <b-form @submit.prevent="verifyEmail">
            <b-form-group
              id="emailgroup"
              :label="this.$t('global.fields.email')"
              label-for="email"
              label-class="required"
            >
              <b-form-input
                id="email"
                v-model="email"
                v-validate="'required|email'"
                :placeholder="this.$t('global.placeholder.email')"
                :disabled="true"
                type="email"
                name="email"
              />
              <div class="error">
                <span>{{ errors.first('email') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              id="full_name"
              :label="this.$t('global.fields.full_name')"
              label-for="full_name"
              label-class="required"
            >
              <b-form-input
                id="full_name"
                v-model="full_name"
                v-validate="'required|romanji'"
                :data-vv-as="this.$t('global.fields.full_name')"
                :placeholder="this.$t('global.placeholder.full_name')"
                data-vv-name="full_name"
              />
              <div class="error">
                <span>{{ errors.first('full_name') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              id="katakana"
              :label="this.$t('global.fields.katakana_full_name')"
              label-for="katakana_full_name"
              label-class="required"
            >
              <b-form-input
                id="katakana_full_name"
                v-model="katakana_full_name"
                v-validate="'required|katakana'"
                :data-vv-as="this.$t('global.fields.katakana_full_name')"
                data-vv-name="katakana_full_name"
              />
              <b-form-text id="inputLiveHelp">
                {{ $t('global.messages.full_width_katakana') }}
              </b-form-text>
              <div class="error">
                <span>{{ errors.first('katakana_full_name') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="country"
              :label="this.$t('global.fields.birth_country')"
              label-for="country"
              label-class="required"
            >
              <b-form-select
                v-model="country"
                v-validate="'required'"
                :data-vv-as="this.$t('global.fields.birth_country')"
                :options="attribute('country')"
                data-vv-name="country"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.country') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('country') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              v-if="country != null"
              id="living_country"
              :label="this.$t('global.fields.living_country')"
              label-for="living_country"
              label-class="required"
            >
              <b-form-select
                v-model="living_country"
                v-validate="'required'"
                :options="attribute('country')"
                :data-vv-as="this.$t('global.fields.living_country')"
                data-vv-name="living_country"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.living_country') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('living_country') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              v-if="country != 1 && country != null"
              :label="this.$t('global.fields.visa_status')"
              label-class="required"
            >
              <b-form-radio-group
                id="radios1"
                v-model="visa_status"
                v-validate="'required'"
                :options="visa_status_options_radio"
                :data-vv-as="this.$t('global.fields.visa_status')"
                data-vv-name="visa_status"
              />
            </b-form-group>

            <b-form-group
              v-if="
                parseInt(country) !== 1 &&
                  country !== null &&
                  visa_status !== null &&
                  parseInt(visa_status) !== 1 &&
                  parseInt(visa_status) !== 2 &&
                  parseInt(visa_status) !== 15 &&
                  parseInt(visa_status) !== 16 &&
                  parseInt(visa_status) !== 22 &&
                  parseInt(visa_status) !== 19
              "
              id="visa_status"
              :label="this.$t('global.fields.visa_status')"
              label-for="visa_status"
              label-class="required"
            >
              <b-form-select
                v-model="visa_status"
                v-validate="'required'"
                :options="visa_status_options_select"
                :data-vv-as="this.$t('global.fields.visa_status')"
                data-vv-name="visa_status"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.visa_status') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('visa_status') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              v-if="
                parseInt(country) !== 1 &&
                  country != null &&
                  parseInt(visa_status) !== 24
              "
              id="visa_issue_date"
              :label="this.$t('global.fields.visa_issue_date')"
              label-for="visa_issue_date"
              label-class="required"
            >
              <CostumDate
                v-model="visa_issue_date"
                v-validate="'required|validate_date'"
                :max="max_date"
                :min="min_visa_issue"
                :months-names="$t('global.fields.months')"
                default="0000-00-00"
                data-vv-name="visa_issue_date"
                type=""
              />
              <div class="error">
                <span>{{ errors.first('visa_issue_date') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              v-if="country != 1 && country != null && visa_status != 24"
              id="visa_exipry_date"
              :label="this.$t('global.fields.visa_expiry_date')"
              label-for="visa_exipry_date"
              label-class="required"
            >
              <CostumDate
                v-model="visa_expiry_date"
                v-validate="'required|validate_date'"
                :data-vv-as="this.$t('global.fields.visa_expiry_date')"
                :min="max_date"
                :max="max_visa_expiry"
                :months-names="$t('global.fields.months')"
                default="0000-00-00"
                data-vv-name="visa_expiry_date"
                type=""
              />
              <div class="error">
                <span>{{ errors.first('visa_expiry_date') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              v-if="
                living_country != 1 && country != null && living_country != null
              "
              id="state"
              :label="this.$t('global.fields.state')"
              label-for="state"
              label-class="required"
            >
              <b-form-input
                id="state"
                v-model="state"
                v-validate="'required'"
                :placeholder="this.$t('global.placeholder.state')"
                :data-vv-as="this.$t('global.fields.state')"
                data-vv-name="state"
              />
              <div class="error">
                <span>{{ errors.first('state') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              v-if="living_country == 1"
              id="zip_code"
              :label="this.$t('global.fields.zip_code')"
              label-for="zip_code"
              label-class="required"
            >
              <b-input-group>
                <b-form-input
                  id="zip_code"
                  v-model="zip_code"
                  v-validate="
                    'required|romanji_number_only|length:7|max:7|excluded:0000000'
                  "
                  :placeholder="this.$t('global.placeholder.zip_code')"
                  :data-vv-as="this.$t('global.fields.zip_code')"
                  data-vv-name="zip_code"
                  @keyup.native="zipChanged()"
                />
                <b-button
                  slot="append"
                  :disabled="
                    errors.has(`zip_code`) ||
                      zip_code == null ||
                      zip_code === ''
                  "
                  variant="primary"
                  size="md"
                  @click="handleGetAddress(zip_code)"
                >
                  <font-awesome-icon
                    :icon="['fas', 'map-marker-alt']"
                    :style="{ color: '#27B6C5' }"
                  />
                  {{ this.$t('global.buttons.fetch') }}
                </b-button>
              </b-input-group>
              <div class="error">
                <span>{{ errors.first('zip_code') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              v-if="living_country == 1"
              id="prefecture"
              :label="this.$t('global.fields.prefecture')"
              label-for="prefecture"
              label-class="required"
            >
              <b-form-select
                v-model="prefecture_id"
                v-validate="'required'"
                :options="attribute('prefecture')"
                :data-vv-as="this.$t('global.fields.prefecture')"
                data-vv-name="prefecture"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.prefecture') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('prefecture') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="address"
              :label="this.$t('global.fields.address')"
              label-for="address"
              label-class="required"
            >
              <b-form-input
                id="address"
                v-model="address"
                v-validate="'required'"
                :placeholder="this.$t('global.placeholder.address')"
                :data-vv-as="this.$t('global.fields.address')"
                data-vv-name="address"
              />
              <div class="error">
                <span>{{ errors.first('address') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="street_address"
              :label="this.$t('global.fields.street_address')"
              label-for="street_address"
              label-class="required"
            >
              <b-form-input
                id="street_address"
                v-model="street_address"
                v-validate="'required'"
                :placeholder="this.$t('global.placeholder.street_address')"
                :data-vv-as="this.$t('global.fields.street_address')"
                data-vv-name="street_address"
              />
              <div class="error">
                <span>{{ errors.first('street_address') }}</span>
              </div>
            </b-form-group>

            <no-ssr>
              <b-form-group
                id="dob"
                :label="this.$t('global.fields.dob')"
                label-for="dob"
                label-class="required"
              >
                <CostumDate
                  v-model="dob"
                  v-validate="'required|validate_date'"
                  :max="max_dob"
                  :months-names="$t('global.fields.months')"
                  min="1920"
                  default="0000-00-00"
                  data-vv-name="dob"
                  type=""
                />
                <div class="error">
                  <span>{{ errors.first('dob') }}</span>
                </div>
              </b-form-group>
            </no-ssr>
            <b-form-group
              id="gender"
              :label="this.$t('global.fields.gender')"
              label-for="gender"
              label-class="required"
            >
              <b-form-select
                v-model="gender"
                v-validate="'required'"
                :value="null"
                :options="attribute('gender')"
                :data-vv-as="this.$t('global.fields.gender')"
                data-vv-name="gender"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.gender') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('gender') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              id="japanese_language_level"
              :label="this.$t('global.fields.japanese_language_level')"
              label-for="japanese_language_level"
              label-class="required"
            >
              <b-form-select
                v-model="japanese_language_level"
                v-validate="'required'"
                :value="null"
                :options="attribute('lang.level')"
                :data-vv-as="this.$t('global.fields.japanese_language_level')"
                data-vv-name="japanese_language_level"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('japanese_language_level') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="japanese_writing_level"
              :label="this.$t('global.fields.japanese_writing_level')"
              label-for="japanese_writing_level"
              label-class="required"
            >
              <b-form-select
                v-model="japanese_writing_level"
                v-validate="'required'"
                :value="null"
                :options="attribute('language_writing_skills')"
                :data-vv-as="this.$t('global.fields.japanese_writing_level')"
                data-vv-name="japanese_writing_level"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('japanese_writing_level') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="english_language_level"
              :label="this.$t('global.fields.english_language_level')"
              label-for="english_language_level"
              label-class="required"
            >
              <b-form-select
                v-model="english_language_level"
                v-validate="'required'"
                :value="null"
                :options="attribute('lang.level')"
                :data-vv-as="this.$t('global.fields.english_language_level')"
                data-vv-name="english_language_level"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('english_language_level') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="mobile"
              :label="this.$t('global.fields.mobile')"
              label-for="mobile"
            >
              <b-form-input
                id="mobile"
                v-model="mobile"
                v-validate="'romanji_number_only|min:9|max:15'"
                :data-vv-as="this.$t('global.fields.mobile')"
                data-vv-name="mobile"
              />
              <div class="error">
                <span>{{ errors.first('mobile') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              id="category"
              :label="this.$t('global.fields.desired_job_category')"
              label-for="category"
              label-class="required"
            >
              <b-form-select
                id="category"
                v-model="desired_job_category"
                v-validate="'required'"
                :data-vv-as="this.$t('global.fields.desired_job_category')"
                data-vv-name="desired_job_category"
                :options="attribute('job_category')"
                name="desired_job_category"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('desired_job_category') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="experience_year"
              :label="this.$t('global.fields.experience')"
              label-for="experience_year"
              label-class="required"
            >
              <b-form-select
                id="experience_year"
                v-model="experience_year"
                v-validate="'required'"
                :data-vv-as="this.$t('global.fields.desired_job_category_exp')"
                data-vv-name="experience_year"
                :options="attribute('experience_year')"
                name="experience_year"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{ errors.first('experience_year') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="annual_min_salary_range"
              :label="this.$t('global.fields.desired_annual_min_salary_range')"
              label-for="annual_min_salary_range"
              label-class="required"
            >
              <b-form-select
                id="annual_min_salary_range"
                v-model="desired_annual_min_salary_range"
                v-validate="'required'"
                :data-vv-as="
                  this.$t('global.fields.desired_annual_min_salary_range')
                "
                data-vv-name="desired_annual_min_salary_range"
                :options="attribute('annual_min_salary_range')"
                name="desired_annual_min_salary_range"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
              <div class="error">
                <span>{{
                  errors.first('desired_annual_min_salary_range')
                }}</span>
              </div>
            </b-form-group>

            <b-form-group
              :label="this.$t('global.fields.receive_mail_language')"
            >
              <b-form-radio-group
                id="receive_mail_language"
                v-model="receive_mail_language"
                v-validate="'required'"
                :options="receive_mail_language_options"
                name="receive_mail_language"
              />
            </b-form-group>

            <b-form-group
              id="passwordgroup"
              :label="this.$t('global.fields.password')"
              label-for="password"
              label-class="required"
            >
              <b-form-input
                id="password"
                ref="password"
                v-model="password"
                v-validate="'required|verify_password|min:8|max:15'"
                :placeholder="this.$t('global.placeholder.password')"
                :data-vv-as="this.$t('global.fields.password')"
                type="password"
                name="password"
              />
              <b-form-text id="inputLiveHelp">
                {{ $t('global.messages.password_help_text') }}
              </b-form-text>
              <div class="error">
                <span>{{ errors.first('password') }}</span>
              </div>
            </b-form-group>

            <b-form-group
              id="confirmpasswordgroup"
              :label="this.$t('global.fields.re_password')"
              label-for="password_confirmation"
              label-class="required"
            >
              <b-form-input
                id="password_confirmation"
                v-model="password_confirmation"
                v-validate="'required|confirmed:password'"
                :placeholder="this.$t('global.placeholder.re_password')"
                :data-vv-as="this.$t('global.fields.re_new_password')"
                name="password_confirmation"
                data-vv-name="password_confirmation"
                type="password"
              />
              <div class="error">
                <span>{{ errors.first('password_confirmation') }}</span>
              </div>
            </b-form-group>

            <div class="d-flex justify-content-center">
              <b-button
                :disabled="valid"
                size="md"
                type="submit"
                variant="outline-info"
              >
                <font-awesome-icon
                  v-if="valid"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />{{ this.$t('global.buttons.submit') }}
              </b-button>
            </div>
          </b-form>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="!show_form" class="mt-5">
      <b-col class="col-md-12">
        <div class="p-3">
          <b-row class="password-reset p-2">
            <span>{{ $t('global.titles.register_success') }}</span>
          </b-row>
          <b-row class="p-2">
            <p>
              {{ $t('global.messages.register_success_message') }}
            </p>
          </b-row>
        </div>
      </b-col>
      <b-col class="col-md-3 mx-auto">
        <b-row class="p-2">
          <b-btn
            :disabled="valid"
            variant="outline-info"
            @click="$router.push($i18n.path('/'))"
          >
            <font-awesome-icon
              v-if="valid"
              :icon="['fas', 'spinner']"
              :style="{ color: '#27B6C5' }"
            />
            {{ $t('global.buttons.back_to_top') }}
          </b-btn>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
import CostumDate from '~/components/UI/CostumDate'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  components: {
    CostumDate,
    OverlayLoading
  },
  computed: {
    max_date: function() {
      return new Date().getFullYear().toString()
    },
    min_visa_issue: function() {
      return (new Date().getFullYear() - 20).toString()
    },
    max_visa_expiry: function() {
      return (new Date().getFullYear() + 20).toString()
    },
    max_dob: function() {
      return (new Date().getFullYear() - 18).toString()
    }
  },
  layout: 'default',

  pageRootKey: 'verifyEmail',

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      show_form: true,
      show: false,
      is_expired: false,
      visa_status_options_radio: _.remove(
        this.attribute('visa_status'),
        function(n) {
          return (
            parseInt(n.value) === 1 ||
            parseInt(n.value) === 2 ||
            parseInt(n.value) === 15 ||
            parseInt(n.value) === 16 ||
            parseInt(n.value) === 100 ||
            parseInt(n.value) === 22 ||
            parseInt(n.value) === 19
          )
        }
      ),
      visa_status_options_select: _.remove(
        this.attribute('visa_status'),
        function(n) {
          return (
            parseInt(n.value) !== 1 &&
            parseInt(n.value) !== 2 &&
            parseInt(n.value) !== 15 &&
            parseInt(n.value) !== 16 &&
            parseInt(n.value) !== 22 &&
            parseInt(n.value) !== 19
          )
        }
      ),
      receive_mail_language_options: [
        { text: this.$t('global.options.english'), value: 'en' },
        { text: this.$t('global.options.japanese'), value: 'ja' }
      ],
      visa_status_other: false,
      valid: false,
      token: this.$route.query.token,
      email: null,
      full_name: null,
      katakana_full_name: null,
      password: null,
      password_confirmation: null,
      country: null,
      living_country: null,
      state: null,
      zip_code: null,
      prefecture_id: null,
      address: null,
      street_address: null,
      dob: null,
      gender: null,
      mobile: null,
      japanese_language_level: null,
      english_language_level: null,
      japanese_writing_level: null,
      visa_status: null,
      visa_issue_date: null,
      visa_expiry_date: null,
      desired_job_category: null,
      desired_annual_min_salary_range: null,
      experience_year: null,
      receive_mail_language: this.$store.getters.locale
    }
  },

  async fetch({ app, store }) {
    return Promise.all([
      await store.dispatch('attributeAsync', [
        'country',
        'gender',
        'lang.level',
        'visa_status',
        'experience_year'
      ]),
      await store.dispatch('attributeAsync', [
        'prefecture',
        'language_writing_skills',
        'job_category',
        'annual_min_salary_range'
      ])
    ])
  },

  beforeMount() {
    this.$store
      .dispatch('users/preVerifyEmail', { token: this.$route.query.token })
      .then(response => {
        this.show = true
        this.email = response.email
        this.full_name = response.full_name
      })
      .catch(err => {
        this.valid = false
        this.$toast.show(err.response.data.message, {
          icon: 'close',
          type: 'error'
        })
        if (parseInt(err.response.status) === 401) {
          this.$router.push(
            this.$i18n.path(
              `/user/verify/email/resend?email=${err.response.data.email}`
            )
          )
        } else if (parseInt(err.response.status) === 400) {
          // already verified
          this.$router.push(
            this.$i18n.path(
              `/user/verify/email/already-verified?email=${err.response.data.email}`
            )
          )
        } else {
          this.$router.push(this.$i18n.path('/'))
        }
      })
  },

  created() {
    this.veevalidateLocalize()
  },

  methods: {
    zipChanged() {
      if (this.zip_code != null) {
        this.zip_code = this.zip_code.replace(/-/g, '')
      }
    },
    handleGetAddress(value) {
      this.$toast.clear()
      this.$store
        .dispatch('loactionZipcode', { zip_code: value })
        .then(response => {
          if (response.status === 'OK') {
            this.address =
              response.data.data[`address_${this.$store.getters.locale}`]
            this.street_address =
              response.data.data[`street_address_${this.$store.getters.locale}`]
            this.prefecture_id = this.attributeByText(
              'prefecture',
              response.data.data[`prefecture_${this.$store.getters.locale}`]
            ).value
          } else {
            this.$toast.error(this.$t('global.messages.location_fetch_error'), {
              icon: 'close',
              type: 'error'
            })
          }
        })
        .catch(() => {
          this.$toast.error(this.$t('global.messages.location_fetch_error'), {
            icon: 'close',
            type: 'error'
          })
        })
    },

    verifyEmail(evt) {
      this.$toast.clear()
      this.errors.clear()
      this.valid = true
      this.$validator.validateAll().then(success => {
        if (success) {
          this.$refs.overlayloading.start()
          this.$store
            .dispatch('users/verifyEmail', {
              token: this.token,
              email: this.email,
              full_name: this.full_name,
              katakana_full_name: this.katakana_full_name,
              password: this.password,
              password_confirmation: this.password_confirmation,
              country: this.country,
              zip_code: this.zip_code,
              prefecture_id: this.prefecture_id,
              address: this.address,
              street_address: this.street_address,
              dob: this.dob,
              living_country: this.living_country,
              mobile: this.mobile,
              gender: this.gender,
              state: this.state,
              japanese_language_level: this.japanese_language_level,
              japanese_writing_level: this.japanese_writing_level,
              english_language_level: this.english_language_level,
              visa_status: this.visa_status,
              desired_job_category: this.desired_job_category,
              desired_annual_min_salary_range: this
                .desired_annual_min_salary_range,
              experience_year: this.experience_year,
              receive_mail_language: this.receive_mail_language,
              visa_issue_date:
                parseInt(this.country) !== 1 &&
                parseInt(this.visa_status) !== 24
                  ? this.visa_issue_date
                  : null,
              visa_expiry_date:
                parseInt(this.country) !== 1 &&
                parseInt(this.visa_status) !== 24
                  ? this.visa_expiry_date
                  : null
            })
            .then(response => {
              this.$refs.overlayloading.finish()
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              if (JSON.parse(process.env.LANDING) === true) {
                this.show_form = false
                this.valid = false
              } else {
                this.$router.push(this.$i18n.path('/login'))
              }
            })
            .catch(err => {
              this.$refs.overlayloading.finish()
              this.valid = false
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
            })
        } else {
          this.scrollToClass('error')
          this.valid = false
          this.$toast.show(this.$t('global.messages.validation_error'), {
            icon: 'close',
            type: 'error'
          })
        }
      })
    }
  }
})
</script>

<style scoped>
.password-reset {
  background-color: #27b6c5;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
}
.border-red {
  border: 1px solid red;
}
</style>
