<template>
  <section>
    <b-row class="mt-5">
      <b-col class="col-md-12">
        <div class="p-3">
          <b-row class="password-reset p-2">
            <span>Verify Email</span>
          </b-row>
          <b-row class="p-2">
            <p>
              [ {{ this.$route.query.email || '' }} ]{{
                $t('global.messages.token_expire_or_not_register')
              }}
            </p>
          </b-row>
        </div>
      </b-col>
    </b-row>
    <b-col class="col-md-2 mx-auto">
      <b-row class="p-2">
        <b-btn
          :disabled="valid"
          variant="outline-info"
          @click="$router.push($i18n.path('/register'))"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ $t('global.buttons.register') }}
        </b-btn>
      </b-row>
    </b-col>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'

export default nuxtend({
  layout: 'default',

  pageRootKey: 'resend',

  mixins: [base()],

  middleware: ['isLoggedIn'],

  data() {
    return {
      valid: false,
      email: null
    }
  },

  validate({ params, query, store }) {
    return /\S+@\S+\.\S+/.test(query.email)
  }
})
</script>

<style scoped>
.password-reset {
  background-color: #27b6c5;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
}
.border-red {
  border: 1px solid red;
}
</style>
