<template>
  <div id="wishlist-results">
    <BreadCrumb :menu="breadCrumb" />
    <section>
      <WishList :jobs="jobs" />
      <Pagination :meta="meta" page="user.wishlist" />
    </section>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import Pagination from '~/components/Navigation/Pagination'
import WishList from '~/components/Job/WishList'
export default nuxtend({
  components: {
    BreadCrumb,
    WishList,
    Pagination
  },

  middleware: 'loggedIn',

  async fetch({ app, store, query }) {
    return Promise.all([
      await store.dispatch('jobs/getUserWishlist', { page: query.page || 1 }),
      await store.dispatch('attributeAsync', [
        'time_period',
        'employment_type',
        'boolean',
        'business_content',
        'job_category',
        'salary_type'
      ]),
      await store.dispatch('attributeAsync', [
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'others'
      ]),
      await store.dispatch('attributeAsync', ['prefecture', 'region'])
    ])
  },

  watchQuery: true,

  computed: {
    ...mapGetters({
      jobs: 'jobs/wishlists',
      meta: 'jobs/meta'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.wishlist'),
          route: `/user/wishlist`
        }
      ]
    }
  }
})
</script>
