<template>
  <section>
    <div class="p-3">
      <b-card-group columns>
        <b-card
          v-for="(item, key) in companies"
          :key="key"
          :title="item.company_name[$store.getters.locale]"
          :img-src="images[key]"
          img-fluid
          img-alt="image"
          img-top
          class="w-100"
        >
          <hr />
          <p class="card-text">
            {{
              item.about_company[$store.getters.locale] != null
                ? item.about_company[$store.getters.locale].replace(
                    /^(.{30}[^\s]*).*/,
                    '$1'
                  )
                : 'N/A'
            }}
          </p>
          <div class="company_bottom_info">
            <p><small class="text-muted">No of Branch :</small></p>
            <p><small class="text-muted">Establishment :</small></p>
            <p><small class="text-muted">Business Content :</small></p>
          </div>
        </b-card>
      </b-card-group>
    </div>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'

export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'companies.list'
      }
    },
    companies: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  mixins: [base()],
  data() {
    return {
      images: [
        'https://www.logowit.com/wp-content/uploads/2016/04/designer-portfolio-sub-1.png',
        'https://placeimg.com/700/400/tech',
        'https://placeimg.com/640/500/tech',
        'https://placeimg.com/640/480/tech',
        'https://placeimg.com/540/480/tech',
        'https://placeimg.com/300/200/tech'
      ]
    }
  }
})
</script>
<style scoped>
.company_bottom_info p {
  margin-bottom: 0px;
}
</style>
