<template>
  <section class="p-5">
    <b-row>
      <b-col class="col-lg-12 mx-auto">
        <div class="search-form mx-auto">
          <b-form inline>
            <b-input
              :placeholder="this.$t('global.search_form.search_placeholder')"
              class="mb-4 mr-sm-2 mb-sm-0"
            />

            <b-form-select
              :value="null"
              :options="attribute('employment_type')"
              class="mb-2 mr-sm-2 mb-sm-0"
            >
              <option slot="first" :value="null">
                {{ this.$t('global.fields.employment_type') }}
              </option>
            </b-form-select>
            <b-form-select
              :value="null"
              :options="attribute('job_category')"
              class="mb-2 mr-sm-2 mb-sm-0"
            >
              <option slot="first" :value="null">
                {{ $t('global.fields.category') }}
              </option>
            </b-form-select>
            <b-form-select
              :value="null"
              :options="attribute('lang.level')"
              class="mb-2 mr-sm-2 mb-sm-0"
            >
              <option slot="first" :value="null">
                {{ $t('global.fields.japanese_language_level') }}
              </option>
            </b-form-select>
            <b-button class="w-15" variant="primary">
              {{ $t('global.buttons.search') }}
            </b-button>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  mixins: [base()]
})
</script>

<style scoped></style>
