<template>
  <section>
    <OverlayLoading ref="overlayloading" />
    <BreadCrumb :menu="breadCrumb" />
    <div class="shadow p-4">
      <ListItem v-if="multiple == 'single'" :item="job" page="job.apply" />
      <b-table
        v-if="multiple == 'multiple'"
        :small="true"
        :items="wishlist_selected"
        :fields="fields"
        stacked="sm"
      >
        <template slot="job_title" slot-scope="data">
          {{ data.item.job_title[$store.getters.locale] }}
        </template>
        <template slot="company_name" slot-scope="data">
          {{ data.item.provider_info.company_name[$store.getters.locale] }}
        </template>
        <template slot="category" slot-scope="data">
          {{
            attribute('job_category', data.item.category_id).text +
              ' - ' +
              attribute(
                attribute('job_category', data.item.category_id).self,
                data.item.sub_category_id
              ).text
          }}
        </template>
      </b-table>
      <div class="heading p-2">
        {{ $t('global.titles.basic_information') }}
      </div>
      <BasicProfileUpdate
        ref="basicInfo"
        :user="user"
        :profile="profile"
        :page="'job.apply'"
      />
      <div class="heading p-2">
        {{ $t('global.titles.resume_information') }}
      </div>
      <ResumeUpdate
        ref="resumeInfo"
        :user="user"
        :profile="profile"
        :page="'job.apply'"
      />
      <div class="heading p-2">
        {{ $t('global.titles.experience') }}
      </div>
      <ExperienceUpdate
        ref="experience"
        :user="user"
        :experiences="experience"
        :page="'job.apply'"
      />
      <div class="heading p-2">
        {{ $t('global.titles.education') }}
      </div>
      <EducationUpdate
        ref="education"
        :user="user"
        :educations="education"
        :page="'job.apply'"
      />
      <div v-if="education_count == 0" class="error">
        <span>{{ $t('global.messages.edu_necessary') }}</span>
      </div>

      <div class="heading p-2">
        {{ $t('global.titles.certificate') }}
      </div>
      <CertificateUpdate
        ref="certificate"
        :user="user"
        :certifications="certificate"
        :page="'job.apply'"
      />
      <div class="heading p-2">
        {{ $t('global.titles.skills') }}
      </div>
      <SkillUpdate
        ref="skill"
        :user="user"
        :passed-user-skills="skills"
        :page="'job.apply'"
      />
      <div class="heading p-2">
        {{ $t('global.titles.video') }}
      </div>
      <b-form-file
        :placeholder="this.$t('global.placeholder.select_job_video')"
        accept="video/*"
        @change="videoChanged"
      />
      <div id="thumbnail" />
      <video
        v-if="video"
        id="myVideo"
        width="100%"
        height="300px"
        controls
        autoplay
      />
      <b-form-text id="inputLiveHelp">
        {{ $t('global.messages.video_limit') }}
      </b-form-text>
      <div v-if="video_url == ''" class="error">
        <span>{{ $t('global.messages.video_necessary') }}</span>
      </div>
      <div class="d-flex justify-content-center">
        <b-button
          v-if="!processing"
          :disabled="valid"
          size="md"
          variant="outline-info"
          @click="apply_confirm(0)"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ $t('global.buttons.apply') }}
        </b-button>
        <b-button
          v-if="!processing"
          :disabled="valid"
          size="md"
          variant="outline-info"
          @click="apply_confirm(1)"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ $t('global.buttons.save_and_apply') }}
        </b-button>
        <b-button
          v-if="processing"
          :disabled="true"
          size="md"
          variant="outline-info"
        >
          <font-awesome-icon
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ $t('global.buttons.processing') }}
        </b-button>
      </div>
    </div>
    <b-modal v-model="show_modal" :title="$t('global.titles.apply')">
      {{ $t('global.messages.apply_sure') }}
      <div slot="modal-footer" class="w-100">
        <div class="w-100">
          <b-row align-h="center">
            <b-col cols="4">
              <b-button variant="outline-primary" block @click="apply()">
                {{ $t('global.buttons.yes') }}
              </b-button>
            </b-col>
            <b-col cols="4">
              <b-button variant="outline-danger" block @click="closeModal()">
                {{ $t('global.buttons.no') }}
              </b-button>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-modal>
  </section>
</template>
<script>
import _ from 'lodash'
// component code
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import BasicProfileUpdate from '~/components/Profile/Basic/BasicProfileUpdate'
import ResumeUpdate from '~/components/Profile/Resume/ResumeUpdate'
import ExperienceUpdate from '~/components/Profile/Resume/Experience/ExperienceUpdate'
import EducationUpdate from '~/components/Profile/Resume/Education/EducationUpdate'
import CertificateUpdate from '~/components/Profile/Resume/Certificate/CertificateUpdate'
import SkillUpdate from '~/components/Profile/Resume/Skill/SkillUpdate'
import ListItem from '~/components/Job/ListItem'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'

export default nuxtend({
  pageRootKey: 'profile.update',

  mixins: [base()],

  middleware: 'loggedIn',

  components: {
    BreadCrumb,
    BasicProfileUpdate,
    ResumeUpdate,
    ExperienceUpdate,
    EducationUpdate,
    CertificateUpdate,
    SkillUpdate,
    ListItem,
    OverlayLoading
  },
  async fetch({ app, store, params }) {
    return Promise.all([
      await store.dispatch(
        'users/getSeekerProfileInfo',
        store.getters.loggedInUser.user_type_id
      ),
      await store.dispatch('attributeAsync', [
        'gender',
        'country',
        'visa_status',
        'lang.level',
        'degree',
        'prefecture',
        'skills.level',
        'language_writing_skills'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.ms_office',
        'skill.programming',
        'skill.database',
        'skill.design',
        'employment_type',
        'graduation_status',
        'experience_year'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.operating_system',
        'skill.middleware',
        'skill.framework',
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'others',
        'salary_type'
      ]),
      await store.dispatch('attributeAsync', [
        'annual_salary_range',
        'annual_min_salary_range',
        'job_category',
        'business_content',
        'skill_experience'
      ])
    ]).then(async res => {
      if (params.slug !== 'multiple') {
        await store.dispatch('jobs/getJob', params.slug)
      }
    })
  },

  mounted() {
    this.education_count = this.education.length
    if (this.$route.params.slug !== 'multiple') {
      if (this.job.id === undefined) {
        this.$router.push(this.$i18n.path('/jobs'))
      }
      this.multiple = 'single'
    } else {
      if (this.wishlist_selected.length < 1) {
        this.$router.push(this.$i18n.path('/user/wishlist'))
      }
      this.multiple = 'multiple'
    }
    this.$watch('$refs.basicInfo.valid', (newValue, oldValue) => {
      this.valid = newValue
    })
    this.$watch('$refs.education.dataForm.educations', (newValue, oldValue) => {
      this.education_count = newValue.length
    })
  },
  computed: {
    ...mapGetters({
      user: 'users/loggedInUserDetail',
      profile: 'users/profile',
      education: 'users/education',
      experience: 'users/experiences',
      certificate: 'users/certificate',
      skills: 'users/skills',
      job: 'jobs/job',
      wishlist_selected: 'jobs/wishlist_selected'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.jobs'),
          route: '/jobs'
        },
        {
          text: this.$t('breadcrumbs.job_apply'),
          route: ``
        }
      ]
    }
  },
  data() {
    return {
      save: 0,
      show_modal: false,
      server_validation_error: false,
      profile_refresh: false,
      videoType: '',
      education_count: 0,
      processing: false,
      validating_data: false,
      video: null,
      video_url: '',
      valid: false,
      multiple: 'N/A',
      fields: [
        {
          key: 'job_title',
          label: this.$t('global.fields.job_title')
        },
        {
          key: 'company_name',
          label: this.$t('global.fields.company_name')
        },
        {
          key: 'category',
          label: this.$t('global.fields.category')
        }
      ]
    }
  },
  updated() {
    if (this.video !== null && this.video_url === 'selected') {
      const video = document.querySelector('video')
      video.src = window.URL.createObjectURL(this.video)
      video.addEventListener('loadeddata', function() {
        video.pause()
      })
    }
  },
  methods: {
    /**
     *
     * @param video_file
     */
    videoChanged(videoFile) {
      const file = videoFile.target.files[0]
      if (file !== undefined) {
        this.valid = true
        const allowedExtensions = /(\.mp4|\.mov)$/i
        if (allowedExtensions.exec(file.name.toLowerCase())) {
          if (videoFile.target.files[0].size > 20971420) {
            this.valid = false
            alert(this.$t('global.messages.video_size'))
            return false
          }
          this.video = file
          this.videoType = file.name.substr(file.name.lastIndexOf('.') + 1)
          this.valid = false
          this.video_url = 'selected'
        } else {
          this.valid = false
          alert(this.$t('global.messages.video_type_not_allowed'))
          return false
        }
      }
    },
    /**
     *
     * @returns {*}
     */
    uploadImage() {
      if (this.$refs.basicInfo.newImage) {
        this.$toast.clear()
        this.$toast.show(this.$t('global.messages.uploading_photo'), {
          type: 'info'
        })
        return this.$store
          .dispatch('users/getSignedUrl', {
            type: 'image',
            extension: this.$refs.basicInfo.imageType
          })
          .then(response => {
            if (response.data.signedUrl) {
              this.$refs.basicInfo.tempImage = response.data.tempImage
              const options = {
                headers: {
                  'Content-Type': `image/${this.$refs.basicInfo.imageType}`
                }
              }
              return this.$axios
                .put(
                  response.data.signedUrl,
                  this.$refs.basicInfo.rawImage,
                  options
                )
                .then(response => {
                  return true
                })
                .catch(() => {
                  return false
                })
            }
          })
          .catch(() => {
            return false
          })
      } else {
        return true
      }
    },
    /**
     *
     * @returns {*}
     */
    uploadVideo() {
      if (this.video) {
        this.$toast.clear()
        this.$toast.show(this.$t('global.messages.uploading_video'), {
          type: 'info'
        })
        return this.$store
          .dispatch('users/getSignedUrl', {
            type: 'video',
            extension: this.videoType
          })
          .then(response => {
            if (response.data.signedUrl) {
              this.video_url = response.data.tempImage
              const options = {
                headers: {
                  'Content-Type': `video/${this.videoType}`
                }
              }
              return this.$axios
                .put(response.data.signedUrl, this.video, options)
                .then(response => {
                  return true
                })
                .catch(() => {
                  return false
                })
            }
          })
          .catch(() => {
            return false
          })
      } else {
        return true
      }
    },

    serverValidation(applyDataStructure) {
      this.$toast.clear()
      this.$toast.show(this.$t('global.messages.server_validation'), {
        type: 'info'
      })
      return this.$store
        .dispatch('jobs/beroreApplyJob', applyDataStructure)
        .then(response => {
          return true
        })
        .catch(err => {
          this.server_validation_error = true
          this.renderValidationError(err)
          return false
        })
    },

    renderValidationError(err) {
      this.valid = false
      this.processing = false
      this.$refs.overlayloading.finish()
      const errs = {
        basic_errs: [],
        resume_errs: [],
        education_errs: [],
        experience_errs: [],
        certificate_errs: []
      }
      _.each(err.response.data.errors, function(messages, field) {
        const realField = field.split('.')
        if (realField[0] === 'basicUpdate') {
          errs.basic_errs.push(
            _.merge(
              {},
              {
                field: realField[1],
                scope: realField[0],
                msg: messages[0]
              }
            )
          )
        }
        if (realField[0] === 'resumeUpdate') {
          errs.resume_errs.push(
            _.merge(
              {},
              {
                field: realField[1],
                scope: realField[0],
                msg: messages[0]
              }
            )
          )
        }
        if (realField[0] === 'experienceUpdate') {
          errs.experience_errs.push(
            _.merge(
              {},
              {
                field: `${realField[3]}_${realField[2]}`,
                scope: realField[0],
                msg: messages[0]
              }
            )
          )
        }
        if (realField[0] === 'educationUpdate') {
          errs.education_errs.push(
            _.merge(
              {},
              {
                field: `${realField[3]}_${realField[2]}`,
                scope: realField[0],
                msg: messages[0]
              }
            )
          )
        }
        if (realField[0] === 'certificateUpdate') {
          errs.certificate_errs.push(
            _.merge(
              {},
              {
                field: `${realField[3]}_${realField[2]}`,
                scope: realField[0],
                msg: messages[0]
              }
            )
          )
        }
      })
      this.$refs.basicInfo.errors.add(errs.basic_errs)
      this.$refs.resumeInfo.errors.add(errs.resume_errs)
      this.$refs.experience.errors.add(errs.experience_errs)
      this.$refs.education.errors.add(errs.education_errs)
      this.$refs.certificate.errors.add(errs.certificate_errs)
      this.$toast.show(err.response.data.message, {
        icon: 'close',
        type: 'error'
      })
      this.scrollToClass('error')
    },

    closeModal() {
      this.show_modal = false
    },
    apply_confirm(save) {
      this.save = save
      this.$toast.clear()
      debugger
      if (this.$refs.basicInfo.imageBackground == null) {
        this.$refs.basicInfo.job_apply_image = false
        this.valid = false
        this.processing = false
        this.$toast.show(this.$t('global.messages.image_required'), {
          icon: 'close',
          type: 'error'
        })
      } else if (this.video_url !== '' && this.education_count > 0) {
        debugger
        this.$refs.basicInfo.job_apply_image = true
        Promise.all([
          this.$refs.basicInfo.$validator.validateScopes(
            this.$refs.basicInfo.scope
          ),
          this.$refs.resumeInfo.$validator.validateScopes(
            this.$refs.resumeInfo.scope
          ),
          this.$refs.experience.$validator.validateScopes(
            this.$refs.experience.scope
          ),
          this.$refs.education.$validator.validateScopes(
            this.$refs.education.scope
          ),
          this.$refs.certificate.$validator.validateScopes(
            this.$refs.certificate.scope
          )
        ]).then(result => {
          debugger
          if (_.indexOf(result, false) === -1) {
            this.show_modal = true
          } else {
            this.$refs.overlayloading.finish()
            this.processing = false
            this.scrollToClass('error')
            this.valid = false
            this.$toast.clear()
            this.$toast.show(this.$t('global.messages.validation_error'), {
              icon: 'close',
              type: 'error'
            })
          }
        })
      } else {
        this.show_modal = false
        this.$refs.overlayloading.finish()
        this.processing = false
        this.scrollToClass('error')
        this.valid = false
        this.$toast.clear()
        this.$toast.show(this.$t('global.messages.validation_error'), {
          icon: 'close',
          type: 'error'
        })
      }
    },
    /**
     *
     * @param save
     * @returns {Promise<void>}
     */
    apply(save) {
      this.show_modal = false
      if (parseInt(this.save) === 1) {
        this.profile_refresh = true
      }
      this.valid = true
      this.processing = true
      this.$toast.clear()
      if (this.$refs.basicInfo.imageBackground == null) {
        this.$refs.basicInfo.job_apply_image = false
        this.valid = false
        this.processing = false
        this.$toast.show(this.$t('global.messages.image_required'), {
          icon: 'close',
          type: 'error'
        })
      } else if (this.video_url !== '' && this.education_count > 0) {
        this.$refs.basicInfo.job_apply_image = true
        Promise.all([
          this.$refs.basicInfo.$validator.validateScopes(
            this.$refs.basicInfo.scope
          ),
          this.$refs.resumeInfo.$validator.validateScopes(
            this.$refs.resumeInfo.scope
          ),
          this.$refs.experience.$validator.validateScopes(
            this.$refs.experience.scope
          ),
          this.$refs.education.$validator.validateScopes(
            this.$refs.education.scope
          ),
          this.$refs.certificate.$validator.validateScopes(
            this.$refs.certificate.scope
          )
        ]).then(async result => {
          if (_.indexOf(result, false) === -1) {
            // first validate data on server side to before uploading image and video,
            this.valid = true
            let jobId = this.job.id
            const userSkillsFinal = []
            _.each(this.$refs.skill.userSkills, function(field, key) {
              const singleSkill = {}
              singleSkill.skill_type = field.group_name
              singleSkill.skill_id = field.value
              singleSkill.level = field.level
              userSkillsFinal.push(singleSkill)
            })
            if (this.multiple === 'multiple') {
              const jobIds = []
              _.each(this.wishlist_selected, (value, key) => {
                jobIds.push(value.job_id)
              })
              jobId = jobIds
            }
            const applyDataStructure = {
              save: this.save,
              job_id: jobId,
              basicUpdate: {},
              resumeUpdate: {},
              educationUpdate: {
                educations: []
              },
              experienceUpdate: {
                experiences: []
              },
              certificateUpdate: {
                certificates: []
              },
              skillUpdate: {
                skills: []
              },
              video: this.video_url
            }
            applyDataStructure.basicUpdate = this.$refs.basicInfo.dataForm
            applyDataStructure.resumeUpdate = this.$refs.resumeInfo.dataForm
            applyDataStructure.educationUpdate.educations = this.$refs.education.dataForm.educations
            applyDataStructure.experienceUpdate.experiences = this.$refs.experience.dataForm.user_experiences
            applyDataStructure.skillUpdate.skills = userSkillsFinal
            applyDataStructure.certificateUpdate.certificates = this.$refs.certificate.dataForm.certifications
            applyDataStructure.deleted_data = {
              education: this.$refs.education.deleted_ids,
              experience: this.$refs.experience.deleted_ids,
              certificate: this.$refs.certificate.deleted_ids
            }
            delete applyDataStructure.basicUpdate.password
            this.processing = true
            this.$refs.overlayloading.start()
            if (
              (await this.serverValidation(applyDataStructure)) &&
              (await this.uploadVideo()) &&
              (await this.uploadImage())
            ) {
              applyDataStructure.video_url = this.video_url
              this.$refs.basicInfo.dataForm.newImage = this.$refs.basicInfo.newImage
              this.$refs.basicInfo.dataForm.removeImage = this.$refs.basicInfo.removeImage
              this.$refs.basicInfo.dataForm.tempImage = this.$refs.basicInfo.tempImage
              applyDataStructure.basicUpdate = this.$refs.basicInfo.dataForm
              this.$store
                .dispatch('jobs/applyJob', applyDataStructure)
                .then(response => {
                  this.valid = false
                  this.processing = false
                  this.$toast.clear()
                  this.$toast.show(response.data.message, {
                    icon: 'check',
                    type: 'success'
                  })
                  if (this.profile_refresh) {
                    this.$store.dispatch(
                      'users/getSeekerProfileInfo',
                      this.$store.getters.loggedInUser.user_type_id
                    )
                    this.$router.push(this.$i18n.path('/user/application'))
                  } else {
                    this.$router.push(this.$i18n.path('/user/application'))
                  }
                })
                .catch(err => {
                  this.renderValidationError(err)
                  this.valid = false
                })
            } else {
              this.processing = false
              this.scrollToClass('error')
              this.valid = false
              this.$toast.clear()
              this.$refs.overlayloading.finish()
              if (this.server_validation_error) {
                this.$toast.show(this.$t('global.messages.validation_error'), {
                  icon: 'close',
                  type: 'error'
                })
              } else {
                this.$toast.show(
                  this.$t('global.messages.media_upload_error'),
                  {
                    icon: 'close',
                    type: 'error'
                  }
                )
              }
            }
          } else {
            this.$refs.overlayloading.finish()
            this.processing = false
            this.scrollToClass('error')
            this.valid = false
            this.$toast.clear()
            this.$toast.show(this.$t('global.messages.validation_error'), {
              icon: 'close',
              type: 'error'
            })
          }
        })
      } else {
        this.$refs.overlayloading.finish()
        this.processing = false
        this.scrollToClass('error')
        this.valid = false
        this.$toast.clear()
        this.$toast.show(this.$t('global.messages.validation_error'), {
          icon: 'close',
          type: 'error'
        })
      }
    }
  }
})
</script>
<style scoped>
.heading {
  background-color: #27b6c5;
  color: #ffffff;
  text-align: left !important;
}
section {
  text-align: left !important;
}
.modal-header {
  background: #27b6c5;
  color: #ffffff;
}
</style>
