<template>
  <div class="pagebanner">
    <h2>Page Banner</h2>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: 'pageBanner'
    }
  }
}
</script>
<style scoped>
.pagebanner {
  background: center center
    url('https://ak5.picdn.net/shutterstock/videos/5232725/thumb/1.jpg')
    no-repeat;
  background-size: cover;
  height: 150px;
  text-align: center;
}
h2 {
  color: white;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  display: inline-block;
}
h2:after {
  content: '';
  background: red;
  width: 100%;
  height: 5px;
  display: block;
}
</style>
