<template>
  <div class="jb-no-records">
    <h3>
      <i class="material-icons mr-2">sentiment_very_dissatisfied</i
      >{{ $t('global.messages.no_records') }}
    </h3>
  </div>
</template>

<script>
export default {
  name: 'NoRecords'
}
</script>

<style scoped></style>
