<template>
  <div id="application-results">
    <BreadCrumb :menu="breadCrumb" />
    <section>
      <b-row>
        <b-col class="col-12">
          {{ this.$t('global.messages.application_list') }}
        </b-col>
      </b-row>
    </section>
    <ApplicationList :jobs="jobs" />
    <Pagination :meta="meta" page="user.application" />
  </div>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import Pagination from '~/components/Navigation/Pagination'
import ApplicationList from '~/components/Job/ApplicationList'

export default nuxtend({
  components: {
    BreadCrumb,
    ApplicationList,
    Pagination
  },

  middleware: 'loggedIn',

  async fetch({ app, store, query }) {
    return Promise.all([
      await store
        .dispatch('jobs/getUserApplication', {
          page: query.page || 1
        })
        .then(response => {
          this.scrollToContent()
        })
        .catch(() => {}),
      await store.dispatch('attributeAsync', [
        'time_period',
        'country',
        'experience',
        'gender',
        'lang.level',
        'employment_type',
        'boolean',
        'business_content',
        'job_category'
      ]),
      await store.dispatch('attributeAsync', [
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'others',
        'salary_type',
        'prefecture',
        'region'
      ])
    ])
  },

  watchQuery: true,

  computed: {
    ...mapGetters({
      jobs: 'jobs/applications',
      meta: 'jobs/meta'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.applications'),
          route: `/user/application`
        }
      ]
    }
  },
  methods: {
    scrollToContent() {
      if (!process.server) {
        _.delay(() => {
          const el =
            document !== undefined
              ? document.querySelector('#application-results')
              : ''
          if (el) {
            window.scroll(0, el.offsetTop)
          }
        }, 500)
      }
    }
  }
})
</script>
