<template>
  <section class="border p-2">
    <OverlayLoading ref="overlayloading" />
    <h2>{{ $t('global.titles.resume_info') }}</h2>
    <b-row>
      <b-col class="col-12">
        <b-form :data-vv-scope="scope" @submit.prevent="emitResumeUpdate">
          <!-- <b-form-group :label="this.$t('global.fields.is_experienced')">
            <b-form-checkbox
              id="is_experienced"
              v-model="dataForm.is_experienced"
              value="1"
              unchecked-value="0"
            />
          </b-form-group>
          <div v-if="dataForm.is_experienced == '1'">
            <b-form-group
              id="experience"
              :label="this.$t('global.fields.experience')"
              label-for="country"
              label-class="required"
            >
              <b-form-select
                v-model="dataForm.experience"
                v-validate="'required'"
                :options="attribute('experience_year')"
                :data-vv-as="this.$t('global.fields.experience')"
                data-vv-name="experience"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select') }}
                </option>
              </b-form-select>
            </b-form-group>
            <div class="error">
              <span>{{ errors.first('resumeUpdate.experience') }}</span>
            </div>
          </div>-->
          <b-form-group
            id="portfolio_url"
            :label="this.$t('global.fields.portfolio_url')"
            label-for="portfolio_url"
          >
            <b-form-input
              id="portfolio_url"
              v-model="dataForm.portfolio_url"
              v-validate="'url:require_protocol'"
              :data-vv-as="this.$t('global.fields.portfolio_url')"
              data-vv-name="portfolio_url"
            />
          </b-form-group>
          <b-form-text id="inputLiveHelp">
            {{ $t('global.messages.url_example') }}
          </b-form-text>
          <div class="error">
            <span>{{ errors.first('resumeUpdate.portfolio_url') }}</span>
          </div>
          <b-form-group
            id="github_url"
            :label="this.$t('global.fields.github_url')"
            label-for="github_url"
          >
            <b-form-input
              id="github_url"
              v-model="dataForm.github_url"
              v-validate="'url:require_protocol'"
              :data-vv-as="this.$t('global.fields.github_url')"
              data-vv-name="github_url"
            />
          </b-form-group>
          <b-form-text id="inputLiveHelp">
            {{ $t('global.messages.url_example') }}
          </b-form-text>
          <div class="error">
            <span>{{ errors.first('resumeUpdate.github_url') }}</span>
          </div>
          <b-form-group
            id="qiita_id"
            :label="this.$t('global.fields.qiita_id')"
            label-for="qiita_id"
          >
            <b-form-input
              id="qiita_id"
              v-model="dataForm.qiita_id"
              v-validate="'max:50'"
              :data-vv-as="this.$t('global.fields.qiita_id')"
              data-vv-name="qiita_id"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('resumeUpdate.qiita_id') }}</span>
          </div>
          <div v-if="page != 'job.apply'" class="d-flex justify-content-center">
            <b-button
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ this.$t('global.buttons.submit') }}
            </b-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  components: {
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    profile: {
      type: Object,
      default: function() {
        return {}
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  created() {
    this.veevalidateLocalize()
  },
  data() {
    return {
      valid: false,
      scope: 'resumeUpdate',
      dataForm: {
        willing_to_relocate: this.profile.willing_to_relocate,
        is_experienced: this.profile.is_experienced,
        experience: this.profile.experience,
        portfolio_url: this.profile.portfolio_url,
        github_url: this.profile.github_url,
        qiita_id: this.profile.qiita_id
      }
    }
  },
  methods: {
    emitResumeUpdate(evt) {
      this.$toast.clear()
      this.errors.clear('resumeUpdate')
      this.valid = true
      this.$validator.validateScopes(this.scope).then(result => {
        this.$toast.clear()
        if (result) {
          this.$refs.overlayloading.start()
          if (parseInt(this.dataForm.is_experienced) === 0) {
            this.dataForm.experience = null
          }
          this.$store
            .dispatch('users/updateResumeProfile', {
              id: this.user.user_type_id,
              data: this.dataForm
            })
            .then(response => {
              this.$store.commit('users/SET_PROFILE', response.data.data)
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$refs.overlayloading.finish()
              this.valid = false
              this.$emit('resume-update', {
                data: response.data.data,
                scope: this.scope
              })
            })
            .catch(err => {
              this.$refs.overlayloading.finish()
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      scope: 'resumeUpdate',
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.valid = false
            })
        } else {
          this.scrollToClass('error')
          this.valid = false
        }
      })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
