<template>
  <section>
    <div>
      <b-row class="p-3">
        <b-col class="col-1">
          <font-awesome-icon
            :icon="['fas', 'info']"
            :style="{ color: '#27c585' }"
            size="2x"
          />
        </b-col>
        <b-col class="col-11 col-md-11">
          <h2>{{ pageContent('resume_information') }}</h2>
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.japanese_language_level') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{
                  profile.japanese_language_level !== null
                    ? attribute('lang.level', profile.japanese_language_level)
                        .text
                    : ''
                }}
              </p>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.japanese_writing_level') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{
                  profile.japanese_writing_level !== null
                    ? attribute(
                        'language_writing_skills',
                        profile.japanese_writing_level
                      ).text
                    : ''
                }}
              </p>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.english_language_level') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{
                  profile.english_language_level !== null
                    ? attribute('lang.level', profile.english_language_level)
                        .text
                    : ''
                }}
              </p>
            </b-col>
          </b-row>
          <!--<b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.is_experienced') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{
                  profile.is_experienced !== null
                    ? attribute('boolean', profile.is_experienced).text
                    : ''
                }}
              </p>
            </b-col>
          </b-row>
          <b-row
            v-if="
              profile.is_experienced !== null && profile.is_experienced != 0
            "
          >
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.experience') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{
                  profile.experience !== null
                    ? attribute('experience_year', profile.experience).text
                    : ''
                }}
              </p>
            </b-col>
          </b-row>-->
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.portfolio_url') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{ portfolio_url }}
              </p>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.qiita_id') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{ qiita_id }}
              </p>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-12 col-md-4">
              <p class="job_detail_heading">
                {{ this.$t('global.fields.github_url') }}
              </p>
            </b-col>
            <b-col class="col-12 col-sm-12 col-md-8">
              <p class="jb_detail_value">
                {{ github_url }}
              </p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row class="mt-2  p-3">
        <b-col class="col-12">
          <b-row class="mt-3">
            <b-col class="col-1">
              <font-awesome-icon
                :icon="['fas', 'suitcase']"
                :style="{ color: '#27c585' }"
                size="2x"
              />
            </b-col>
            <b-col class="col-10">
              <h2>{{ pageContent('working_experience') }}</h2>
              <b-row v-for="(item, key) in experience" :key="key">
                <b-col>
                  <h5>
                    {{ item.company_name }} - <span>{{ item.job_title }}</span>
                  </h5>
                  <h6>
                    {{ $t('global.fields.date') }} :
                    <span
                      >{{
                        moment(item.job_from)
                          .locale($store.getters.locale)
                          .format('MMMM Y')
                      }}
                      ~
                      {{
                        item.job_to
                          ? moment(item.job_to)
                              .locale($store.getters.locale)
                              .format('MMMM Y')
                          : $t('global.fields.currently_working_here')
                      }}
                    </span>
                  </h6>
                  <h6>
                    {{ $t('global.fields.annual_salary') }} -
                    {{
                      attribute('annual_salary_range', item.annual_salary).text
                    }}
                  </h6>
                  <p class="mt-1">
                    <span>{{ $t('global.fields.job_description') }} :</span>
                    {{ item.job_description }}
                  </p>
                  <hr />
                </b-col>
              </b-row>
              <b-row v-if="experience.length == 0">
                <b-col>
                  {{ pageContent('not_found') }}
                  <span class="link_class" @click="goToUpdateTab(2)">
                    {{ pageContent('insert_from_here') }}
                  </span>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="mt-3">
            <b-col class="col-1">
              <font-awesome-icon
                :icon="['fas', 'graduation-cap']"
                :style="{ color: '#27c585' }"
                size="2x"
              />
            </b-col>
            <b-col class="col-10">
              <h2>{{ pageContent('education_history') }}</h2>
              <b-row v-for="(item, key) in education" :key="key">
                <b-col>
                  <h5>
                    {{ attribute('degree', item.degree).text }} -
                    <span>{{ item.university_institute }}</span>
                  </h5>
                  <h6>
                    {{ $t('global.fields.faculty') }} :
                    <span>{{ item.faculty }}</span>
                  </h6>
                  <h6>
                    {{ $t('global.fields.graduation_country') }} :
                    <span>{{
                      item.graduation_country !== null
                        ? attribute('country', item.graduation_country).text
                        : ''
                    }}</span>
                  </h6>
                  <h6
                    v-if="
                      item.graduation_status == 0 || item.graduation_status == 1
                    "
                  >
                    {{ $t('global.fields.graduated') }} :
                    <span>{{
                      item.graduation_status !== null
                        ? attribute('boolean', item.graduation_status).text
                        : ''
                    }}</span>
                  </h6>
                  <h6 v-if="item.graduation_status == 2">
                    {{ $t('global.fields.graduated') }} :
                    <span>{{
                      attribute('boolean', 0).text +
                        ' / ' +
                        $t('global.fields.graduated_date_fixed')
                    }}</span>
                  </h6>
                  <h6
                    v-if="
                      item.graduation_status == 1 || item.graduation_status == 2
                    "
                  >
                    {{ $t('global.fields.graduation_date') }} :
                    <span>{{
                      moment(item.graduation_year)
                        .locale($store.getters.locale)
                        .format('MMMM Y')
                    }}</span>
                  </h6>
                  <hr />
                </b-col>
                <hr />
              </b-row>
              <b-row v-if="education.length == 0">
                <b-col>
                  {{ pageContent('not_found') }}
                  <span class="link_class" @click="goToUpdateTab(3)">
                    {{ pageContent('insert_from_here') }}
                  </span>
                </b-col>
              </b-row>
            </b-col>
          </b-row>

          <b-row class="mt-3">
            <b-col class="col-1">
              <font-awesome-icon
                :icon="['fas', 'certificate']"
                :style="{ color: '#27c585' }"
                size="2x"
              />
            </b-col>
            <b-col class="col-10">
              <h2>{{ pageContent('certificate') }}</h2>
              <b-row v-for="(item, key) in certificate" :key="key">
                <b-col>
                  <h5>
                    {{ $t('global.fields.certificate_name') }}:
                    <span>{{ item.certificate_name }}</span>
                  </h5>
                  <h6>
                    {{ $t('global.fields.certificate_date') }}:
                    <span>{{
                      moment(item.year)
                        .locale($store.getters.locale)
                        .format('MMMM Y')
                    }}</span>
                  </h6>
                  <hr />
                </b-col>
                <hr />
              </b-row>
              <b-row v-if="certificate.length == 0">
                <b-col>
                  {{ pageContent('not_found') }}
                  <span class="link_class" @click="goToUpdateTab(1)">
                    {{ pageContent('insert_from_here') }}
                  </span>
                </b-col>
              </b-row>
            </b-col>
          </b-row>

          <b-row class="mt-3">
            <b-col class="col-1">
              <font-awesome-icon
                :icon="['fas', 'wrench']"
                :style="{ color: '#27c585' }"
                size="2x"
              />
            </b-col>
            <b-col class="col-10">
              <h2>{{ pageContent('skills') }}</h2>

              <b-row>
                <b-col
                  v-for="(item, key) in skill"
                  :key="key"
                  class="col-md-4 col-sm-12"
                >
                  <h6>
                    {{ attribute(item.skill_type, item.skill_id).text }}:
                    <span>{{
                      attribute('skill_experience', item.level).text
                    }}</span>
                  </h6>
                </b-col>
              </b-row>
              <b-row v-if="skill.length == 0">
                <b-col>
                  {{ pageContent('not_found') }}
                  <span class="link_class" @click="goToUpdateTab(1)">
                    {{ pageContent('insert_from_here') }}
                  </span>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="mt-2 d-flex col-12 col-md-12 justify-content-center">
              <b-button
                class="w-25"
                variant="outline-info"
                @click="
                  $router.push({ path: $i18n.path('/user/profile/update') })
                "
              >
                {{ this.$t('global.buttons.update') }}
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.view'
      }
    },
    profile: {
      type: Object,
      default: function() {
        return {}
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    },
    experience: {
      type: Array,
      default: function() {
        return []
      }
    },
    education: {
      type: Array,
      default: function() {
        return []
      }
    },
    certificate: {
      type: Array,
      default: function() {
        return []
      }
    },
    skill: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  mixins: [base()],
  computed: {
    github_url: function() {
      return this.profile.github_url !== '' && this.profile.github_url !== null
        ? this.profile.github_url
        : this.$t('global.messages.not_set')
    },
    portfolio_url: function() {
      return this.profile.portfolio_url !== '' &&
        this.profile.portfolio_url !== null
        ? this.profile.portfolio_url
        : this.$t('global.messages.not_set')
    },
    qiita_id: function() {
      return this.profile.qiita_id !== '' && this.profile.qiita_id !== null
        ? this.profile.qiita_id
        : this.$t('global.messages.not_set')
    }
  },
  methods: {
    goToUpdateTab(index) {
      localStorage.setItem('activeTab', index)
      this.$router.push(this.$i18n.path('/user/profile/update'))
    }
  }
})
</script>
<style></style>
