<template>
  <section>
    <BreadCrumb :menu="breadCrumb" />
    <div class="shadow p-3">
      <b-row>
        <b-col>
          {{ attribute('scout_message_type', message.scout_details.type).text }}
        </b-col>
        <b-col class="text-right">
          {{
            moment(message.scout_details.created_at)
              .locale(this.$store.getters.locale)
              .format('LL')
          }}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h3 v-if="this.$route.query.re === 'send'">
            <span
              v-for="indexseeker in message.scout_details.seeker_reply_count"
              :key="indexseeker"
            >
              {{ 'Re:' }}
            </span>
            {{ message.job_details.job_title[$store.getters.locale] }}
          </h3>
          <h3 v-if="this.$route.query.re === 'reception'">
            <span
              v-for="indexseeker in message.scout_details.provider_reply_count"
              :key="indexseeker"
            >
              {{ 'Re:' }}
            </span>
            {{ message.job_details.job_title[$store.getters.locale] }}
          </h3>
          <h3 v-if="this.$route.query.re === 'scout'">
            {{ message.job_details.job_title[$store.getters.locale] }}
          </h3>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-right">
          {{
            message.job_details.provider_info.company_name[
              $store.getters.locale
            ]
          }}
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-md-4 col-sm-12">
          {{
            message.scout_details.type == '1'
              ? this.$t('global.scout.static_message_line_one')
              : this.$t('global.application.static_message_line_one')
          }}<br />
          {{
            message.scout_details.type == '1'
              ? this.$t('global.scout.static_message_line_two')
              : this.$t('global.application.static_message_line_two')
          }}<br />
        </b-col>
      </b-row>
      <hr />
      <b-row>
        <b-col class="col-12">
          <h5>
            {{
              $t('global.fields.interview_method') +
                ' : ' +
                attribute(
                  'interview_method',
                  message.scout_details.interview_method
                ).text
            }}
          </h5>
          <p v-if="message.scout_details.interview_method == 0">
            {{
              $t('global.fields.provider_skype_id') +
                ' : ' +
                message.scout_details.provider_skype_id
            }}
          </p>

          <h5>
            {{ $t('global.fields.motimono') }}
          </h5>
          <b-row>
            <b-col class="col-12 col-sm-3">
              {{ $t('global.fields.cv') }}
            </b-col>
            <b-col>
              {{
                message.scout_details.cv != null
                  ? attribute('boolean', message.scout_details.cv).text
                  : attribute('boolean', 0).text
              }}
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-3">
              {{ $t('global.fields.resume') }}
            </b-col>
            <b-col>
              {{
                message.scout_details.resume != null
                  ? attribute('boolean', message.scout_details.resume).text
                  : attribute('boolean', 0).text
              }}
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-3">
              {{ $t('global.fields.writing_util') }}
            </b-col>
            <b-col>
              {{
                message.scout_details.writing_util != null
                  ? attribute('boolean', message.scout_details.writing_util)
                      .text
                  : attribute('boolean', 0).text
              }}
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-sm-3">
              {{ $t('global.fields.other') }}
            </b-col>
            <b-col>
              {{
                message.scout_details.other != null
                  ? message.scout_details.other
                  : attribute('boolean', 0).text
              }}
            </b-col>
          </b-row>
          <b-row v-if="message.scout_details.interview_method != 0">
            <b-col class="col-12 col-sm-3">
              {{ $t('global.fields.interview_location') }}
            </b-col>
            <b-col>
              {{ interview_location }}
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <hr />

      <b-button
        :aria-expanded="showCollapse ? 'true' : 'false'"
        variant="outline-info"
        class="jb-button-icon"
        aria-controls="collapse2"
        @click="showCollapse = !showCollapse"
      >
        {{ $t('global.fields.job_details') }}
        <i class="material-icons">
          {{ showCollapse ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </i>
      </b-button>

      <b-collapse id="collapse2" v-model="showCollapse" class="mt-3">
        <b-row>
          <b-col>
            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.employment_type`)"
              :value="
                message.job_details.employment_type !== null
                  ? attribute(
                      'employment_type',
                      message.job_details.employment_type
                    ).text
                  : 'N/A'
              "
            />
            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.working_hr`)"
              :value="working_hr"
            />

            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.holidays`)"
              :value="holidays"
            />

            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.category`)"
              :value="
                attribute('job_category', message.job_details.category_id)
                  .text +
                  ' - ' +
                  attribute(
                    attribute('job_category', message.job_details.category_id)
                      .self,
                    message.job_details.sub_category_id
                  ).text
              "
            />
            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.industry`)"
              :value="
                attribute(
                  'business_content',
                  message.job_details.provider_info.business_content
                ).text
              "
            />
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.addresses`) }}:
                </p>
              </b-col>
              <b-col class="col-12 col-sm-3">
                <div class="job_detail_value">
                  <ul>
                    <li v-for="(item, key) in jobAddresses" :key="key">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>

            <DetailItemRow
              :page="'message_detail'"
              :label="$t(`global.fields.salary`)"
              :value="salary"
            />
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.languages`) }}:
                </p>
              </b-col>
              <b-col>
                <div class="job_detail_value">
                  <ul>
                    <li v-for="(item, key) in job_languages" :key="key">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.characteristics') }}:
                </p>
              </b-col>
              <b-col>
                <div class="jb-label-group">
                  <span
                    v-for="(item_c, key_c) in characteristic"
                    :key="key_c"
                    class="jb-label mr-1"
                    >{{ $t(`global.job_characteristic.${item_c}`) }}
                  </span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.qualifications`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="job_detail_value">
                  {{
                    message.job_details.qualifications[$store.getters.locale]
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.welfare`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="job_detail_value">
                  {{ message.job_details.welfare[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.description`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="job_detail_value">
                  {{ message.job_details.description[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">{{ $t('global.fields.map') }}:</p>
              </b-col>
              <b-col>
                <GmapMap
                  :center="{ lat: map_lat, lng: map_lng }"
                  :zoom="9"
                  style="height: 300px"
                />
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <hr />

        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.ceo_name') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{
                message.job_details.provider_info.ceo_name[
                  $store.getters.locale
                ]
              }}
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.contact_person') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{
                message.job_details.provider_info.contact_person[
                  $store.getters.locale
                ]
              }}
            </p>
          </b-col>
        </b-row>

        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.establishment') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{
                moment(message.job_details.provider_info.established_year)
                  .locale(this.$store.getters.locale)
                  .format('LL')
              }}
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">{{ $t('global.fields.capital') }}:</p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{ capital }}
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.no_of_employee') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{ message.job_details.provider_info.no_of_employee }}
            </p>
          </b-col>
        </b-row>
        <b-row v-if="message.job_details.provider_info.fax">
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">{{ $t('global.fields.fax') }}:</p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{ message.job_details.provider_info.fax }}
            </p>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">{{ $t('global.fields.address') }}:</p>
          </b-col>
          <b-col>
            <p class="job_detail_value">{{ companyAddress }}:</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.telephone') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              {{ message.job_details.provider_info.telephone }}
            </p>
          </b-col>
        </b-row>
        <b-row v-if="message.job_details.provider_info.related_url">
          <b-col class="col-12 col-sm-3">
            <p class="job_detail_heading">
              {{ $t('global.fields.related_url') }}:
            </p>
          </b-col>
          <b-col>
            <p class="job_detail_value">
              <a
                :href="message.job_details.provider_info.related_url"
                target="_blank"
              >
                {{ message.job_details.provider_info.related_url }}
              </a>
            </p>
          </b-col>
        </b-row>
      </b-collapse>

      <hr />
      <b-row class="p-2 col-md-6 mx-auto jb-reply border">
        <b-col v-if="show_reply">
          <p>{{ $t('global.fields.reply') }}</p>
          <hr />
          <b-form-group :label="$t('global.fields.select_date')">
            <b-form-radio-group
              id="interview_timing"
              v-model="dataForm.interview_timing"
              :options="interview_options"
              stacked
              name="radiosStacked"
            />
          </b-form-group>
          <div v-if="message.scout_details.interview_method == 0">
            <b-form-group
              id="skype_id"
              :label="this.$t('global.fields.seeker_skype_id')"
              label-for="skype_id"
              label-class="required"
            >
              <b-form-input
                id="skype_id"
                v-model="dataForm.seeker_skype_id"
                v-validate="'required'"
                :placeholder="this.$t('global.fields.seeker_skype_id')"
                :data-vv-as="this.$t('global.fields.seeker_skype_id')"
                data-vv-name="skype_id"
              />
            </b-form-group>
          </div>
        </b-col>
        <b-col v-if="!show_reply">
          <p>
            {{
              this.$t('global.messages.you_replied_at') +
                ': ' +
                moment(message.scout_details.seeker_replied_at)
                  .locale(this.$store.getters.locale)
                  .format('LL')
            }}
          </p>
          <div v-if="message.scout_details.seeker_status == 1">
            <p>{{ this.$t('global.messages.scout_application_accepted') }}</p>
            <hr />
            <p>
              {{
                this.$t('global.messages.scout_application_date_time') +
                  ': ' +
                  moment(message.scout_details.date)
                    .locale(this.$store.getters.locale)
                    .format('LL') +
                  '/' +
                  attribute('day_hour', message.scout_details.time).text
              }}
            </p>
            <p
              v-if="
                message.scout_details.interview_method == 0 &&
                  message.scout_details.seeker_status == 1
              "
            >
              {{
                this.$t('global.fields.seeker_skype_id') +
                  ': ' +
                  message.scout_details.seeker_skype_id
              }}
            </p>
            <p>
              {{
                message.scout_details.provider_status == 0
                  ? $t('global.messages.provider_acceptance') +
                    ' - ' +
                    $t('global.messages.provider_aware') +
                    ' ( ' +
                    moment(message.scout_details.updated_at)
                      .locale(this.$store.getters.locale)
                      .format('LL') +
                    ' )'
                  : ''
              }}
            </p>
          </div>
          <p v-if="message.scout_details.seeker_status == 2">
            {{ this.$t('global.messages.scout_application_declined') }}
          </p>
        </b-col>
      </b-row>
      <div class="d-flex justify-content-center mt-3">
        <b-button
          v-if="show_reply"
          :disabled="valid"
          block
          class="jb-button-icon"
          variant="info"
          @click.stop="replyScoutApplication"
        >
          <font-awesome-icon
            v-if="valid"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />
          {{ this.$t('global.buttons.send') }}
        </b-button>
      </div>
    </div>
  </section>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import DetailItemRow from '~/components/Job/DetailItemRow'
import base from '~/mixins/base'

export default nuxtend({
  components: {
    BreadCrumb,
    DetailItemRow
  },
  pageRootKey: 'message_detail',
  middleware: 'loggedIn',

  mixins: [base()],

  async fetch({ app, store, params, query }) {
    return Promise.all([
      await store.dispatch('users/getMessages', { id: params.id }),
      await store.dispatch('attributeAsync', [
        'day_hour',
        'scout_message_type',
        'interview_method',
        'boolean',
        'job_category',
        'business_content',
        'interview_method',
        'work_time'
      ]),
      await store.dispatch('attributeAsync', [
        'week.days',
        'lang_option',
        'lang.level',
        'prefecture',
        'visa_status',
        'region'
      ]),
      await store.dispatch('attributeAsync', [
        'station.distance',
        'employment_type',
        'holiday',
        'others',
        'salary_type',
        'walking.distance',
        'scout_message_provider_status'
      ]),
      await store.dispatch('attributeAsync', [
        'others',
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'employment_type'
      ])
    ])
  },
  computed: {
    ...mapGetters({
      message: 'users/message'
    }),

    capital: function() {
      if (this.$store.getters.locale === 'ja') {
        return this.$CurrencyFormatter.currency(
          this.message.job_details.provider_info.capital
        )
      } else {
        return this.message.job_details.provider_info.capital
      }
    },

    companyAddress: function() {
      return (
        (this.message.job_details.provider_info.zip_code != null
          ? this.message.job_details.provider_info.zip_code + ', '
          : '') +
        this.attribute(
          'region',
          this.attribute(
            'prefecture',
            this.message.job_details.provider_info.prefecture_id
          ).parent
        ).text +
        '/' +
        this.attribute(
          'prefecture',
          this.message.job_details.provider_info.prefecture_id
        ).text +
        (this.message.job_details.provider_info.address != null
          ? ' ,' + this.message.job_details.provider_info.address
          : '') +
        (this.message.job_details.provider_info.street_address != null
          ? ', ' + this.message.job_details.provider_info.street_address
          : '')
      )
    },

    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.messages'),
          route: '/user/messages'
        }
      ]
    },
    working_hr: function() {
      let workingHrRet = this.$t('global.others.na')
      if (
        this.message.job_details.working_hour_from !== null &&
        this.message.job_details.working_hour_to !== null
      ) {
        workingHrRet =
          this.attribute(
            'work_time',
            this.message.job_details.working_hour_from
          ).text +
          ' ~ ' +
          this.attribute('work_time', this.message.job_details.working_hour_to)
            .text
      }
      if (
        this.message.job_details.morning_shift != null ||
        this.message.job_details.night_shift != null
      ) {
        workingHrRet += '( '
        if (this.message.job_details.morning_shift != null) {
          workingHrRet +=
            this.$t('global.fields.morning_shift') +
            ': ' +
            this.attribute('boolean', this.message.job_details.morning_shift)
              .text +
            ', '
        }
        if (this.message.job_details.night_shift != null) {
          workingHrRet +=
            this.$t('global.fields.night_shift') +
            ': ' +
            this.attribute('boolean', this.message.job_details.night_shift).text
        }
        workingHrRet += ' )'
      }
      return workingHrRet
    },
    holidays: function() {
      const holidaysRet = []
      if (this.message.job_details.holiday_days != null) {
        _.each(
          this.message.job_details.holiday_days.split(','),
          (value, key) => {
            holidaysRet.push(this.attribute('week.days', value).text)
          }
        )
      }
      return (
        this.attribute('holiday', this.message.job_details.holiday).text +
        ' ( ' +
        holidaysRet.join(',') +
        ' )'
      )
    },
    characteristic: function() {
      const characteristicReturn = []
      _.filter(this.message.job_details.characteristics, function(value, key) {
        if (parseInt(value) === 1) {
          characteristicReturn.push(key)
        }
      })
      return characteristicReturn
    },
    interview_location: function() {
      const address = {
        zip_code: null,
        prefecture_id: null,
        address: null,
        street_address: null
      }
      if (parseInt(this.message.scout_details.interview_place) === 0) {
        address.zip_code = this.message.job_details.provider_info.zip_code
        address.prefecture_id = this.message.job_details.provider_info.prefecture_id
        address.address = this.message.job_details.provider_info.address
        address.street_address = this.message.job_details.provider_info.street_address
      } else if (parseInt(this.message.scout_details.interview_place) === 1) {
        const fetchAddress = _.find(this.message.job_details.addresses, {
          id: this.message.scout_details.job_location_id
        })
        if (fetchAddress !== undefined) {
          address.zip_code = fetchAddress.zip_code
          address.prefecture_id = fetchAddress.prefecture_id
          address.address = fetchAddress.address
          address.street_address = fetchAddress.street_address
        }
      }
      return (
        (address.zip_code != null ? address.zip_code + ', ' : '') +
        this.attribute(
          'region',
          this.attribute('prefecture', address.prefecture_id).parent
        ).text +
        '/' +
        this.attribute('prefecture', address.prefecture_id).text +
        (address.address != null ? ' ,' + address.address : '') +
        (address.street_address != null ? ', ' + address.street_address : '')
      )
    },

    jobAddresses: function() {
      const addressRet = []
      if (this.message.job_details.addresses.length > 0) {
        _.each(this.message.job_details.addresses, (value, key) => {
          addressRet.push(
            (value.zip_code != null ? value.zip_code + ', ' : '') +
              this.attribute(
                'region',
                this.attribute('prefecture', value.prefecture_id).parent
              ).text +
              '/' +
              this.attribute('prefecture', value.prefecture_id).text +
              (value.address != null ? ' ,' + value.address : '') +
              (value.street_address != null
                ? ', ' + value.street_address
                : '') +
              (value.station_distance != null
                ? '( ' +
                  this.$t('global.fields.nearest_station') +
                  ': ' +
                  this.attribute('station.distance', value.station_distance)
                    .text +
                  '/' +
                  this.attribute('walking.distance', value.walking_distance)
                    .text +
                  ')'
                : '')
          )
        })
      }
      return addressRet
    },

    salary: function() {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.$CurrencyFormatter.currency(
            this.message.job_details.min_salary
          ) +
          '~' +
          this.$CurrencyFormatter.currency(
            this.message.job_details.max_salary
          ) +
          '/' +
          this.attribute('salary_type', this.message.job_details.salary_type)
            .text
        )
      } else {
        return (
          this.$t('global.currency.japanese') +
          ' ' +
          this.message.job_details.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.message.job_details.max_salary +
          '/' +
          this.attribute('salary_type', this.message.job_details.salary_type)
            .text
        )
      }
    },

    job_languages: function() {
      const languagesRet = []
      if (this.message.job_details.langs.length > 0) {
        _.each(this.message.job_details.langs, (value, key) => {
          languagesRet.push(
            this.attribute('lang_option', value.language).text +
              ' - ' +
              this.attribute('lang.level', value.level).text
          )
        })
      }
      return languagesRet
    },

    show_reply: function() {
      if (parseInt(this.message.scout_details.seeker_status) === 0) {
        return true
      } else {
        return false
      }
    },
    interview_options: function() {
      const options = []
      _.each(this.message.scout_details.interview_timing, (value, key) => {
        const option = {}
        option.text =
          value.date + ' ' + this.attribute('day_hour', value.time).text
        option.value = value.id
        options.push(option)
      })
      options.push({
        text: this.$t('global.fields.refuse'),
        value: 'refuse'
      })
      return options
    }
  },
  data() {
    return {
      map_lat: '36.2048',
      map_lng: '138.2529',
      valid: false,
      refusal: false,
      showCollapse: true,
      dataForm: {
        seeker_skype_id: null,
        seeker_status: null,
        interview_timing: null
      }
    }
  },

  watch: {
    'dataForm.interview_timing': function() {
      if (this.dataForm.interview_timing != null) {
        if (this.dataForm.interview_timing === 'refuse') {
          this.dataForm.seeker_status = 2
        } else {
          this.dataForm.seeker_status = 1
        }
      }
    }
  },
  methods: {
    replyScoutApplication() {
      let error = false
      this.valid = true
      const submitData = {}
      if (parseInt(this.dataForm.seeker_status) === 2) {
        submitData.seeker_status = this.dataForm.seeker_status
      } else {
        submitData.seeker_status = this.dataForm.seeker_status
        submitData.interview_timing = this.dataForm.interview_timing
        if (
          parseInt(this.message.scout_details.interview_method) === 0 &&
          parseInt(this.dataForm.seeker_status) !== 2 &&
          this.dataForm.seeker_skype_id === null
        ) {
          this.$toast.show(this.$t('global.fields.skype_id_required'), {
            icon: 'close',
            type: 'error'
          })
          error = true
          this.valid = false
          return false
        }
        submitData.seeker_skype_id = this.dataForm.seeker_skype_id
      }
      if (!error) {
        this.$store
          .dispatch('users/replyScoutAppication', {
            id: this.message.scout_details.id,
            data: submitData
          })
          .then(response => {
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            window.location.reload(true)
          })
          .catch(err => {
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
            const errs = []
            _.each(err.response.data.errors, function(messages, field) {
              errs.push(
                _.merge(
                  {},
                  {
                    msg: messages[0]
                  }
                )
              )
            })
            if (errs.length > 0) {
              this.$toast.show(errs[0].msg, { icon: 'close', type: 'error' })
            }
            this.valid = false
          })
      }
    }
  },
  /**
   *
   * @returns {Promise<void>}
   */
  async mounted() {
    if (parseInt(this.message.scout_details.seeker_read) === 0) {
      this.$store.dispatch('users/updateMessageRead', this.$route.params.id)
    }
    const latLng = await this.$FetchLocation.geocode({
      address: this.jobAddresses[0].split('(')[0],
      lang: this.$store.getters.locale
    })
    if (latLng.status === 'OK') {
      this.map_lat = latLng.lat
      this.map_lng = latLng.lng
    }
  }
})
</script>
<style scoped></style>
