<template>
  <div id="message-results">
    <BreadCrumb :menu="breadCrumb" />
    <section>
      <b-nav justified tabs>
        <b-nav-item
          :active="filter === 'reception'"
          @click.stop="changeFilterStatus('reception')"
        >
          {{ $t('global.buttons.reception') }}
        </b-nav-item>
        <b-nav-item
          :active="filter == 'send'"
          @click.stop="changeFilterStatus('send')"
        >
          {{ $t('global.buttons.send') }}
        </b-nav-item>
      </b-nav>

      <NoRecords v-if="!isBusy && items.length === 0" />

      <b-row v-for="item in items" :key="item.id" class="jb-single-job-box">
        <b-col>
          <b-row>
            <b-col>
              <font-awesome-icon
                v-if="item.seeker_read == 1"
                :icon="['fas', 'envelope-open']"
                :style="{ color: '#27B6C5' }"
              />
              <font-awesome-icon
                v-else
                :icon="['fas', 'envelope']"
                :style="{ color: '#27B6C5' }"
              />
              {{ attribute('scout_message_type', item.type).text }}
            </b-col>
            <b-col class="text-right">
              {{ item.created_at }}
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <h3>
                <nuxt-link
                  v-if="filter === 'send'"
                  :to="$i18n.path(`/user/messages/${item.id}?re=send`)"
                >
                  <span
                    v-for="indexseeker in item.seeker_reply_count"
                    :key="indexseeker"
                  >
                    {{ 'Re:' }}
                  </span>
                  {{ item.job_title[$store.getters.locale] }}
                </nuxt-link>
                <nuxt-link
                  v-if="filter === 'reception'"
                  :to="$i18n.path(`/user/messages/${item.id}?re=reception`)"
                >
                  <span
                    v-for="indexprovider in item.provider_reply_count"
                    :key="indexprovider"
                  >
                    {{ 'Re:' }}
                  </span>
                  {{ item.job_title[$store.getters.locale] }}
                </nuxt-link>
              </h3>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              {{ item.company_name[$store.getters.locale] }}
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <MessagePagination
        v-if="items.length > 0"
        ref="pagination"
        :meta="meta"
        page="job.list"
      />
    </section>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import MessagePagination from '~/components/Navigation/MessagePagination'
import base from '~/mixins/base'
import NoRecords from '~/components/Message/NoRecords'

export default nuxtend({
  components: {
    BreadCrumb,
    MessagePagination,
    NoRecords
  },

  middleware: 'loggedIn',

  async fetch({ app, store, query }) {
    return Promise.all([
      await store.dispatch('attributeAsync', ['scout_message_type'])
    ])
  },

  watchQuery: true,

  mixins: [base()],

  computed: {
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.messages'),
          route: `/user/messages`
        }
      ]
    },
    items: function() {
      return this.dataItems
    }
  },
  data() {
    return {
      meta: {},
      page: 1,
      per_page: 10,
      isBusy: true,
      filter: 'reception',
      dataItems: [],
      fields: {
        Type: {
          scope: 'col',
          thStyle: { width: '120px !important', border: '0px' },
          label: ''
        },
        Messages: {
          label: '',
          thStyle: { border: '0px' }
        }
      }
    }
  },
  created() {
    this.getItems()
  },
  methods: {
    getItems() {
      this.isBusy = true
      return this.$axios
        .get(
          `seeker/scout-mails?filter=${this.filter}&page=${this.page}&orderby=updated_at&limit=${this.per_page}`
        )
        .then(response => {
          // callback(response.data.data);
          this.meta = response.data.meta
          this.dataItems = response.data.data
          this.isBusy = false
          this.$scrollTo('.jb-wrap')
        })
        .catch(() => {
          this.isBusy = false
        })
    },
    changeFilterStatus(filter) {
      this.page = 1
      this.filter = filter
      this.getItems()
    }
  },
  watch: {
    page: function() {
      this.getItems()
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
.btn-group {
  width: 100%;
}
button {
  width: 50%;
}
</style>
