<template>
  <div id="scout-results">
    <BreadCrumb :menu="breadCrumb" />
    <section>
      <NoRecords v-if="!isBusy && items.length === 0" />

      <b-row v-for="item in items" :key="item.id" class="jb-single-job-box">
        <b-col>
          <b-row>
            <b-col>
              <font-awesome-icon
                v-if="item.seeker_read == 1"
                :icon="['fas', 'envelope-open']"
                :style="{ color: '#27B6C5' }"
              />
              <font-awesome-icon
                v-else
                :icon="['fas', 'envelope']"
                :style="{ color: '#27B6C5' }"
              />
              {{ attribute('scout_message_type', item.type).text }}
            </b-col>
            <b-col class="text-right">
              {{ item.created_at }}
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <h3>
                <nuxt-link
                  :to="$i18n.path(`/user/messages/${item.id}?re=scout`)"
                >
                  {{ item.job_title[$store.getters.locale] }}
                </nuxt-link>
              </h3>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              {{ item.company_name[$store.getters.locale] }}
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <MessagePagination
        v-if="items.length > 0"
        ref="pagination"
        :meta="meta"
        page="job.list"
      />
    </section>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import MessagePagination from '~/components/Navigation/MessagePagination'
import NoRecords from '~/components/Message/NoRecords'
import base from '~/mixins/base'

export default nuxtend({
  mixins: [base()],
  components: {
    BreadCrumb,
    MessagePagination,
    NoRecords
  },

  middleware: 'loggedIn',

  watchQuery: true,

  computed: {
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.scout'),
          route: `/user/scout`
        }
      ]
    }
  },
  data() {
    return {
      meta: {},
      page: 1,
      per_page: 10,
      isBusy: true,
      fields: [{ key: 'message', label: this.$t('global.fields.scout') }],
      items: []
    }
  },
  created() {
    this.getItems()
  },
  methods: {
    getItems() {
      this.isBusy = true
      return this.$axios
        .get(
          `seeker/scout-mails?type=1&page=${this.page}&limit=${this.per_page}`
        )
        .then(response => {
          this.meta = response.data.meta
          this.items = response.data.data
          this.isBusy = false
          this.$scrollTo('.jb-wrap')
        })
        .catch(() => {
          this.isBusy = false
        })
    }
  },
  watch: {
    page: function() {
      this.getItems()
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
