<template>
  <b-row class="mt-5">
    <OverlayLoading ref="overlayloading" />
    <b-col class="col-md-9 mx-auto">
      <b-row class="mb-2">
        <b-col class="col-md-7">
          <span class="page-head">{{ this.$t('global.buttons.login') }}</span>
        </b-col>
      </b-row>
      <div class="loginForm shadow rounded p-3 mb-5">
        <b-row>
          <b-col class="col-md-7 col-12">
            <b-form class="border-right p-2" @submit.prevent="login">
              <b-form-group
                :label="this.$t('global.fields.email')"
                class="required"
                label-for="email"
                label-class="required"
              >
                <b-form-input
                  id="email"
                  v-model="email"
                  v-validate="'required|email'"
                  :placeholder="this.$t('global.placeholder.email')"
                  name="email"
                />
                <div class="error">
                  <span>{{ errors.first('email') }}</span>
                </div>
              </b-form-group>
              <hr />
              <b-form-group
                id="passwordgroup"
                :label="this.$t('global.fields.password')"
                label-for="password"
                label-class="required"
              >
                <b-form-input
                  id="password"
                  v-model="password"
                  v-validate="'required'"
                  :placeholder="this.$t('global.placeholder.password')"
                  type="password"
                  name="password"
                />
                <div v-if="password_err" class="error">
                  <span>{{ errors.first('password') }}</span>
                </div>
              </b-form-group>
              <b-form-checkbox
                id="remember"
                v-model="remember_me"
                value="true"
                unchecked-value="false"
              >
                {{ pageContent('remember_me') }}
              </b-form-checkbox>
              <div class="error">
                <span>{{ errors.first('login_error') }}</span>
              </div>
              <br />
              <div class="d-flex justify-content-center">
                <b-button
                  :disabled="valid"
                  size="md"
                  type="submit"
                  variant="outline-info"
                >
                  <font-awesome-icon
                    v-if="valid"
                    :icon="['fas', 'spinner']"
                    :style="{ color: '#27B6C5' }"
                  />
                  {{ this.$t('global.buttons.login') }}
                </b-button>
              </div>
            </b-form>
          </b-col>
          <b-col class="col-md-5 col-12 register-section">
            <div class="mt-5 p-4">
              <p>
                {{ pageContent('link_to_register') }}
                <nuxt-link :to="$i18n.path('/register')">
                  {{ pageContent('register_link') }}
                </nuxt-link>
              </p>
              <p>
                <nuxt-link :to="$i18n.path('/forgot-password')">
                  {{ pageContent('forgot_password') }}
                </nuxt-link>
              </p>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'

export default nuxtend({
  layout: 'default',

  pageRootKey: 'login',

  components: {
    OverlayLoading
  },
  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      email: null,
      password: null,
      remember_me: false,
      loading: false,
      valid: null,
      password_err: true
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const loginRules = {}
    _.set(loginRules, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    _.set(loginRules, 'password', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.password')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: loginRules
    })
  },

  watch: {
    password: function() {
      if (this.password !== null) this.errors.clear()
    }
  },
  methods: {
    login(evt) {
      this.valid = true
      this.errors.clear()
      this.$toast.clear()
      this.$validator
        .validateAll()
        .then(success => {
          this.$toast.clear()
          if (success) {
            this.password_err = false
            this.$refs.overlayloading.start()

            if (this.remember_me) {
              this.$auth.options.cookie.options.expires = 365
            }

            this.$auth
              .loginWith('local', {
                data: {
                  email: this.email,
                  password: this.password,
                  remember_me: this.remember_me
                }
              })
              .then(() => {
                // window.localStorage.setItem("remember_me", this.remember_me);
                this.$refs.overlayloading.finish()
                this.valid = true
                this.$router.go(-1)
              })
              .catch(err => {
                this.$refs.overlayloading.finish()
                this.valid = false
                if (parseInt(err.response.status) === 401) {
                  this.$toast.show(
                    this.$t('global.messages.email_not_verified'),
                    { icon: 'close', type: 'error' }
                  )
                  this.$router.push(this.$i18n.path(`/register`))
                } else if (parseInt(err.response.status) === 429) {
                  this.$toast.show(
                    this.$t('global.messages.to_many_login_attempt'),
                    { icon: 'close', type: 'error' }
                  )
                } else {
                  const errs = []
                  _.each(err.response.data.errors, function(messages, field) {
                    errs.push(
                      _.merge(
                        {},
                        {
                          field: field,
                          msg: messages[0]
                        }
                      )
                    )
                  })
                  errs.push(
                    _.merge(
                      {},
                      {
                        field: 'login_error',
                        msg: err.response.data.message
                      }
                    )
                  )
                  if (errs.length > 0) {
                    this.password = null
                    this.errors.add(errs)
                  }
                }
              })
          } else {
            this.password_err = true
            this.valid = false
          }
        })
        .catch(() => {
          this.password_err = true
          this.valid = false
        })
    }
  }
})
</script>

<style scoped>
.page-head {
  font-size: 20px;
  border-bottom: 2px solid #2dbbd8;
}
</style>
