<template>
  <section>
    <b-row>
      <b-col class="col-10 mx-auto">
        <div>
          <p>{{ pageContent('info') }}</p>
        </div>
        <div class="border p-3 mt-3">
          <b-form @submit.prevent="emitSettingUpdate">
            <b-form-group :label="this.$t('global.fields.receive_mail')">
              <b-form-radio-group
                id="receive_mail"
                v-model="dataForm.receive_mail"
                :options="receive_mail"
                name="receive_mail"
              />
            </b-form-group>
            <b-form-group
              id="employment_type"
              :label="this.$t('global.fields.desired_employment_type')"
              label-for="employment_type"
            >
              <b-form-checkbox-group
                id="employment_type"
                v-model="dataForm.employment_type"
                :options="attribute('employment_type')"
                name="employment_type"
              />
            </b-form-group>
            <!--<b-form-group
              id="industry"
              :label="this.$t('global.fields.industry')"
              label-for="industry">
              <b-form-select
                :value="null"
                v-model="dataForm.industry"
                :options="attribute('business_content')">
                <option
                  slot="first"
                  :value="null">{{ this.$t('global.placeholder.industry') }}</option>
              </b-form-select>
            </b-form-group>-->
            <b-form-group
              id="category"
              :label="this.$t('global.fields.desired_category')"
              label-for="category"
            >
              <b-form-checkbox-group
                id="category"
                v-model="dataForm.job_category"
                :options="attribute('job_category')"
                name="category"
              />
            </b-form-group>

            <b-form-group
              id="japanese_language_level"
              :label="this.$t('global.fields.japanese_language_level')"
              label-for="japanese_language_level"
            >
              <b-form-select
                v-model="dataForm.japanese_level"
                :value="null"
                :options="attribute('lang.level')"
              >
                <option slot="first" :value="null">
                  {{ this.$t('global.placeholder.select') }}
                </option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              id="english_language_level"
              :label="this.$t('global.fields.english_language_level')"
              label-for="english_language_level"
            >
              <b-form-select
                v-model="dataForm.english_level"
                :value="null"
                :options="attribute('lang.level')"
              >
                <option slot="first" :value="null">
                  {{ this.$t('global.placeholder.select') }}
                </option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              id="salary_type"
              :label="this.$t('global.fields.desired_salary_type')"
              label-for="salary_type"
            >
              <b-form-select
                v-model="dataForm.salary_type"
                :value="null"
                :options="attribute('salary_type')"
              >
                <option slot="first" :value="null">
                  {{ this.$t('global.placeholder.select') }}
                </option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              :label="this.$t('global.fields.desired_min_salary')"
              label-for="min_salary"
            >
              <!--<b-form-select
                :value="null"
                v-model="dataForm.min_salary"
                :options="attribute('annual_salary_range')">
                <option
                  slot="first"
                  :value="null">{{ this.$t('global.placeholder.desired_minimum_annual_salary') }}</option>
              </b-form-select>-->
              <b-form-input
                id="min_salary"
                v-model="dataForm.min_salary"
                v-validate="'numeric'"
                name="min_salary"
                data-vv-name="min_salary"
                data-vv-as="min_salary"
              />
            </b-form-group>
            <div class="error">
              <span>{{ errors.first('min_salary') }}</span>
            </div>

            <!--<b-form-group
             id="max_salary"
             :label="this.$t('global.fields.max_salary')"
             label-for="max_salary">
              <b-form-select
                 :value="null"
                 v-model="dataForm.max_salary"
                 :options="attribute('annual_salary_range')">
                 <option
                   slot="first"
                   :value="null">{{ this.$t('global.placeholder.desired_maximum_annual_salary') }}</option>
               </b-form-select>
               <b-form-input
                 v-validate="{
                   numeric:true,
                   min_value:(isNaN(parseInt(dataForm.min_salary)) ? false : parseInt(dataForm.min_salary)+ 1)
                 }"
                 id="max_salary"
                 v-model="dataForm.max_salary"
                 name="max_salary"
                 data-vv-name="max_salary"
                 data-vv-as="max_salary"/>
             </b-form-group>
             <div class="error">
               <span>{{ errors.first('max_salary') }}</span>
             </div>-->

            <b-form-group
              id="prefecture"
              :label="this.$t('global.fields.desired_work_location')"
              label-for="prefecture"
            >
              <b-form-checkbox
                id="all_prefecture"
                v-model="dataForm.all_prefecture"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.all_prefecture') }}
              </b-form-checkbox>
              <multiselect
                v-model="job_location_multi"
                :options="attribute('prefecture')"
                :multiple="true"
                :placeholder="$t('global.placeholder.select')"
                label="text"
                track-by="text"
              />
            </b-form-group>
            <b-form-group :label="this.$t('global.fields.desired_job_feature')">
              <b-row>
                <b-col>
                  <b-form-checkbox
                    id="visa_support"
                    v-model="dataForm.visa_support"
                    value="1"
                    unchecked-value="0"
                  >
                    {{ this.$t('global.fields.visa_support') }}
                  </b-form-checkbox>

                  <b-form-checkbox
                    id="social_insurance"
                    v-model="dataForm.social_insurance"
                    value="1"
                    unchecked-value="0"
                  >
                    {{ this.$t('global.fields.social_insurance') }}
                  </b-form-checkbox>

                  <b-form-checkbox
                    id="hairstyle_freedom"
                    v-model="dataForm.hairstyle_freedom"
                    value="1"
                    unchecked-value="0"
                  >
                    {{ this.$t('global.fields.hairstyle_freedom') }}
                  </b-form-checkbox>
                  <b-form-checkbox
                    id="clothing_freedom"
                    v-model="dataForm.clothing_freedom"
                    value="1"
                    unchecked-value="0"
                  >
                    {{ this.$t('global.fields.clothing_freedom') }}
                  </b-form-checkbox>

                  <b-form-checkbox
                    id="housing_allowance"
                    v-model="dataForm.housing_allowance"
                    value="1"
                    unchecked-value="0"
                  >
                    {{ this.$t('global.fields.housing_allowance') }}
                  </b-form-checkbox>
                </b-col>
              </b-row>
            </b-form-group>

            <div class="d-flex justify-content-center">
              <b-button
                :disabled="valid"
                size="md"
                type="submit"
                variant="outline-info"
              >
                <font-awesome-icon
                  v-if="valid"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />
                {{ this.$t('global.buttons.setting_update') }}
              </b-button>
            </div>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import Multiselect from 'vue-multiselect'
import base from '~/mixins/base'

import 'vue-multiselect/dist/vue-multiselect.min.css'

export default nuxtend({
  components: {
    Multiselect
  },
  mixins: [base()],
  props: {
    page: {
      type: String,
      default: function() {
        return 'setting'
      }
    },
    setting: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      valid: false,

      receive_mail: [
        { text: this.$t('global.options.send_job_mail'), value: 1 },
        { text: this.$t('global.options.do_not_send_job_mail'), value: 0 }
      ],
      job_location_multi: [],
      dataForm: {
        receive_mail:
          this.setting.receive_mail !== null ? this.setting.receive_mail : 0,
        employment_type:
          this.setting.employment_type !== null &&
          this.setting.employment_type !== ''
            ? this.setting.employment_type.split(',')
            : null,
        job_category:
          this.setting.job_category !== null && this.setting.job_category !== ''
            ? this.setting.job_category.split(',')
            : null,
        industry: this.setting.industry !== null ? this.setting.industry : null,
        japanese_level:
          this.setting.japanese_level !== null
            ? this.setting.japanese_level
            : null,
        english_level:
          this.setting.english_level !== null
            ? this.setting.english_level
            : null,
        min_salary:
          this.setting.min_salary !== null ? this.setting.min_salary : null,
        max_salary:
          this.setting.max_salary !== null ? this.setting.max_salary : null,
        job_location:
          this.setting.job_location !== null
            ? this.setting.job_location.split(',')
            : [],
        visa_support:
          this.setting.visa_support !== null ? this.setting.visa_support : null,
        social_insurance:
          this.setting.social_insurance !== null
            ? this.setting.social_insurance
            : null,
        housing_allowance:
          this.setting.housing_allowance !== null
            ? this.setting.housing_allowance
            : null,
        hairstyle_freedom:
          this.setting.hairstyle_freedom !== null
            ? this.setting.hairstyle_freedom
            : null,
        clothing_freedom:
          this.setting.clothing_freedom !== null
            ? this.setting.clothing_freedom
            : null,
        salary_type:
          this.setting.salary_type !== null ? this.setting.salary_type : null,
        all_prefecture:
          this.setting.all_prefecture !== null ? this.setting.all_prefecture : 0
      }
    }
  },
  created() {
    const count = this.dataForm.job_location.length
    if (count > 0) {
      this.job_location_multi = []
      for (let i = 0; i < count; i++) {
        if (this.dataForm.job_location[i] !== '') {
          const jobLocation = {
            text: this.attribute('prefecture', this.dataForm.job_location[i])
              .text,
            value: this.dataForm.job_location[i]
          }
          this.job_location_multi.push(jobLocation)
        }
      }
    }
  },
  methods: {
    emitSettingUpdate(evt) {
      this.errors.clear()
      this.valid = true
      this.$validator.validateAll().then(result => {
        if (result) {
          const jobLocationPush = []
          _.each(this.job_location_multi, function(field, key) {
            jobLocationPush.push(field.value)
          })
          this.dataForm.job_location = jobLocationPush
          this.$store
            .dispatch('users/updateSeekerSetting', {
              id: this.setting.id,
              data: this.dataForm
            })
            .then(response => {
              this.$store.commit('users/SET_USER_SETTINGS', response.data.data)
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$emit('setting-update', { data: response.data.data })
              this.valid = false
            })
            .catch(err => {
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.valid = false
            })
        } else {
          this.valid = false
        }
      })
    }
  }
})
</script>
<style>
section {
  text-align: left;
}
</style>
