<template>
  <section>
    <b-row class="border-right p-4">
      <b-col class="col-12 col-md-12 col-sm-12">
        <img :src="image" class="w-100 rounded image-preview" alt="" />
      </b-col>
      <b-col class="col-12 col-md-12 col-sm-12">
        <b-button
          class="w-100 mt-1"
          variant="outline-info"
          @click="$router.push({ path: $i18n.path('/user/profile/update') })"
        >
          {{ this.$t('global.buttons.update') }}
        </b-button>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile'
      }
    },
    profile: {
      type: Object,
      default: function() {
        return {}
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  data() {
    return {}
  },
  computed: {
    image: function() {
      let url = ''
      if (
        this.user.image !== null &&
        this.user.image !== '' &&
        this.user.image.length > 0
      ) {
        // there always must be a single image for user so first index
        const imgRef = this.user.image[0]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return parseInt(converted.media_dimension) === 200
          })
          if (!scan) {
            url = imgRef.url
          } else {
            url = scan.url
          }
        } else {
          url = imgRef.url
        }
      }
      return url
    }
  }
})
</script>
<style scoped>
section {
  font-size: 18px;
  padding: 5px;
  text-align: center;
}
.image-preview {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
  position: relative;
  border: 3px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
</style>
