<template>
  <section>
    <b-row>
      <b-col class="col-12 col-md-12 col-sm-12">
        <b-tabs>
          <b-tab title="Profile">
            <ProfileBanner />
            <BasicProfileView />
          </b-tab>
          <b-tab title="Resume">
            <ResumeView />
          </b-tab>
          <b-tab title="Application History">
            Application History
          </b-tab>
          <b-tab title="Scout History">
            Scout History
          </b-tab>
          <b-tab title="Favourite">
            Favourite
          </b-tab>
        </b-tabs>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import ProfileBanner from '~/components/Profile/ProfileBanner'
import BasicProfileView from '~/components/Profile/Basic/BasicProfileView'
import ResumeView from '~/components/Profile/Resume/ResumeView'
export default nuxtend({
  components: {
    ProfileBanner,
    BasicProfileView,
    ResumeView
  }
})
</script>
