<template>
  <section>
    <BreadCrumb :menu="breadCrumb" />
    <div class="shadow p-3">
      <Detail :item="job" page="job.detail" />
    </div>
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import Detail from '~/components/Job/Detail'
import BreadCrumb from '~/components/Navigation/BreadCrumb'

export default nuxtend({
  components: {
    Detail,
    BreadCrumb
  },

  async fetch({ app, store, params, error }) {
    return Promise.all([
      await store.dispatch('jobs/getJob', params.slug).catch(e => {
        error({ statusCode: e.response.status })
      }),
      await store.dispatch('attributeAsync', [
        'time_period',
        'work_time',
        'week.days',
        'lang_option',
        'business_content',
        'lang.level',
        'prefecture',
        'job_category',
        'visa_status',
        'region'
      ]),
      await store.dispatch('attributeAsync', [
        'station.distance',
        'employment_type',
        'boolean',
        'holiday',
        'others',
        'salary_type',
        'walking.distance',
        'business_content'
      ]),
      await store.dispatch('attributeAsync', [
        'others',
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'employment_type',
        'no_of_employee'
      ]),
      await store.dispatch('attributeAsync', [
        'agriculture_forestry',
        'fishery',
        'mining_quarrying_gravel',
        'construction_industry',
        'manufacturing_industry',
        'electricity_gas_heat_water_supply',
        'information_communication',
        'transportation_postal_service',
        'wholesale_retail',
        'financial_insurance_industry'
      ]),
      await store.dispatch('attributeAsync', [
        'real_estate_goods_rental_business',
        'academic_research_industry',
        'accommodation_food_service',
        'lifestyle_related_service',
        'education_learning_support',
        'medical_care',
        'composite_service_business',
        'service_industry_not_classified',
        'public_affairs_excluding',
        'unclassifiable_industry'
      ])
    ]).then(async () => {
      await store.dispatch('jobs/getJobsList', {
        category_id: store.getters['jobs/job'].category_id,
        limit: 4
      })
    })
  },

  computed: {
    ...mapGetters({
      job: 'jobs/job'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.jobs'),
          route: '/jobs'
        },
        {
          text: this.$store.getters['jobs/job'].job_title[
            this.$store.getters.locale
          ],
          route: `/jobs/${this.$store.getters['jobs/job'].slug}`
        }
      ]
    }
  }
})
</script>
<style>
section {
  text-align: left !important;
}
</style>
