<template>
  <div id="results">
    <BreadCrumb :menu="breadCrumb" />
    <section>
      <b-row v-if="jobs.length > 0">
        <b-col class="col-12">
          {{ $t('global.search_form.results') }} : {{ meta.from }}-{{
            meta.to
          }}
          {{ $t('global.search_form.of') }} {{ meta.total }}
          {{ $t('global.search_form.matching_criteria') }}
        </b-col>
      </b-row>
      <b-row v-if="jobs.length == 0">
        <b-col class="col-12">
          {{ $t('global.search_form.no_results') }}
        </b-col>
      </b-row>
    </section>
    <List :jobs="jobs" />
    <Pagination :meta="meta" page="job.list" />
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import Pagination from '~/components/Navigation/Pagination'
import List from '~/components/Job/List'

export default nuxtend({
  layout: 'search',
  components: {
    BreadCrumb,
    List,
    Pagination
  },

  async fetch({ app, store, query }) {
    return Promise.all([
      await store.dispatch('jobs/getJobsList', {
        page: query.page || 1,
        ...query
      }),
      await store.dispatch('attributeAsync', [
        'time_period',
        'country',
        'experience',
        'gender',
        'lang.level',
        'employment_type',
        'boolean',
        'business_content',
        'job_category'
      ]),
      await store.dispatch('attributeAsync', [
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'others',
        'salary_type'
      ]),
      await store.dispatch('attributeAsync', ['prefecture', 'region'])
    ])
  },
  mounted() {
    if (this.$UAParser.device.type === 'mobile') {
      this.$scrollTo('#results')
    }
  },
  watchQuery: true,
  watch: {
    $route(to, from) {
      if (this.$UAParser.device.type === 'mobile') {
        this.$scrollTo('#results')
      }
    }
  },
  computed: {
    ...mapGetters({
      jobs: 'jobs/jobs',
      meta: 'jobs/meta'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.jobs'),
          route: '/jobs'
        }
      ]
    }
  }
})
</script>
