<template>
  <section class="border p-2">
    <OverlayLoading ref="overlayloading" />
    <h2>{{ $t('global.titles.skills') }}</h2>
    <b-row>
      <b-col class="col-12">
        <multiselect
          v-model="userSkills"
          :options="arrangedSource"
          :multiple="multiple"
          :close-on-select="closeSelect"
          :placeholder="$t('global.placeholder.pick_skill')"
          label="text"
          track-by="text"
          @select="onSelect"
        />
      </b-col>
    </b-row>
    <div v-if="emptySkills" class="error">
      <span>{{ this.$t('global.messages.empty_skills') }}</span>
    </div>
    <b-row>
      <b-col class="p-2 mt-3 mx-auto">
        <b-row v-for="(item, key) in userSkills" :key="key">
          <b-col class="col-md-3 col-sm-12">
            {{ item.text }}
          </b-col>
          <b-col class="col-md-8 col-sm-12">
            <b-form-group id="employmenttypegroup">
              <b-form-radio-group
                :id="`skill_id_${key}`"
                v-model="userSkills[key].level"
                :options="attribute('skill_experience')"
              />
            </b-form-group>
            <hr />
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <div v-if="page != 'job.apply'" class="d-flex justify-content-center">
      <b-button
        :disabled="valid"
        size="md"
        type="submit"
        variant="outline-info"
        @click="emitSkillUpdate"
      >
        <font-awesome-icon
          v-if="valid"
          :icon="['fas', 'spinner']"
          :style="{ color: '#27B6C5' }"
        />
        {{ this.$t('global.buttons.submit') }}
      </b-button>
    </div>
  </section>
</template>

<script>
import _ from 'lodash'
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'

export default nuxtend({
  components: {
    Multiselect,
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    },
    PassedUserSkills: {
      type: Array,
      default: function() {
        return []
      }
    }
  },

  mixins: [base()],

  data() {
    return {
      skillTracker: [],
      userSkills: [],
      valid: false,
      multiple: true,
      closeSelect: true,
      multiValue: [],
      selected: null,
      source: this.attribute('skill'),
      emptySkills: false
    }
  },

  created() {
    const count = this.PassedUserSkills.length
    if (count > 0) {
      this.userSkills = []
      for (let i = 0; i < count; i++) {
        const skill = {
          text: this.attribute(
            this.PassedUserSkills[i].skill_type,
            this.PassedUserSkills[i].skill_id
          ).text,
          value: this.PassedUserSkills[i].skill_id,
          level: this.PassedUserSkills[i].level,
          group_name: this.PassedUserSkills[i].skill_type
        }
        this.userSkills.push(skill)
      }
    }
  },

  computed: {
    arrangedSource: function() {
      return _.orderBy(
        _.spread(_.union)(this.source),
        [skill => skill.text],
        ['asc']
      )
    }
  },

  methods: {
    onSelect(value) {
      value.level = '0'
    },
    emitSkillUpdate(evt) {
      this.errors.clear()
      this.valid = true
      this.emptySkills = false
      if (this.userSkills.length > 0) {
        this.$validator.validateScopes(this.scope).then(result => {
          if (result) {
            this.$refs.overlayloading.start()
            const userSkillsFinal = []
            _.each(this.userSkills, function(field, key) {
              const singleSkill = {}
              singleSkill.skill_type = field.group_name
              singleSkill.skill_id = field.value
              singleSkill.level = field.level
              userSkillsFinal.push(singleSkill)
            })
            this.$toast.clear()
            this.$store
              .dispatch('users/updateSkillsProfile', {
                id: this.user.user_type_id,
                data: userSkillsFinal
              })
              .then(response => {
                this.$refs.overlayloading.finish()
                this.$store.commit('users/SET_USER_SKILLS', response.data.data)
                this.$toast.show(response.data.message, {
                  icon: 'check',
                  type: 'success'
                })
                this.valid = false
                this.$emit('skill-update', {
                  data: response.data.data,
                  scope: this.scope
                })
              })
              .catch(() => {
                this.$refs.overlayloading.finish()
                this.valid = false
              })
          } else {
            this.valid = false
          }
        })
      } else {
        this.valid = false
        this.emptySkills = true
      }
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
