<template>
  <div>
    <BreadCrumb :menu="breadCrumb" />
    <span>qna</span>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import BreadCrumb from '~/components/Navigation/BreadCrumb'

export default nuxtend({
  layout: 'default',
  components: {
    BreadCrumb
  },
  computed: {
    breadCrumb: function() {
      return [
        {
          text: this.$t('global.footer.Q_A'),
          route: '/qna'
        }
      ]
    }
  }
})
</script>

<style scoped></style>
