<template>
  <b-row>
    <b-col>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <nuxt-link :to="$i18n.path('/')">
              {{ $t('breadcrumbs.home') }}
            </nuxt-link>
          </li>
          <li v-for="(item, key) in menu" :key="key" class="breadcrumb-item">
            <nuxt-link :to="$i18n.path(item.route)">
              {{ item.text }}
            </nuxt-link>
          </li>
        </ol>
      </nav>
    </b-col>
  </b-row>
</template>
<script>
import nuxtend from 'nuxtend'
export default nuxtend({
  props: {
    menu: {
      type: Array,
      default: function() {
        return []
      }
    }
  }
})
</script>
<style scoped>
.breadcrumb-item {
}
</style>
