<template>
  <section v-if="meta.last_page > 1">
    <b-row>
      <b-col>
        <nav>
          <ul class="pagination">
            <li
              :class="{
                'page-item': true,
                disabled: meta.current_page == 1 ? true : false
              }"
            >
              <nuxt-link :to="url_to(1)" class="page-link">
                {{ $t('global.navigation.first') }}
              </nuxt-link>
            </li>
            <li v-if="meta.current_page != 1" class="page-item disabled">
              <a class="page-link">...</a>
            </li>
            <template v-for="n in meta.last_page">
              <li
                v-if="n >= meta.current_page - 1 && n <= meta.current_page + 1"
                :key="n"
                :class="{
                  'page-item': true,
                  active: meta.current_page == n ? true : false
                }"
              >
                <nuxt-link :to="url_to(n)" class="page-link">
                  {{ n }}
                </nuxt-link>
              </li>
            </template>
            <li
              v-if="meta.current_page != meta.last_page"
              class="page-item disabled"
            >
              <a class="page-link">...</a>
            </li>
            <li
              :class="{
                'page-item': true,
                disabled: meta.current_page == meta.last_page ? true : false
              }"
            >
              <nuxt-link :to="url_to(meta.last_page)" class="page-link">
                {{ $t('global.navigation.last') }}
              </nuxt-link>
            </li>
          </ul>
        </nav>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return ''
      }
    },
    meta: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  methods: {
    url_to(page) {
      if (_.size(this.$route.query) > 0) {
        delete this.$route.query.page
        return `?page=${page}&${this.generateUrl(this.$route.query)}`
      } else {
        return `?page=${page}`
      }
    }
  }
})
</script>
