<template>
  <section class="jb-footer">
    <footer class="mt-4">
      <!--industries list start here-->
      <section>
        <!--<h2>{{ $t('global.titles.quick_links') }}</h2>-->
        <div class="d-flex flex-sm-row flex-column justify-content-center">
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/how-to-write-resume')">
              {{ $t('global.footer.how_to_write_resume') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/user-guide')">
              {{ $t('global.footer.user_guide') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/qna')">
              {{ $t('global.footer.Q_A') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/interview-advice')">
              {{ $t('global.footer.interview_advise') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/contact')">
              {{ $t('global.footer.contact') }}
            </nuxt-link>
          </div>
        </div>
      </section>
      <!--industries list ends here-->
      <section>
        <b-row>
          <b-col>
            <div>
              <div class="d-flex justify-content-center">
                <div class="p-2">
                  <a href="https://facebook.com" target="_blank">
                    <font-awesome-icon
                      :icon="['fab', 'facebook']"
                      :style="{ color: '#fff' }"
                  /></a>
                </div>
                <div class="p-2">
                  <a href="https://twitter.com" target="_blank">
                    <font-awesome-icon
                      :icon="['fab', 'twitter']"
                      :style="{ color: '#fff' }"
                  /></a>
                </div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-center">
                <div class="p-2">
                  {{ $t('global.footer.note_before') }}
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
        <div class="d-flex flex-sm-row flex-column justify-content-center">
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/inquiry')">
              {{ $t('global.footer.inquiry') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/company-overview')">
              {{ $t('global.footer.company_overview') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/privacypolicy')">
              {{ $t('global.footer.privacy_policy') }}
            </nuxt-link>
          </div>
          <div class="p-2">
            <nuxt-link :to="$i18n.path('/sitemap')">
              {{ $t('global.footer.site_map') }}
            </nuxt-link>
          </div>
        </div>
        <div class="d-flex justify-content-center jb-copyright">
          &copy; {{ $t('global.footer.note_after') }}
        </div>
      </section>
    </footer>
  </section>
</template>
<style scoped>
section {
  text-align: left;
}
a {
  color: white;
}
</style>
