<template>
  <b-navbar toggleable="md">
    <b-navbar-brand>
      <b-link :to="$i18n.path('/')">
        <img src="~/assets/images/logo_new.png" width="160px" alt="" />
      </b-link>
    </b-navbar-brand>

    <b-navbar-toggle target="nav_collapse" />

    <b-collapse id="nav_collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <template v-if="isAuthenticated">
          <b-nav-item
            v-for="(item, key) in userMenuItems.filter(
              menuitem => menuitem.show === true
            )"
            :key="`user-menu-${key}`"
            @click="$router.push({ path: $i18n.path(item.path) })"
          >
            {{ item.text }}
          </b-nav-item>
          <b-nav-item-dropdown right>
            <template slot="button-content">
              <i class="material-icons">
                person
              </i>
            </template>
            <b-dropdown-item
              @click="$router.push({ path: $i18n.path('/user/profile') })"
            >
              {{ this.$t('global.links.profile') }}
            </b-dropdown-item>
            <b-dropdown-item
              @click="$router.push({ path: $i18n.path('/user/setting') })"
            >
              {{ this.$t('global.links.settings') }}
            </b-dropdown-item>
            <b-dropdown-item @click="logOut()">
              {{ this.$t('global.links.logout') }}
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item>
            <Bell />
          </b-nav-item>
        </template>
        <template v-else>
          <b-nav-item
            v-for="(item, key) in guestMenuItems.filter(
              menuitem => menuitem.show === true
            )"
            :key="`guest-menu-${key}`"
            depressed
            @click="$router.push({ path: $i18n.path(item.path) })"
          >
            {{ item.text }}
          </b-nav-item>
        </template>
      </b-navbar-nav>
    </b-collapse>
    <transition name="slide-fade">
      <Notifications v-if="notification_drawer" />
    </transition>
  </b-navbar>
</template>
<script>
import { mapGetters } from 'vuex'
import Bell from '~/components/Navigation/Notification/Bell'
import Notifications from '~/components/Navigation/Notification/Notifications'
import base from '~/mixins/base'

export default {
  components: {
    Bell,
    Notifications
  },
  mixins: [base()],
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser', 'notification_drawer'])
  },
  watch: {
    loggedInUser: function() {
      if (this.loggedInUser) {
        this.$echo.connector.options.auth.headers.Authorization = this.$auth.getToken(
          'local'
        )
        this.$echo
          .private(`App.Models.User.` + this.$store.getters.loggedInUser.id)
          .notification(notification => {
            this.$toast.clear()
            this.$store.dispatch('getNotifications')
            if (this.$store.getters.locale === 'en')
              this.$toast.show(notification.message_en, {
                icon: 'history',
                type: 'success'
              })
            else
              this.$toast.show(notification.message_ja, {
                icon: 'history',
                type: 'sucess'
              })
          })
        window.localStorage.setItem(
          'authenticated_id',
          this.$store.getters.loggedInUser.id
        )
      } else {
        this.$echo.leave(
          `App.Models.User.` + window.localStorage.getItem('authenticated_id')
        )
      }
    }
  },
  created() {
    this.guestMenuItems = [
      {
        text: this.$t('global.links.jobs'),
        path: '/jobs',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.login'),
        path: '/login',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.register'),
        path: '/register',
        show: true
      }
    ]
    this.userMenuItems = [
      {
        text: this.$t('global.links.jobs'),
        path: '/jobs',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.scout'),
        path: '/user/scout',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.favourite'),
        path: '/user/wishlist',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.application_history'),
        path: '/user/application',
        show: !JSON.parse(process.env.LANDING)
      },
      {
        text: this.$t('global.links.messages'),
        path: '/user/messages',
        show: !JSON.parse(process.env.LANDING)
      }
    ]
    this.locales = { ja: '日本語', en: 'english' }
    this.locale = 'ja'
    this.language = [
      {
        locale: '日本語',
        name: 'ja',
        icon: 'play_for_work',
        src: '~/assets/images/lang/jpn.jpeg'
      },
      {
        locale: 'English',
        name: 'en',
        icon: 'attach_money',
        src: '~/assets/images/lang/en.png'
      }
    ]
  },

  mounted() {
    if (this.loggedInUser) {
      this.$echo.connector.options.auth.headers.Authorization = this.$auth.getToken(
        'local'
      )
      this.$echo
        .private(`App.Models.User.` + this.$store.getters.loggedInUser.id)
        .notification(notification => {
          this.$toast.clear()
          this.$store.dispatch('getNotifications')
          if (this.$store.getters.locale === 'en')
            this.$toast.show(notification.message_en, {
              icon: 'history',
              type: 'success'
            })
          else
            this.$toast.show(notification.message_ja, {
              icon: 'history',
              type: 'success'
            })
        })
    } else {
      this.$echo.leave(
        `App.Models.User.` + window.localStorage.getItem('authenticated_id')
      )
    }
  },
  methods: {
    changeLocale(locale) {
      location.href = this.$i18n.path(null, locale)
      this.locale = locale
    },
    async logOut() {
      await this.$auth.logout()
      this.showHideNoti()
      this.$router.push(this.$i18n.path('/'))
    }
  }
}
</script>
<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transform: translateX(98%);
  -webkit-transform: translateX(98%);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
