<template>
  <div>
    datepicker
  </div>
</template>

<script>
export default {
  data() {
    return {
      year: [],
      month: [],
      day: []
    }
  },
  methods: {}
}
</script>
<!-- carousel-1.vue -->
