<template>
  <div>
    <div v-if="type == 'image'" class="avatar-upload">
      <div class="avatar-edit">
        <font-awesome-icon
          :icon="['fas', 'edit']"
          :style="{
            color: '#27B6C5',
            position: 'absolute',
            top: '10px',
            left: 0,
            right: 0,
            margin: 'auto',
            'z-index': '-1'
          }"
        />
        <input
          id="imageUpload"
          type="file"
          accept=".png, .jpg, .jpeg"
          @change="onChange"
        />
        <label for="imageUpload" />
      </div>
      <div class="avatar-preview">
        <div
          id="imagePreview"
          :style="{
            'background-image': 'url(' + background + ')'
          }"
        />
      </div>
    </div>
    <div v-if="type == 'video'">
      this is video
    </div>
  </div>
</template>

<script>
export default {
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    type: {
      type: String,
      default: function() {
        return 'image'
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      background: '',
      media_type: ''
    }
  },
  methods: {
    async onChange(image) {
      if (image.target.files[0]) {
        const reader = new FileReader()
        reader.onload = this.imageLoaded
        await reader.readAsDataURL(image.target.files[0])
      }
    },
    imageLoaded(event) {
      this.background = event.target.result
    }
  }
}
</script>
<style scoped>
.avatar-upload {
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: transparent;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
