<template>
  <!--
  <div>
    <b-carousel
      id="carousel1"
      v-model="slide"
      :interval="4000"
      indicators
      class="d-block img-fluid w-100"
      background="#ababab"
      img-width="1024px"
      img-height="300px"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <a href="" @click="preview">
        <b-carousel-slide
          v-for="(image, key) in images_srcs"
          :key="key"
          :img-src="image"
          class="image_test"
          style="cursor: pointer"
        />
      </a>
    </b-carousel>
    <no-ssr>
      <div class="p-3">
        <vue-gallery-slideshow
          :images="images_srcs"
          :index="index"
          @close="index = null"
        />
      </div>
    </no-ssr>
  </div>
  -->
  <div>
    <b-carousel
      id="carousel1"
      v-model="slide"
      :interval="4000"
      indicators
      background="#000000"
      img-width="800"
      img-height="450"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <a href="" @click="preview">
        <b-carousel-slide
          v-for="(image, key) in images_srcs"
          :key="key"
          :style="{ background: `url(${image}) no-repeat center/cover` }"
          img-blank
        />
      </a>
    </b-carousel>
    <no-ssr>
      <div class="p-3">
        <vue-gallery-slideshow
          :images="images_srcs"
          :index="index"
          @close="index = null"
        />
      </div>
    </no-ssr>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.detail'
      }
    },
    images: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  data() {
    return {
      slide: 0,
      sliding: null,
      index: null
    }
  },
  computed: {
    images_srcs: function() {
      const imgs = []
      _.each(this.images, (value, key) => {
        const imgRef = this.images[key]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return parseInt(converted.media_dimension) === 800
          })
          if (!scan) {
            imgs.push(imgRef.url)
          } else {
            imgs.push(scan.url)
          }
        } else {
          imgs.push(imgRef.url)
        }
      })
      return imgs
    }
  },

  methods: {
    preview(e) {
      e.preventDefault()
      this.index = this.slide
    },
    onSlideStart(slide) {
      // this.index = slide
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    }
  }
}
</script>

<!--
<style scoped>
.image_test {
  width: 100%;
  height: auto;
}
#carousel1 {
  height: 400px;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  #carousel1 {
    height: 200px;
  }
}
</style>
-->

<!-- carousel-1.vue -->
