<template>
  <section>
    <OverlayLoading ref="overlayloading" />
    <b-row>
      <b-col class="col-12">
        <b-form :data-vv-scope="scope" @submit.prevent="emitExperienceUpdate">
          <div
            v-for="(item, key) in dataForm.user_experiences"
            :key="key"
            class="border p-3 mt-3"
          >
            <div style="position: relative">
              <div class="float-right mb-2">
                <span
                  v-show="
                    page == 'job.apply' ||
                      dataForm.user_experiences.length > 1 ||
                      dataForm.user_experiences[key].id !== undefined
                  "
                  class="jb-remove-icon"
                  variant="outline-danger"
                  @click="removeExperience(key)"
                >
                  <font-awesome-icon
                    :icon="['fas', 'window-close']"
                    :style="{ color: '#C9302B' }"
                    size="2x"
                  />
                </span>
              </div>

              <b-form-group
                id="company_name"
                :label="$t('global.fields.company_name')"
                label-for="company_name"
                label-class="required"
              >
                <b-form-input
                  id="company_name"
                  v-model="dataForm.user_experiences[key].company_name"
                  v-validate="'required|max:100'"
                  :data-vv-name="`company_name_${key}`"
                  :data-vv-as="$t('global.fields.company_name')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`experienceUpdate.company_name_${key}`)
                }}</span>
              </div>
              <b-form-group
                id="job_title"
                :label="$t('global.fields.job_title')"
                label-for="job_title"
                label-class="required"
              >
                <b-form-input
                  id="job_title"
                  v-model="dataForm.user_experiences[key].job_title"
                  v-validate="'required|max:100'"
                  :data-vv-name="`job_title_${key}`"
                  :data-vv-as="$t('global.fields.job_title')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`experienceUpdate.job_title_${key}`)
                }}</span>
              </div>

              <no-ssr>
                <b-form-group
                  id="job_from"
                  :label="$t('global.fields.job_from')"
                  label-for="job_from"
                  label-class="required"
                >
                  <CostumDate
                    v-model="dataForm.user_experiences[key].job_from"
                    v-validate="'required_date|validate_date'"
                    :name="`job_from_${key}`"
                    :max="max_date"
                    :default="
                      dataForm.user_experiences[key].job_from != null
                        ? dataForm.user_experiences[key].job_from
                        : '0000-00-00'
                    "
                    :data-vv-name="`job_from_${key}`"
                    :data-vv-as="$t('global.fields.job_from')"
                    :months-names="$t('global.fields.months')"
                    min="1920"
                    type="Y.m"
                    @change="$emit('input', $event.target.value)"
                  />
                  <input
                    v-show="false"
                    v-model="dataForm.user_experiences[key].job_from"
                    v-validate="'required_date|validate_date'"
                    :data-vv-name="`job_from_${key}`"
                    :data-vv-as="$t('global.fields.job_from')"
                  />
                </b-form-group>
                <div class="error">
                  <span>{{
                    errors.first(`experienceUpdate.job_from_${key}`)
                  }}</span>
                </div>
              </no-ssr>
              <b-form-group :label="$t('global.fields.currently_working_here')">
                <b-form-checkbox
                  :id="`currently_working_here_${key}`"
                  v-model="
                    dataForm.user_experiences[key].currently_working_here
                  "
                  :name="`currently_working_here_${key}`"
                  value="1"
                  unchecked-value="0"
                  @change="workingHere(key)"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`experienceUpdate.currently_working_here_${key}`)
                }}</span>
              </div>

              <div
                v-if="
                  dataForm.user_experiences[key].currently_working_here == 0
                "
              >
                <no-ssr>
                  <b-form-group
                    id="job_to"
                    :label="$t('global.fields.job_to')"
                    label-for="job_to"
                    label-class="required"
                  >
                    <CostumDate
                      v-model="dataForm.user_experiences[key].job_to"
                      v-validate="'required_date|validate_date'"
                      :max="max_date"
                      :default="
                        dataForm.user_experiences[key].job_to != null
                          ? dataForm.user_experiences[key].job_to
                          : '0000-00-00'
                      "
                      :data-vv-name="`job_to_${key}`"
                      :data-vv-as="$t('global.fields.job_to')"
                      :months-names="$t('global.fields.months')"
                      min="1920"
                      type="Y.m"
                      @change="$emit('input', $event.target.value)"
                    />
                    <input
                      v-show="false"
                      v-model="dataForm.user_experiences[key].job_to"
                      v-validate="'required_date|validate_date'"
                      :data-vv-name="`job_to_${key}`"
                      :data-vv-as="$t('global.fields.job_to')"
                    />
                  </b-form-group>
                  <div class="error">
                    <span>{{
                      errors.first(`experienceUpdate.job_to_${key}`)
                    }}</span>
                  </div>
                </no-ssr>
              </div>

              <b-form-group
                id="annual_salary"
                :label="$t('global.fields.annual_salary')"
                label-for="annual_salary"
                label-class="required"
              >
                <b-form-select
                  v-model="dataForm.user_experiences[key].annual_salary"
                  v-validate="'required'"
                  :options="attribute('annual_salary_range')"
                  :data-vv-name="`annual_salary_${key}`"
                  :data-vv-as="$t('global.fields.annual_salary')"
                >
                  <option slot="first" :value="null">
                    {{ $t('global.placeholder.select') }}
                  </option>
                </b-form-select>
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`experienceUpdate.annual_salary_${key}`)
                }}</span>
              </div>
              <b-form-group
                id="job_description"
                :label="$t('global.fields.job_description')"
                label-class="required"
              >
                <b-textarea
                  id="job_description"
                  v-model="dataForm.user_experiences[key].job_description"
                  v-validate="'required|max:1500'"
                  :rows="6"
                  :data-vv-name="`job_description_${key}`"
                  :data-vv-as="$t('global.fields.job_description')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`experienceUpdate.job_description_${key}`)
                }}</span>
              </div>
            </div>
          </div>
          <b-button
            class="mt-3"
            variant="outline-info"
            @click="addNewExperience"
          >
            {{ $t('global.buttons.add_new') }}
          </b-button>
          <div v-if="page != 'job.apply'" class="d-flex justify-content-center">
            <b-button
              v-if="dataForm.user_experiences.length > 0"
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ $t('global.buttons.submit') }}
            </b-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import CostumDate from '~/components/UI/CostumDate'
import OverlayLoading from '~/components/UI/OverlayLoading'

export default nuxtend({
  components: {
    CostumDate,
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    experiences: {
      type: Array,
      default: function() {
        return []
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  computed: {
    max_date: function() {
      return new Date().getFullYear().toString()
    }
  },

  created() {
    const count = this.experiences.length
    if (count > 0) {
      this.dataForm.user_experiences = []
      for (let i = 0; i < count; i++) {
        const exp = {
          id: this.experiences[i].id,
          company_name: this.experiences[i].company_name,
          job_title: this.experiences[i].job_title,
          job_from: this.experiences[i].job_from,
          job_to:
            parseInt(this.experiences[i].currently_working_here) === 0
              ? this.experiences[i].job_to
              : null,
          currently_working_here: this.experiences[i].currently_working_here,
          job_description: this.experiences[i].job_description,
          annual_salary: this.experiences[i].annual_salary
        }
        this.dataForm.user_experiences.push(exp)
      }
    }
    this.veevalidateLocalize()
  },

  mounted() {
    if (
      this.page !== 'job.apply' &&
      this.dataForm.user_experiences.length === 0
    ) {
      this.dataForm.user_experiences.push({
        company_name: '',
        job_title: '',
        job_from: null,
        job_to: null,
        currently_working_here: 1,
        job_description: '',
        annual_salary: null
      })
    }
  },
  data() {
    return {
      valid: false,
      scope: 'experienceUpdate',
      deleted_ids: [],
      dataForm: {
        user_experiences: []
      }
    }
  },
  methods: {
    workingHere(key) {
      if (
        parseInt(this.dataForm.user_experiences[key].currently_working_here) ===
        0
      ) {
        this.dataForm.user_experiences[key].job_to = null
      }
    },
    addNewExperience() {
      this.dataForm.user_experiences.push({
        company_name: '',
        job_title: '',
        job_from: null,
        job_to: null,
        currently_working_here: 1,
        job_description: '',
        annual_salary: null
      })
    },
    removeExperience(key) {
      if (
        this.dataForm.user_experiences[key].id !== undefined &&
        this.page !== 'job.apply'
      ) {
        const deleteData = {
          id: this.dataForm.user_experiences[key].id,
          resource: 'seeker-experiences'
        }
        this.$store
          .dispatch('users/deleteProfileItem', deleteData)
          .then(response => {
            this.$store.dispatch(
              'users/getSeekerProfileInfo',
              this.user.user_type_id
            )
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            this.dataForm.user_experiences.splice(key, 1)
          })
          .catch(err => {
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
          })
      } else {
        if (this.dataForm.user_experiences[key].id !== undefined) {
          this.deleted_ids.push(this.dataForm.user_experiences[key].id)
        }
        this.dataForm.user_experiences.splice(key, 1)
      }
    },

    emitExperienceUpdate(evt) {
      this.$toast.clear()
      this.errors.clear('experienceUpdate')
      this.valid = true
      this.$validator.validateScopes(this.scope).then(result => {
        if (result) {
          this.$refs.overlayloading.start()
          this.$store
            .dispatch('users/updateExperiencesProfile', {
              id: this.user.user_type_id,
              data: this.dataForm.user_experiences
            })
            .then(response => {
              this.$store.commit(
                'users/SET_USER_EXPERIENCES',
                response.data.data
              )
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$refs.overlayloading.finish()
              this.$emit('experience-update', response.data.data)
              this.valid = false
            })
            .catch(err => {
              this.$refs.overlayloading.finish()
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                const realField = field.split('.')
                errs.push(
                  _.merge(
                    {},
                    {
                      field: realField[2] + '_' + realField[1],
                      scope: 'experienceUpdate',
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.clear()
                this.errors.add(errs)
              }
              this.valid = false
            })
        } else {
          this.scrollToClass('error')
          this.valid = false
        }
      })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
