$font-family-sans-serif: Noto Sans JP,sans-serif;
$font-weight-normal: 300;
$headings-font-weight: 300;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


/* Define an animation behavior */
@keyframes spinner {
  to { transform: rotate(360deg); }
}
/* This is the class name given by the Font Awesome component when icon contains 'spinner' */
.fa-spinner {
  /* Apply 'spinner' keyframes looping once every second (1s)  */
  animation: spinner 1s linear infinite;
}
.link_class{
  text-decoration: underline;
  cursor: pointer;
}
.page-link {
  color: $info;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
label.required:after, legend.required:after{
  content: ' *';
  color: red;
}
/*
Date time picker css
 */
.theme-datetime .vdatetime-popup__header,
.theme-datetime .vdatetime-calendar__month__day--selected > span > span,
.theme-datetime .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #27B6C5;
}

.theme-datetime .vdatetime-year-picker__item--selected,
.theme-datetime .vdatetime-time-picker__item--selected,
.theme-datetime .vdatetime-popup__actions__button {
  color: #27B6C5;
}

button:focus {
  outline: none;
}
.card, .form-control, .btn, .badge {
  border-radius: 0;
}
.navbar-light .navbar-toggler {
  border-color: #fff !important;
}
.navbar-collapse {
  & > ul {
      align-items: center;
  & .jb-lang {
      width: 30px;
    }
  }
}
.nav-tabs {
  & + .nav-link {
      border-top-left-radius: none;
      border-top-right-radius: none;
    }
  a[aria-selected=false]{
    color: $info;
  }
}
.breadcrumb {
  background-color: #fff;
}
.page-item.active .page-link {
  background-color: $info;
  border-color: $info;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border: solid 2px $info;
}
.custom-control-input:disabled ~ .custom-control-label::before {
  border-color: #ccc;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $info;
  background-color: $info;
}

#carousel1 {
  /*
  .carousel-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  */
}
