* :focus {
  outline: none;
}
html,body,#__nuxt,#__layout,#jb-wrap {
  height: 100%
}
body {
  background-color: #FFF;
  letter-spacing: 0.8px;
  font-size: 14px;
}
a {
  cursor: pointer;
  color: #0d587be0;
  &:hover{
    text-decoration: none;
    color: #27B6C5;
  }
}
hr {
  width: 100%
}
section {
  margin-top: 10px;
  margin-bottom: 10px;
}
#jb-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 0px;
  padding-left: 0px;
}
#jb-main {
  flex: 1;
}
#jb-footer {
  background: powderblue;
  padding: 20px
}
.jb-lang {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  cursor: pointer;
  &.lang_en {
    background: url("~assets/images/us.svg") no-repeat;
  }
  &.lang_ja {
    background: url("~assets/images/jp.svg") no-repeat;
  }
}
.jb-search-container {
  background: powderblue;
  border-top: 1px solid #17a2b8;
  padding: 2px;
  .row {
    margin-right: 0px;
    margin-left: 0px;
    .col {
      padding: 0px;
    }
  }
}
.jb-features {
  .row {
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    & > .col {
      padding-right: 2px;
      padding-left: 2px;
    }
  }
  .card-body {
    padding: 0.5em;
  }
}
.jb-copyright {
  font-size: 0.8em;
}
.jb-checkbox-group-inline {
  .custom-control {
    display: inline-block;
  }
}
.jb-label-group {
  display: flex;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.jb-label {
  padding: 0.5em;
  color: #fff;
  background-color: #17a2b8;
  font-size: 0.8em;
  margin-bottom: 0.25rem;
}
.jb-reply{
  background: whitesmoke;
  text-align: left;
}
.jb-slogan{
  font-size: 0.8em;
  margin-left: 1em;
}
.jb-job-list {
  border-bottom: 1px solid lightgrey;
  & > div {
    text-align: center;
  }
}
.jb-single-job-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  margin-right: 0px;
  margin-left: 0px;
  .media-body {
    .badge {
      padding: 1rem;
    }
  }
}
.jb-remove-icon{
  position: absolute;
  right: -19px;
  top: -19px;
  cursor: pointer;
}
.jb-bell {
  .badge {
    position: absolute;
    right: -2px;
    font-size: 20% !important;
    padding: 2px;
    font-weight: 300;
  }
}
.jb-search-form {
  h4 {
    font-size: 1.5em;
  }
  .btn {
    width: 100%;
  }
}
.jb-no-records {
  text-align: center;
  border: 1px solid $secondary;
  padding: 40px;
  color: $secondary;
}
.jb-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jb-img-200 {
  background-color: #f0f0f0;
  width: 200px;
  height: 200px;
  position: relative;
  background-size: cover;
}
.jb_detail_value {
  ul {
    padding-left: 1rem;
  }
}
.jb-video {
  cursor: pointer;
  &.play {
    cursor: none;
    &:before {
      display: none;
    }
  }
  &:before {
    font-family: 'Material Icons';
    content: "\e039";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5rem;
  }
  video {
    background-color: #000;
  }
}
.jb-no-video {
  background-color: #000;
  color: #fff;
  height: 300px;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Transitions using the page hook */
.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.error{
  font-size: 14px;
  color: red;
}

.register-section{
  font-size: 15px;
  background-color: #27B6C5;
  color: #ffffff;
}

.register-section a{
  color: #ffffff;
  text-decoration: underline;
}

/*media queries*/
@media only screen and (max-width: 600px) {
  .job_detail_heading {
    background-color: lightblue;
  }
}



