<template>
  <section>
    <OverlayLoading ref="overlayloading" />
    <b-row>
      <div class="col-12">
        <b-form :data-vv-scope="scope" @submit.prevent="processUpdate">
          <b-form-group
            id="fullName"
            :label="this.$t('global.fields.full_name')"
            label-for="full_name"
            label-class="required"
          >
            <b-form-input
              id="fullName"
              v-model="dataForm.full_name"
              v-validate="'required|romanji'"
              :data-vv-as="this.$t('global.fields.full_name')"
              data-vv-name="full_name"
            />
            <div class="error">
              <span>{{ errors.first('basicUpdate.full_name') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="katakana"
            :label="this.$t('global.fields.katakana_full_name')"
            label-for="katakana_full_name"
            label-class="required"
          >
            <b-form-input
              id="katakana_full_name"
              v-model="dataForm.katakana_full_name"
              v-validate="'required|katakana'"
              :data-vv-as="this.$t('global.fields.katakana_full_name')"
              data-vv-name="katakana_full_name"
            />
            <b-form-text id="inputLiveHelp">
              {{ $t('global.messages.full_width_katakana') }}
            </b-form-text>
            <div class="error">
              <span>{{ errors.first('basicUpdate.katakana_full_name') }}</span>
            </div>
          </b-form-group>
          <no-ssr>
            <b-form-group
              id="dob"
              :label="this.$t('global.fields.dob')"
              label-for="dob"
              label-class="required"
            >
              <CostumDate
                v-model="dataForm.dob"
                v-validate="'validate_date'"
                :default="dataForm.dob"
                :max="max_dob"
                :months-names="$t('global.fields.months')"
                min="1920"
                data-vv-name="dob"
              />
              <div class="error">
                <span>{{ errors.first('basicUpdate.dob') }}</span>
              </div>
            </b-form-group>
          </no-ssr>
          <b-form-group
            id="gender"
            :label="this.$t('global.fields.gender')"
            label-for="gender"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.gender"
              v-validate="'required'"
              :options="attribute('gender')"
              :data-vv-as="this.$t('global.fields.gender')"
              data-vv-name="gender"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.gender') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{ errors.first('basicUpdate.gender') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="country"
            :label="this.$t('global.fields.birth_country')"
            label-for="country"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.country"
              v-validate="'required'"
              :options="attribute('country')"
              :data-vv-as="this.$t('global.fields.country')"
              data-vv-name="country"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.country') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{ errors.first('basicUpdate.country') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            v-if="dataForm.country != null"
            id="living_country"
            :label="this.$t('global.fields.living_country')"
            label-for="living_country"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.living_country"
              v-validate="'required'"
              :options="attribute('country')"
              :data-vv-as="this.$t('global.fields.living_country')"
              data-vv-name="living_country"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.country') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{ errors.first('basicUpdate.living_country') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            v-if="
              dataForm.living_country != null && dataForm.living_country == 1
            "
            :label="$t('global.fields.willing_to_relocate')"
          >
            <b-form-checkbox
              id="willing_to_relocate"
              v-model="dataForm.willing_to_relocate"
              value="1"
              unchecked-value="0"
            />
          </b-form-group>
          <b-form-group
            v-if="dataForm.country != 1 && dataForm.country != null"
            :label="this.$t('global.fields.visa_status')"
            label-class="required"
          >
            <b-form-radio-group
              id="radios1"
              v-model="dataForm.visa_status"
              :options="visa_status_options_radio"
            />
          </b-form-group>
          <b-form-group
            v-if="
              dataForm.country != 1 &&
                dataForm.country != null &&
                dataForm.visa_status != '1' &&
                dataForm.visa_status != '2' &&
                dataForm.visa_status != '15' &&
                dataForm.visa_status != '16' &&
                dataForm.visa_status != '22' &&
                dataForm.visa_status != '19'
            "
            id="visa_status"
            label-for="visa_status"
          >
            <b-form-select
              v-model="dataForm.visa_status"
              v-validate="'required'"
              :options="visa_status_options_select"
              :data-vv-as="this.$t('global.fields.visa_status')"
              data-vv-name="visa_status"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.visa_status') }}
              </option>
            </b-form-select>
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('basicUpdate.visa_status') }}</span>
          </div>
          <no-ssr>
            <b-form-group
              v-if="
                dataForm.country != 1 &&
                  dataForm.country != null &&
                  dataForm.visa_status != 24
              "
              id="visa_issue_date"
              :label="this.$t('global.fields.visa_issue_date')"
              label-for="visa_issue_date"
              label-class="required"
            >
              <CostumDate
                v-model="dataForm.visa_issue_date"
                v-validate="'validate_date'"
                :max="max_date"
                :default="dataForm.visa_issue_date"
                :min="min_visa_issue"
                :months-names="$t('global.fields.months')"
                data-vv-name="visa_issue_date"
              />
            </b-form-group>
            <div class="error">
              <span>{{ errors.first('basicUpdate.visa_issue_date') }}</span>
            </div>
            <b-form-group
              v-if="
                dataForm.country != 1 &&
                  dataForm.country != null &&
                  dataForm.visa_status != 24
              "
              id="visa_exipry_date"
              :label="this.$t('global.fields.visa_expiry_date')"
              label-for="visa_exipry_date"
              label-class="required"
            >
              <CostumDate
                v-model="dataForm.visa_expiry_date"
                v-validate="'validate_date'"
                :default="dataForm.visa_expiry_date"
                :min="max_date"
                :max="max_visa_expiry"
                :months-names="$t('global.fields.months')"
                data-vv-name="visa_expiry_date"
              />
              <div class="error">
                <span>{{ errors.first('basicUpdate.visa_expiry_date') }}</span>
              </div>
            </b-form-group>
          </no-ssr>
          <b-form-group
            v-if="
              dataForm.living_country != 1 &&
                dataForm.country != null &&
                dataForm.living_country != null
            "
            id="state"
            :label="this.$t('global.fields.state')"
            label-for="state"
            label-class="required"
          >
            <b-form-input
              id="state"
              v-model="dataForm.state"
              v-validate="'required'"
              :placeholder="this.$t('global.placeholder.state')"
              :data-vv-as="this.$t('global.fields.state')"
              data-vv-name="state"
            />
            <div class="error">
              <span>{{ errors.first('basicUpdate.state') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            v-if="parseInt(dataForm.living_country) === 1"
            id="zip_code"
            :label="this.$t('global.fields.zip_code')"
            label-for="zip_code"
            label-class="required"
          >
            <b-input-group>
              <b-form-input
                id="zip_code"
                v-model="dataForm.zip_code"
                v-validate="
                  'required|romanji_number_only|length:7|max:7|excluded:0000000'
                "
                :placeholder="this.$t('global.placeholder.zip_code')"
                :data-vv-as="this.$t('global.fields.zip_code')"
                data-vv-name="zip_code"
                @keyup.native="zipChanged()"
              />
              <b-button
                slot="append"
                :disabled="
                  errors.has(`basicUpdate.zip_code`) ||
                    dataForm.zip_code == null ||
                    dataForm.zip_code === '' ||
                    zip_code_fetch
                "
                variant="primary"
                size="md"
                @click="handleGetAddress(dataForm.zip_code)"
              >
                <font-awesome-icon
                  v-if="!zip_code_fetch"
                  :icon="['fas', 'map-marker-alt']"
                  :style="{ color: '#27B6C5' }"
                />
                <font-awesome-icon
                  v-if="zip_code_fetch"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />
                {{ this.$t('global.buttons.fetch') }}
              </b-button>
            </b-input-group>
            <div class="error">
              <span>{{ errors.first('basicUpdate.zip_code') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            v-if="parseInt(dataForm.living_country) === 1"
            id="prefecture"
            :label="this.$t('global.fields.prefecture')"
            label-for="prefecture"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.prefecture_id"
              v-validate="'required'"
              :options="attribute('prefecture')"
              :data-vv-as="this.$t('global.fields.prefecture')"
              data-vv-name="prefecture"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.prefecture') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{ errors.first('basicUpdate.prefecture') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="address"
            :label="this.$t('global.fields.address')"
            label-for="address"
            label-class="required"
          >
            <b-form-input
              id="address"
              v-model="dataForm.address"
              v-validate="'required'"
              :placeholder="this.$t('global.placeholder.address')"
              :data-vv-as="this.$t('global.fields.address')"
              data-vv-name="address"
            />
            <div class="error">
              <span>{{ errors.first('basicUpdate.address') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="street_address"
            :label="this.$t('global.fields.street_address')"
            label-for="street_address"
            label-class="required"
          >
            <b-form-input
              id="street_address"
              v-model="dataForm.street_address"
              v-validate="'required'"
              :placeholder="this.$t('global.placeholder.street_address')"
              :data-vv-as="this.$t('global.fields.street_address')"
              data-vv-name="street_address"
            />
            <div class="error">
              <span>{{ errors.first('basicUpdate.street_address') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="japanese_language_level"
            :label="this.$t('global.fields.japanese_language_level')"
            label-for="japanese_language_level"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.japanese_language_level"
              v-validate="'required'"
              :value="null"
              :options="attribute('lang.level')"
              :data-vv-as="this.$t('global.fields.japanese_language_level')"
              data-vv-name="japanese_language_level"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.japanese_language_level')
              }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="japanese_writing_level"
            :label="this.$t('global.fields.japanese_writing_level')"
            label-for="japanese_writing_level"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.japanese_writing_level"
              v-validate="'required'"
              :value="null"
              :options="attribute('language_writing_skills')"
              :data-vv-as="this.$t('global.fields.japanese_writing_level')"
              data-vv-name="japanese_writing_level"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.japanese_writing_level')
              }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="english_language_level"
            :label="this.$t('global.fields.english_language_level')"
            label-for="english_language_level"
            label-class="required"
          >
            <b-form-select
              v-model="dataForm.english_language_level"
              v-validate="'required'"
              :value="null"
              :options="attribute('lang.level')"
              :data-vv-as="this.$t('global.fields.english_language_level')"
              data-vv-name="english_language_level"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.english_language_level')
              }}</span>
            </div>
          </b-form-group>

          <b-form-group
            id="telephone"
            :label="this.$t('global.fields.telephone')"
            label-for="telephone"
          >
            <b-form-input
              id="telephone"
              v-model="dataForm.telephone"
              v-validate="'romanji_number_only|min:9|max:15'"
              :data-vv-as="this.$t('global.fields.telephone')"
              data-vv-name="telephone"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('basicUpdate.telephone') }}</span>
          </div>

          <b-form-group
            id="mobile"
            :label="this.$t('global.fields.mobile')"
            label-for="mobile"
          >
            <b-form-input
              id="mobile"
              v-model="dataForm.mobile"
              v-validate="'romanji_number_only|min:9|max:15'"
              :data-vv-as="this.$t('global.fields.mobile')"
              data-vv-name="mobile"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('basicUpdate.mobile') }}</span>
          </div>
          <b-form-group
            id="category"
            :label="this.$t('global.fields.desired_job_category')"
            label-for="category"
            label-class="required"
          >
            <b-form-select
              id="category"
              v-model="dataForm.desired_job_category"
              v-validate="'required'"
              :data-vv-as="this.$t('global.fields.desired_job_category')"
              data-vv-name="desired_job_category"
              :options="attribute('job_category')"
              name="desired_job_category"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.desired_job_category')
              }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="experience_year"
            :label="this.$t('global.fields.desired_job_category_exp')"
            label-for="experience_year"
            label-class="required"
          >
            <b-form-select
              id="experience_year"
              v-model="dataForm.experience_year"
              v-validate="'required'"
              :data-vv-as="this.$t('global.fields.experience')"
              data-vv-name="experience_year"
              :options="attribute('experience_year')"
              name="experience_year"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{ errors.first('basicUpdate.experience_year') }}</span>
            </div>
          </b-form-group>
          <b-form-group
            id="annual_min_salary_range"
            :label="this.$t('global.fields.desired_annual_min_salary_range')"
            label-for="annual_min_salary_range"
            label-class="required"
          >
            <b-form-select
              id="annual_min_salary_range"
              v-model="dataForm.desired_annual_min_salary_range"
              v-validate="'required'"
              :data-vv-as="
                this.$t('global.fields.desired_annual_min_salary_range')
              "
              data-vv-name="desired_annual_min_salary_range"
              :options="attribute('annual_min_salary_range')"
              name="desired_annual_min_salary_range"
            >
              <option slot="first" :value="null">
                {{ $t('global.placeholder.select') }}
              </option>
            </b-form-select>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.desired_annual_min_salary_range')
              }}</span>
            </div>
          </b-form-group>
          <b-form-group :label="this.$t('global.fields.receive_mail_language')">
            <b-form-radio-group
              id="receive_mail_language"
              v-model="dataForm.receive_mail_language"
              v-validate="'required'"
              :options="receive_mail_language_options"
              name="receive_mail_language"
            />
          </b-form-group>
          <b-form-group
            v-if="page != 'job.apply'"
            :label="this.$t('global.fields.change_password')"
          >
            <b-form-checkbox
              id="changePassword"
              v-model="dataForm.change_password"
              value="true"
              unchecked-value="false"
            />
          </b-form-group>

          <div v-if="dataForm.change_password == 'true'">
            <b-form-group
              id="password"
              :label="this.$t('global.fields.new_password')"
              label-for="password"
              label-class="required"
            >
              <b-form-input
                id="password"
                ref="password"
                v-model="dataForm.password"
                v-validate="'required|verify_password|min:8|max:15'"
                :data-vv-as="this.$t('global.fields.password')"
                type="password"
                name="password"
                data-vv-name="password"
              />
              <b-form-text id="inputLiveHelp">
                {{ $t('global.messages.password_help_text') }}
              </b-form-text>
              <div class="error">
                <span>{{ errors.first('basicUpdate.password') }}</span>
              </div>
            </b-form-group>
            <b-form-group
              id="password_confirmation"
              :label="this.$t('global.fields.re_new_password')"
              label-for="password_confirmation"
              label-class="required"
            >
              <b-form-input
                id="password_confirmation"
                v-model="dataForm.password_confirmation"
                v-validate="'required|confirmed:password'"
                :data-vv-as="this.$t('global.fields.re_new_password')"
                type="password"
                name="password_confirmation"
                data-vv-name="password_confirmation"
              />
            </b-form-group>
            <div class="error">
              <span>{{
                errors.first('basicUpdate.password_confirmation')
              }}</span>
            </div>
          </div>
          <b-form-group
            id="image"
            :label="this.$t('global.fields.profile_image')"
            label-for="image"
          >
            <div class="avatar-upload">
              <b-form-file
                id="imageUpload"
                type="file"
                accept="image/jpeg,image/jpg,image/png"
                @change="onChange"
              />
              <label for="imageUpload" />
              <div class="avatar-preview">
                <b-col class="col-12 col-md-12 col-sm-12">
                  <img
                    :src="imageBackground"
                    class="w-100 rounded image-preview"
                    alt=""
                  />
                </b-col>
              </div>
              <div class="error">
                <span>{{ errors.first('basicUpdate.tempImage') }}</span>
              </div>
              <div
                v-if="
                  page == 'job.apply' &&
                    job_apply_image == false &&
                    imageBackground == null
                "
                class="error"
              >
                <span>{{ $t('global.messages.image_necessary') }}</span>
              </div>
            </div>
            <div>
              <b-button
                v-if="imageBackground && page != 'job.apply'"
                :disabled="valid"
                size="md"
                variant="danger"
                style="display: block;"
                class="mt-1"
                @click="removePhoto"
              >
                {{ this.$t('global.buttons.remove_image') }}
              </b-button>
            </div>
          </b-form-group>
          <b-form-text id="inputLiveHelp">
            {{ $t('global.messages.image_limit') }}
          </b-form-text>
          <hr />
          <div
            v-if="page != 'job.apply'"
            class="d-flex justify-content-center mt-3"
          >
            <b-button
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ this.$t('global.buttons.submit') }}
            </b-button>
          </div>
        </b-form>
      </div>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import CostumDate from '~/components/UI/CostumDate'
import FilePickerPreview from '~/components/UI/FilePickerPreview'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  components: {
    CostumDate,
    FilePickerPreview,
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    profile: {
      type: Object,
      default: function() {
        return {}
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],

  created() {
    this.veevalidateLocalize()
  },
  computed: {
    max_date: function() {
      return new Date().getFullYear().toString()
    },
    min_visa_issue: function() {
      return (new Date().getFullYear() - 20).toString()
    },
    max_visa_expiry: function() {
      return (new Date().getFullYear() + 20).toString()
    },
    max_dob: function() {
      return (new Date().getFullYear() - 18).toString()
    }
  },
  data() {
    return {
      job_apply_image: false,
      tempImage: '',
      rawImage: '',
      preSignedUrl: '',
      imageType: '',
      newImage: false,
      imageBackground: null,
      removeImage: false,
      valid: false,
      zip_code_fetch: false,
      scope: 'basicUpdate',
      file: null,
      visa_status_other: false,
      visa_status_options_radio: _.remove(
        this.attribute('visa_status'),
        function(n) {
          return (
            parseInt(n.value) === 1 ||
            parseInt(n.value) === 2 ||
            parseInt(n.value) === 15 ||
            parseInt(n.value) === 16 ||
            parseInt(n.value) === 100 ||
            parseInt(n.value) === 22 ||
            parseInt(n.value) === 19
          )
        }
      ),
      visa_status_options_select: _.remove(
        this.attribute('visa_status'),
        function(n) {
          return (
            parseInt(n.value) !== 1 &&
            parseInt(n.value) !== 2 &&
            parseInt(n.value) !== 15 &&
            parseInt(n.value) !== 16 &&
            parseInt(n.value) !== 22 &&
            parseInt(n.value) !== 19
          )
        }
      ),
      receive_mail_language_options: [
        { text: this.$t('global.options.english'), value: 'en' },
        { text: this.$t('global.options.japanese'), value: 'ja' }
      ],
      dataForm: {
        japanese_language_level: this.profile.japanese_language_level,
        english_language_level: this.profile.english_language_level,
        japanese_writing_level: this.profile.japanese_writing_level,
        visa_status: this.profile.visa_status,
        visa_issue_date:
          (parseInt(this.profile.living_country) === 1 &&
            parseInt(this.profile.country) === 1) ||
          parseInt(this.profile.country) === 1
            ? null
            : this.profile.visa_issue_date,
        visa_expiry_date:
          (parseInt(this.profile.living_country) === 1 &&
            parseInt(this.profile.country) === 1) ||
          parseInt(this.profile.country) === 1
            ? null
            : this.profile.visa_expiry_date,
        living_country: this.profile.living_country,
        state: this.profile.state,
        willing_to_relocate:
          this.profile.willing_to_relocate == null
            ? 0
            : this.profile.willing_to_relocate,
        full_name: this.user.full_name,
        katakana_full_name: this.user.katakana_full_name,
        dob: this.user.dob,
        gender: this.user.gender,
        country: this.profile.country,
        zip_code: this.profile.zip_code,

        address: this.profile.address,
        street_address: this.profile.street_address,
        prefecture_id: this.profile.prefecture_id,

        telephone: this.user.telephone,
        mobile: this.user.mobile,
        change_password: false,
        password: null,
        password_confirmation: null,
        desired_job_category: this.profile.desired_job_category,
        desired_annual_min_salary_range: this.profile
          .desired_annual_min_salary_range,
        experience_year: this.profile.experience_year,
        receive_mail_language:
          this.user.receive_mail_language === null
            ? this.$store.getters.locale
            : this.user.receive_mail_language
      }
    }
  },
  mounted() {
    let url = ''
    if (
      this.user.image !== null &&
      this.user.image !== '' &&
      this.user.image.length > 0
    ) {
      // there always must be a single image for user so first index
      const imgRef = this.user.image[0]
      if (imgRef.converted.length > 0) {
        const scan = _.find(imgRef.converted, function(converted) {
          return parseInt(converted.media_dimension) === 200
        })
        if (!scan) {
          url = imgRef.url
        } else {
          url = scan.url
        }
      } else {
        url = imgRef.url
      }
    }
    this.imageBackground = url || null
  },
  watch: {
    'dataForm.living_country': function() {
      if (
        (parseInt(this.dataForm.living_country) === 1 &&
          parseInt(this.dataForm.country) === 1) ||
        parseInt(this.dataForm.country) === 1
      ) {
        this.dataForm.visa_issue_date = null
        this.dataForm.visa_expiry_date = null
      }
      if (parseInt(this.dataForm.living_country) !== 1) {
        this.dataForm.zip_code = null
        this.dataForm.willing_to_relocate = 0
      }
    },
    'dataForm.country': function() {
      if (
        (parseInt(this.dataForm.living_country) === 1 &&
          parseInt(this.dataForm.country) === 1) ||
        parseInt(this.dataForm.country) === 1
      ) {
        this.dataForm.visa_issue_date = null
        this.dataForm.visa_expiry_date = null
      }
    },
    'dataForm.visa_status': function() {
      if (parseInt(this.dataForm.visa_status) === 24) {
        this.dataForm.visa_issue_date = null
        this.dataForm.visa_expiry_date = null
      }
    }
  },
  methods: {
    zipChanged() {
      if (this.dataForm.zip_code !== null) {
        this.dataForm.zip_code = this.dataForm.zip_code.replace(/-/g, '')
      }
    },
    /**
     *
     */
    removePhoto() {
      this.imageBackground = ''
      if (!this.newImage) {
        this.newImage = false
        this.removeImage = true
      } else {
        this.newImage = false
        this.removeImage = false
      }
    },

    /**
     *
     * @param image
     * @returns {Promise<void>}
     */
    async onChange(image) {
      if (image.target.files[0]) {
        if (image.target.files[0].size > 5242880) {
          alert(this.$t('global.messages.image_size'))
          return false
        }
        this.rawImage = image.target.files[0]
        const reader = new FileReader()
        reader.onload = this.imageLoaded
        await reader.readAsDataURL(image.target.files[0])
      }
    },

    /**
     *
     * @param event
     */
    imageLoaded(event) {
      this.imageBackground = event.target.result
      this.newImage = true
      this.imageType = this.imageBackground.substring(
        this.imageBackground.indexOf('/') + 1,
        this.imageBackground.indexOf(';base64')
      )
    },

    /**
     *
     * @param value
     */
    handleGetAddress(value) {
      this.zip_code_fetch = true
      this.$store
        .dispatch('loactionZipcode', { zip_code: value })
        .then(response => {
          this.zip_code_fetch = false
          if (response.status === 'OK') {
            this.dataForm.address =
              response.data.data[`address_${this.$store.getters.locale}`]
            this.dataForm.street_address =
              response.data.data[`street_address_${this.$store.getters.locale}`]
            this.dataForm.prefecture_id = this.attributeByText(
              'prefecture',
              response.data.data[`prefecture_${this.$store.getters.locale}`]
            ).value
          } else {
            this.$toast.error(this.$t('global.messages.location_fetch_error'), {
              icon: 'close',
              type: 'error'
            })
          }
        })
        .catch(() => {
          this.zip_code_fetch = false
          this.$toast.error(this.$t('global.messages.location_fetch_error'), {
            icon: 'close',
            type: 'error'
          })
          return false
        })
    },

    /**
     *
     * @returns {Promise<void>}
     */
    processUpdate() {
      this.$toast.clear()
      this.errors.clear('basicUpdate')
      this.valid = true
      this.$validator.validateScopes(this.scope).then(async result => {
        this.$toast.clear()
        if (result) {
          this.$refs.overlayloading.start()

          if (
            this.dataForm.change_password === 'false' ||
            this.dataForm.change_password === false
          ) {
            delete this.dataForm.password
            delete this.dataForm.password_confirmation
          }
          if (await this.processImageUpload()) {
            this.emitBasicUpdate()
          } else {
            this.valid = false
          }
        } else {
          this.scrollToClass('error')
          this.valid = false
        }
      })
    },

    /**
     *
     * @returns {*}
     */
    processImageUpload() {
      // get image upload signed url from here first
      if (this.newImage) {
        return this.$store
          .dispatch('users/getSignedUrl', {
            type: 'image',
            extension: this.imageType
          })
          .then(response => {
            if (response.data.signedUrl) {
              this.tempImage = response.data.tempImage
              const options = {
                headers: {
                  'Content-Type': `image/${this.imageType}`
                }
              }
              return this.$axios
                .put(response.data.signedUrl, this.rawImage, options)
                .then(response => {
                  return true
                })
                .catch(() => {
                  return false
                })
            }
          })
          .catch(() => {
            return false
          })
      } else {
        return true
      }
    },

    /**
     *
     */
    emitBasicUpdate() {
      this.dataForm.newImage = this.newImage
      this.dataForm.removeImage = this.removeImage
      this.dataForm.tempImage = this.tempImage
      // debugger;
      this.$store
        .dispatch('users/updateBasicProfile', {
          id: this.user.id,
          data: this.dataForm
        })
        .then(response => {
          this.$store.commit('SET_AUTH_USER', response.data.data)
          if (
            // response.data.hasOwnProperty('access_token') &&
            response.data.access_token !== ''
          ) {
            this.$auth.setToken('local', 'Bearer ' + response.data.access_token)
          }
          this.$toast.show(response.data.message, {
            icon: 'check',
            type: 'success'
          })
          this.valid = false
          this.$refs.overlayloading.finish()
          this.$emit('basic-update', {
            data: response.data.data,
            scope: this.scope
          })
        })
        .catch(err => {
          this.$refs.overlayloading.finish()
          this.$toast.show(err.response.data.message, {
            icon: 'close',
            type: 'error'
          })
          const errs = []
          _.each(err.response.data.errors, function(messages, field) {
            errs.push(
              _.merge(
                {},
                {
                  field: field,
                  scope: 'basicUpdate',
                  msg: messages[0]
                }
              )
            )
          })
          if (errs.length > 0) {
            this.errors.add(errs)
          }
          this.valid = false
        })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
.avatar-upload .image-preview {
  object-fit: scale-down;
  width: 200px;
  height: 200px;
  position: relative;
  border: 3px solid #f8f8f8;
}
.avatar-upload .avatar-preview > div {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
