<template>
  <section>
    <b-progress
      :striped="striped"
      :max="max"
      variant="info"
      height="2rem"
      class="mb-2"
    >
      <b-progress-bar :value="profile.profile_percentage">
        {{ this.$t('global.fields.profile_completed') }} :
        {{ profile.profile_percentage }} %
      </b-progress-bar>
    </b-progress>
    <b-row class="mt-2">
      <b-col class="col-12">
        <b-row>
          <b-col class="col-1">
            <font-awesome-icon
              :icon="['fas', 'info']"
              :style="{ color: '#27c585' }"
              size="2x"
            />
          </b-col>

          <b-col class="col-11">
            <h2>{{ pageContent('basic_information') }}</h2>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.email') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ user.email }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.full_name') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ user.full_name }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.katakana_full_name') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ user.katakana_full_name }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.birth_country') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.country !== null
                      ? attribute('country', profile.country).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.living_country') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.living_country !== null
                      ? attribute('country', profile.living_country).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="profile.living_country == '1'">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.willing_to_relocate') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.willing_to_relocate !== null
                      ? attribute('boolean', profile.willing_to_relocate).text
                      : attribute('boolean', 0).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="profile.country != '1'">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.visa_status') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.visa_status !== null
                      ? attribute('visa_status', profile.visa_status).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="profile.visa_issue_date != null">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.visa_validity') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    moment(profile.visa_issue_date)
                      .locale(this.$store.getters.locale)
                      .format('LL')
                  }}
                  ~
                  {{
                    moment(profile.visa_expiry_date)
                      .locale(this.$store.getters.locale)
                      .format('LL')
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="profile.living_country != '1'">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.state') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ profile.state }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="profile.living_country == '1'">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.prefecture') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.prefecture_id !== null
                      ? attribute('prefecture', profile.prefecture_id).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.address') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ profile.address }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.street_address') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ profile.street_address }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.dob') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    moment(user.dob)
                      .locale(this.$store.getters.locale)
                      .format('LL')
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.gender') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    user.gender !== null
                      ? attribute('gender', user.gender).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="user.telephone != null && user.telephone != ''">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.telephone') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ user.telephone }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="user.mobile != null && user.mobile != ''">
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.mobile') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{ user.mobile }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.desired_job_category') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.desired_job_category !== null
                      ? attribute('job_category', profile.desired_job_category)
                          .text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.desired_job_category_exp') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.experience_year !== null
                      ? attribute('experience_year', profile.experience_year)
                          .text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.desired_annual_min_salary_range') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    profile.desired_annual_min_salary_range !== null
                      ? attribute(
                          'annual_min_salary_range',
                          profile.desired_annual_min_salary_range
                        ).text
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-4">
                <p class="job_detail_heading">
                  {{ this.$t('global.fields.receive_mail_language') }}
                </p>
              </b-col>
              <b-col class="col-12 col-sm-12 col-md-8">
                <p class="jb_detail_value">
                  {{
                    user.receive_mail_language !== null
                      ? user.receive_mail_language === 'en'
                        ? this.$t('global.options.english')
                        : this.$t('global.options.japanese')
                      : ''
                  }}
                </p>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  pageRootKey: 'profile',
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.view'
      }
    },
    profile: {
      type: Object,
      default: function() {
        return {}
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  data() {
    return {
      striped: true,
      max: 100
    }
  }
})
</script>
<style>
h2 {
  font-size: 20px;
}
</style>
