<template>
  <div>
    <BreadCrumb />
    <Search />
    <section>
      <b-row>
        <b-col class="col-12">
          Results : 1-5 of 2000 Jobs Matching Search Criteria
        </b-col>
      </b-row>
    </section>
    <List :companies="companies" />
    <Pagination :meta="meta" page="companies.list" />
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import Search from '~/components/Company/Search'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import Pagination from '~/components/Navigation/Pagination'
import List from '~/components/Company/List'

export default nuxtend({
  components: {
    Search,
    BreadCrumb,
    List,
    Pagination
  },

  middleware: 'auth',

  async fetch({ app, store, query }) {
    return Promise.all([
      await store.dispatch('companies/getCompaniesList', {
        page: query.page || 1
      }),
      await store.dispatch('attributeAsync', ['lang.level', 'employment_type'])
    ])
  },

  watchQuery: true,

  computed: {
    ...mapGetters({
      companies: 'companies/companies',
      meta: 'companies/meta'
    })
  }
})
</script>
<style>
section {
  text-align: left !important;
}
</style>
