<template>
  <div class="container error_page mt-3 text-center">
    <b-row>
      <b-col v-if="error.statusCode === 404">
        <h2>
          {{ $t('global.messages.resource_not_found') }}
        </h2>
      </b-col>
      <b-col v-else>
        <h2>{{ $t('global.messages.something_not_right') }}</h2>
        <p>{{ $t('global.messages.error_message') }}</p>
      </b-col>
    </b-row>
    <b-row class="mt-4 mb-4">
      <b-col>
        <img src="~/assets/images/error.png" height="300" />
      </b-col>
    </b-row>
    <b-row class="text-center">
      <b-col>
        <nuxt-link :to="$i18n.path('/')">
          <b-button variant="outline-info">
            {{ $t('global.buttons.back_to_top') }}
          </b-button>
        </nuxt-link>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  },
  layout: 'default'
}
</script>
<style scoped></style>
