<template>
  <b-container id="jb-wrap" fluid>
    <b-container id="jb-header">
      <b-row>
        <b-col cols="9">
          <div class="jb-slogan">
            {{ this.$t('global.slogan') }}
          </div>
        </b-col>
        <b-col class="text-right">
          <div
            v-for="(item, key) in language"
            :key="`language-${key}`"
            :class="{
              lang_en: item.name == 'en' ? true : false,
              lang_ja: item.name == 'ja' ? true : false
            }"
            class="jb-lang"
            @click="changeLocale(item.name)"
          />
        </b-col>
      </b-row>
      <TheHeader />
    </b-container>
    <b-container fluid class="jb-search-container">
      <b-container>
        <Search page="index" />
      </b-container>
    </b-container>
    <b-container id="jb-main" class="flex-column">
      <nuxt />
    </b-container>
    <b-container id="jb-footer" fluid class="text-white bg-info p-0">
      <b-container>
        <TheFooter />
      </b-container>
    </b-container>
  </b-container>
</template>

<script>
import TheHeader from '~/components/Navigation/TheHeader'
import TheFooter from '~/components/Navigation/TheFooter'
import Search from '~/components/Job/Search'

export default {
  components: {
    TheHeader,
    Search,
    TheFooter
  },
  data() {
    return {
      image: '..assets/images/JOBBANK_logo1.png',
      open: true,
      locales: {},
      locale: '',
      menuItems: [],
      language: []
    }
  },
  created() {
    this.menuItems = [
      { icon: 'play_for_work', text: 'links.index', path: '/home' },
      { icon: 'group', text: 'links.about', path: '/about' },
      { icon: 'attach_money', text: 'links.contact', path: '/contact' }
    ]
    this.locales = { ja: '日本語', en: 'english' }
    this.locale = 'ja'
    this.language = [
      {
        locale: '日本語',
        name: 'ja',
        icon: 'play_for_work',
        src: '..assets/images/JOBBANK_logo1.png'
      },
      {
        locale: 'english',
        name: 'en',
        icon: 'attach_money',
        src: '..assets/images/JOBBANK_logo1.png'
      }
    ]
  },
  methods: {
    changeLocale(locale) {
      location.href = this.$i18n.path(null, locale)
      this.locale = locale
    }
  }
}
</script>

<style></style>
