<template>
  <section>
    <!--<PageBanner/>-->
    <BreadCrumb />
    <!-- MultiStep Form -->
    <div class="shadow p-2">
      <SettingUpdate
        :setting="setting == null ? {} : setting"
        page="setting"
        @setting-update="settingUpdate"
      />
    </div>
  </section>
</template>

<script>
import _ from 'lodash'
// component code
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'

import base from '~/mixins/base'
import SettingUpdate from '~/components/Profile/Setting/SettingUpdate'

import BreadCrumb from '~/components/Navigation/BreadCrumb'
export default nuxtend({
  pageRootKey: 'setting',

  components: {
    SettingUpdate,
    BreadCrumb
  },

  middleware: 'loggedIn',

  computed: {
    ...mapGetters({
      setting: 'users/setting'
    })
  },

  mixins: [base()],

  async fetch({ app, store }) {
    return Promise.all([
      await store.dispatch(
        'users/getSeekerProfileInfo',
        store.getters.loggedInUser.user_type_id
      ),
      await store.dispatch('attributeAsync', [
        'employment_type',
        'prefecture',
        'business_content',
        'salary_type'
      ]),
      await store.dispatch('attributeAsync', [
        'lang.level',
        'job_category',
        'annual_salary_range'
      ])
    ])
  },

  beforeCreate() {
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  methods: {
    settingUpdate() {
      // window.location.reload(true)
    }
  }
})
</script>
