<template>
  <section>
    <BreadCrumb :menu="breadCrumb" />
    <section class="shadow">
      <b-row class="p-2">
        <b-col class="col-12 col-md-12 col-sm-12">
          <b-row>
            <b-col class="col-12 col-md-3 col-sm-12">
              <ProfileBanner
                :profile="profile"
                :user="user"
                page="profile.view"
              />
            </b-col>
            <b-col class="col-12 col-md-9 col-sm-12">
              <BasicProfileView
                :profile="profile"
                :user="user"
                page="profile.view"
              />
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <hr />
      <b-row class="mt-2">
        <b-col class="col-12 col-md-12 col-sm-12">
          <ResumeView
            :profile="profile"
            :user="user"
            :education="education"
            :experience="experiences"
            :certificate="certificate"
            :skill="skills"
            page="profile.view"
          />
        </b-col>
      </b-row>
    </section>
    <hr />
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
import PageBanner from '~/components/PageBanner/PageBanner'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import ProfileBanner from '~/components/Profile/ProfileBanner'
import BasicProfileView from '~/components/Profile/Basic/BasicProfileView'
import ResumeView from '~/components/Profile/Resume/ResumeView'

export default nuxtend({
  pageRootKey: 'profile.view',

  mixins: [base()],

  computed: {
    ...mapGetters({
      user: 'users/loggedInUserDetail',
      profile: 'users/profile',
      education: 'users/education',
      experiences: 'users/experiences',
      certificate: 'users/certificate',
      skills: 'users/skills'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.profile'),
          route: `/user/profile`
        }
      ]
    }
  },
  async fetch({ app, store }) {
    return Promise.all([
      await store.dispatch(
        'users/getSeekerProfileInfo',
        store.getters.loggedInUser.user_type_id
      ),
      await store.dispatch('attributeAsync', [
        'country',
        'experience',
        'gender',
        'lang.level',
        'visa_status',
        'employment_type',
        'boolean'
      ]),
      await store.dispatch('attributeAsync', [
        'degree',
        'prefecture',
        'skills.level',
        'language_writing_skills'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.ms_office',
        'annual_salary_range',
        'skill.programming'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.database',
        'skill.design',
        'experience_year',
        'job_category',
        'annual_min_salary_range'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.operating_system',
        'skill.middleware',
        'skill.framework',
        'skill_experience'
      ])
    ])
  },

  middleware: 'loggedIn',

  components: {
    BreadCrumb,
    PageBanner,
    ProfileBanner,
    BasicProfileView,
    ResumeView
  }
})
</script>
<style>
section {
  text-align: left;
}
</style>
