<template>
  <section>
    <BreadCrumb :menu="breadCrumb" />
    <!-- MultiStep Form -->
    <div class="shadow p-2">
      <form-wizard
        ref="wizard"
        :title="pageContent('form_title')"
        :subtitle="pageContent('form_sub_title')"
        color="#27B6C5"
        step-size="sm"
        shape="tab"
      >
        <tab-content :title="pageContent('basic_info')">
          <BasicProfileUpdate
            :user="user"
            :profile="profile"
            :page="'profile.update'"
            @basic-update="basicUpdate"
          />
        </tab-content>
        <tab-content :title="pageContent('resume_info')">
          <ResumeUpdate
            :user="user"
            :profile="profile"
            :page="'profile.update'"
            @resume-update="resumeUpdate"
          />
          <hr />
          <CertificateUpdate
            :user="user"
            :certifications="certificate"
            :page="'profile.update'"
            @certificate-update="certificateUpdate"
          />
          <hr />
          <SkillUpdate
            :user="user"
            :passed-user-skills="skills"
            :page="'profile.update'"
            @skill-update="skillUpdate"
          />
        </tab-content>
        <tab-content :title="pageContent('experience')">
          <ExperienceUpdate
            :user="user"
            :experiences="experience"
            :page="'profile.update'"
            @experience-update="experienceUpdate"
          />
        </tab-content>
        <tab-content :title="pageContent('education')">
          <EducationUpdate
            :user="user"
            :educations="education"
            :page="'profile.update'"
            @education-update="educationUpdate"
          />
        </tab-content>
        <!--<tab-content :title="pageContent('certificate')">

        </tab-content>
        <tab-content :title="pageContent('skill')">

        </tab-content>-->
        <template slot="footer">
          <div class="wizard-footer-left">
            <wizard-button v-if="wizard_prev_button">
              Previous
            </wizard-button>
          </div>
          <div class="wizard-footer-right">
            <wizard-button v-if="wizard_next_button">
              Next
            </wizard-button>
          </div>
        </template>
      </form-wizard>
    </div>
  </section>
</template>
<script>
// local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
// component code
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import PageBanner from '~/components/PageBanner/PageBanner'
import BreadCrumb from '~/components/Navigation/BreadCrumb'
import BasicProfileUpdate from '~/components/Profile/Basic/BasicProfileUpdate'
import ResumeUpdate from '~/components/Profile/Resume/ResumeUpdate'
import ExperienceUpdate from '~/components/Profile/Resume/Experience/ExperienceUpdate'
import EducationUpdate from '~/components/Profile/Resume/Education/EducationUpdate'
import CertificateUpdate from '~/components/Profile/Resume/Certificate/CertificateUpdate'
import SkillUpdate from '~/components/Profile/Resume/Skill/SkillUpdate'

import base from '~/mixins/base'

export default nuxtend({
  pageRootKey: 'profile.update',

  mixins: [base()],

  middleware: 'loggedIn',

  components: {
    PageBanner,
    FormWizard,
    TabContent,
    BreadCrumb,
    BasicProfileUpdate,
    ResumeUpdate,
    ExperienceUpdate,
    EducationUpdate,
    CertificateUpdate,
    SkillUpdate
  },
  async fetch({ app, store }) {
    return Promise.all([
      await store.dispatch(
        'users/getSeekerProfileInfo',
        store.getters.loggedInUser.user_type_id
      ),
      await store.dispatch('attributeAsync', [
        'gender',
        'country',
        'visa_status',
        'lang.level'
      ]),
      await store.dispatch('attributeAsync', [
        'degree',
        'skills.level',
        'prefecture',
        'experience_year'
      ]),
      await store.dispatch('attributeAsync', [
        'annual_salary_range',
        'graduation_status',
        'job_category',
        'annual_min_salary_range',
        'skill_experience'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.ms_office',
        'skill.programming',
        'skill.database',
        'skill.design'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.operating_system',
        'skill.middleware',
        'skill.framework',
        'language_writing_skills'
      ])
    ])
  },
  data() {
    return {
      wizard_next_button: false,
      wizard_prev_button: false
    }
  },

  mounted() {
    const wizard = this.$refs.wizard
    wizard.activateAll()
    wizard.changeTab(
      0,
      localStorage.getItem('activeTab') == null
        ? 0
        : localStorage.getItem('activeTab')
    )
    localStorage.setItem('activeTab', 0)
  },
  computed: {
    ...mapGetters({
      user: 'users/loggedInUserDetail',
      profile: 'users/profile',
      education: 'users/education',
      experience: 'users/experiences',
      certificate: 'users/certificate',
      skills: 'users/skills'
    }),
    breadCrumb: function() {
      return [
        {
          text: this.$t('breadcrumbs.profile'),
          route: `/user/profile`
        },
        {
          text: this.$t('breadcrumbs.profile_update'),
          route: `/user/profile/update`
        }
      ]
    }
  },
  methods: {
    basicUpdate(evt) {
      localStorage.setItem('activeTab', 0)
      this.$router.push(this.$i18n.path(`/user/profile`))
    },

    resumeUpdate(evt) {
      localStorage.setItem('activeTab', 1)
      this.$router.push(this.$i18n.path(`/user/profile`))
    },

    experienceUpdate(evt) {
      localStorage.setItem('activeTab', 2)
      this.$router.push(this.$i18n.path(`/user/profile`))
    },

    educationUpdate(evt) {
      localStorage.setItem('activeTab', 3)
      this.$router.push(this.$i18n.path(`/user/profile`))
    },

    certificateUpdate(evt) {
      localStorage.setItem('activeTab', 1)
      this.$router.push(this.$i18n.path(`/user/profile`))
    },

    skillUpdate(evt) {
      localStorage.setItem('activeTab', 1)
      this.$router.push(this.$i18n.path(`/user/profile`))
    }
  }
})
</script>
<style scoped></style>
