<template>
  <div>
    <OverlayLoading ref="overlayloading" />
    <b-row v-if="show_form" class="mt-5">
      <b-col class="col-md-9 mx-auto">
        <b-row class="mb-2">
          <b-col class="col-md-7">
            <span class="page-head">{{ pageContent('head_text') }}</span>
          </b-col>
        </b-row>
        <div class="shadow rounded p-3 mb-5">
          <b-row>
            <b-col class="col-md-7 col-12">
              <b-form class="border-right p-2" @submit.prevent="register">
                <b-form-group
                  id="fullnamegroup"
                  :label="this.$t('global.fields.full_name')"
                  label-for="full_name"
                  label-class="required"
                >
                  <b-form-input
                    id="full_name"
                    v-model="full_name"
                    v-validate="'required|romanji'"
                    :data-vv-as="$t('global.fields.full_name')"
                    :placeholder="this.$t('global.placeholder.full_name')"
                    data-vv-name="full_name"
                    type="text"
                  />
                  <div class="error">
                    <span>{{ errors.first('full_name') }}</span>
                  </div>
                </b-form-group>

                <b-form-group
                  id="emailgroup"
                  :label="this.$t('global.fields.email')"
                  label-for="email"
                  label-class="required"
                >
                  <b-form-input
                    id="email"
                    v-model="email"
                    v-validate="'required|email'"
                    :data-vv-as="$t('global.fields.email')"
                    :placeholder="this.$t('global.placeholder.email')"
                    type="email"
                    data-vv-name="email"
                  />
                  <div class="error">
                    <span>{{ errors.first('email') }}</span>
                  </div>
                </b-form-group>

                <b-form-checkbox
                  id="terms"
                  v-model="terms"
                  v-validate="'required|accept_terms'"
                  :data-vv-as="this.$t('global.fields.terms')"
                  data-vv-name="terms"
                  name="terms"
                  value="1"
                  unchecked-value="0"
                >
                  {{ pageContent('terms') }}
                </b-form-checkbox>
                <div class="error">
                  <span>{{ errors.first('terms') }}</span>
                </div>

                <div class="d-flex justify-content-center">
                  <b-button
                    :disabled="valid"
                    size="md"
                    type="submit"
                    variant="outline-info"
                  >
                    <font-awesome-icon
                      v-if="valid"
                      :icon="['fas', 'spinner']"
                      :style="{ color: '#27B6C5' }"
                    />
                    {{ this.$t('global.buttons.register') }}
                  </b-button>
                </div>
              </b-form>
            </b-col>
            <b-col class="col-md-5 col-12 register-section">
              <div class="mt-5 p-4">
                <p v-if="!landing">
                  <!--{{ pageContent('link_to_login') }}-->
                  <nuxt-link :to="$i18n.path('/login')">
                    {{ pageContent('link_to_login') }}
                  </nuxt-link>
                </p>
              </div>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="!show_form" class="mt-5">
      <b-col class="col-md-12">
        <div class="p-3">
          <b-row class="password-reset p-2">
            <span>{{ $t('global.titles.registration_success') }}</span>
          </b-row>
          <b-row class="p-2">
            <p>
              [ {{ email || '' }} ]
              {{ $t('global.messages.registration_success') }}
            </p>
          </b-row>
        </div>
      </b-col>
      <b-col class="col-md-3 mx-auto">
        <b-row class="p-2">
          <b-btn
            :disabled="valid"
            variant="outline-info"
            @click="$router.push($i18n.path('/'))"
          >
            <font-awesome-icon
              v-if="valid"
              :icon="['fas', 'spinner']"
              :style="{ color: '#27B6C5' }"
            />
            {{ $t('global.buttons.back_to_top') }}
          </b-btn>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  layout: 'default',

  pageRootKey: 'register',

  components: {
    OverlayLoading
  },

  created() {
    this.veevalidateLocalize()
  },

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      email: null,
      full_name: null,
      user_type: 'seeker',
      valid: false,
      terms: 0,
      landing: JSON.parse(process.env.LANDING || false),
      show_form: true
    }
  },

  methods: {
    register(evt) {
      this.$toast.clear()
      this.valid = true
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.$refs.overlayloading.start()
            this.$store
              .dispatch('users/register', {
                email: this.email,
                user_type: this.user_type,
                full_name: this.full_name,
                terms: this.terms
              })
              .then(response => {
                this.$refs.overlayloading.finish()
                this.$toast.show(response.data.message, {
                  icon: 'check',
                  type: 'success'
                })
                this.show_form = false
                this.valid = false
              })
              .catch(err => {
                this.$refs.overlayloading.finish()
                const errs = []
                _.each(err.response.data.errors, function(messages, field) {
                  errs.push(
                    _.merge(
                      {},
                      {
                        field: field,
                        msg: messages[0]
                      }
                    )
                  )
                })
                if (errs.length > 0) {
                  this.errors.add(errs)
                }
                this.valid = false
                if (parseInt(err.response.status) === 429) {
                  this.$toast.show(
                    this.$t('global.messages.to_many_register_attempt'),
                    { icon: 'close', type: 'error' }
                  )
                } else {
                  this.$toast.show(err.response.data.message, {
                    icon: 'close',
                    type: 'error'
                  })
                }
              })
          } else {
            this.valid = false
          }
        })
        .catch(() => {
          this.valid = false
        })
    }
  }
})
</script>

<style scoped>
.page-head {
  font-size: 20px;
  border-bottom: 2px solid #2dbbd8;
}
.password-reset {
  background-color: #27b6c5;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
}
</style>
