<template>
  <div>
    <section class="jb-features">
      <b-row>
        <b-col
          v-for="(item, index) in features"
          :key="index"
          class="col-md-3
          col-sm-12
          col-12"
        >
          <nuxt-link :to="$i18n.path(item.path)">
            <b-card class="text-center">
              <b-row>
                <b-col cols="1">
                  <font-awesome-icon
                    :icon="['fas', item.icon]"
                    :style="{ color: '#27B6C5' }"
                    size="2x"
                  />
                </b-col>
                <b-col>
                  {{ item.label }}
                </b-col>
              </b-row>
            </b-card>
          </nuxt-link>
        </b-col>
      </b-row>
    </section>
    <!--industries list start here-->
    <section class="jb-job-list p-3">
      <div>
        <!--<h2>{{ $t('global.fields.category') }}</h2>-->
        <b-row>
          <b-col
            v-for="(item, key) in categories"
            :key="key"
            class="col-md-4
            col-sm-12
            col-12"
          >
            <ul class="list-group list-group-flush">
              <li
                v-for="(sub_item, sub_key) in item"
                :key="sub_key"
                class="list-group-item border-3 transparent"
              >
                <nuxt-link
                  :to="$i18n.path('/jobs' + '?category_id=' + sub_item.value)"
                >
                  {{ sub_item.text }}
                </nuxt-link>
              </li>
            </ul>
          </b-col>
        </b-row>
      </div>
    </section>
    <!--industries list ends here-->
    <PostAd page="index" />

    <!--recent search list start here-->
    <RecentLatestJobs
      :title="this.$t('global.titles.jobs.latest')"
      :jobs="jobs"
      page="index"
    />

    <section>
      <div>
        <h2>About JobBank</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </section>
  </div>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
import PostAd from '~/components/Job/PostAd'
import RecentLatestJobs from '~/components/Job/RecentLatestJobs'

export default nuxtend({
  layout: 'search',
  components: {
    PostAd,
    RecentLatestJobs
  },
  mixins: [base('user')],
  pageRootKey: 'user',
  async fetch({ app, store }) {
    return Promise.all([
      await store.dispatch('jobs/getJobsList', { limit: 4 }),
      store.dispatch('attributeAsync', [
        'employment_type',
        'lang.level',
        'job_category',
        'salary_type',
        'prefecture',
        'time_period'
      ])
    ])
  },
  computed: {
    ...mapGetters({
      jobs: 'jobs/jobs'
    })
  },
  data() {
    return {
      features: [
        {
          path: '/jobs/' + '?employment_type=0',
          icon: 'clock',
          label: this.$i18n.t('global.fields.regular_employee')
        },
        {
          path: '/jobs/' + '?no_japanese=1',
          icon: 'comments',
          label: this.$i18n.t('global.fields.no_japanese')
        },
        {
          path: '/jobs/' + '?visa_support=1',
          icon: 'plane-departure',
          label: this.$i18n.t('global.fields.visa_support')
        },
        {
          path: '/jobs/' + '?employment_type=1',
          icon: 'clock',
          label: this.$i18n.t('global.fields.part_time')
        }
      ],
      categories: _.chunk(
        this.attribute('job_category'),
        parseInt(this.attribute('job_category').length / 3)
      )
    }
  },
  created() {}
})
</script>

<style scoped></style>
