<template>
  <div style="position: relative" class="jb-bell" @click="showHideNoti">
    <b-badge
      v-if="
        typeof notifications.data == 'object' &&
          notifications.data.filter(i => i.read_at === null).length > 0
      "
      variant="danger"
    >
      {{ notifications.data.filter(i => i.read_at === null).length }}
    </b-badge>
    <i class="material-icons">
      notifications
    </i>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
export default {
  mixins: [base()],
  data() {
    return {
      show: false,
      timer: ''
    }
  },
  computed: {
    ...mapGetters(['notifications', 'isAuthenticated'])
  },
  created() {
    if (this.isAuthenticated) {
      this.$store.dispatch('getNotifications')
    }
  },
  mounted() {
    // this.timer = setInterval(this.fetchNotificationList, 60000)
  },

  beforeDestroy() {
    // clearInterval(this.timer)
  },

  methods: {
    fetchNotificationList: function() {
      this.$store.dispatch('getNotifications')
    }
  }
}
</script>

<style scoped></style>
