<template>
  <section>
    <div v-for="(item, key) in jobs" :key="key" class="p-3 jb-single-job-box">
      <ApplicationListItem :item="item" :page="page" />
    </div>
    <div v-if="jobs.length == 0">
      <NoRecords v-if="jobs.length === 0" />
    </div>
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import ApplicationListItem from '~/components/Job/ApplicationListItem'
import NoRecords from '~/components/Message/NoRecords'
export default nuxtend({
  components: {
    ApplicationListItem,
    NoRecords
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'user.application'
      }
    },
    jobs: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  mixins: [base(), jobs()]
})
</script>
<style scoped>
section {
  text-align: left !important;
}
.opened {
  display: block;
}
</style>
