<template>
  <div>
    <b-row>
      <b-col class="col-sm-12 col-md-6 col-12">
        <b-row>
          <b-col class="col-sm-2 col-md-2 col-2">
            <font-awesome-icon
              v-if="item.isOpened"
              :icon="['fas', 'envelope-open']"
              :style="{ color: '#27B6C5' }"
            />
            <font-awesome-icon
              v-if="!item.isOpened"
              :icon="['fas', 'envelope']"
              :style="{ color: '#27B6C5' }"
            />
            <br />
            <span>{{
              item.isOpened
                ? this.$t('global.fields.opened')
                : this.$t('global.fields.unopened')
            }}</span>
          </b-col>
          <b-col class="col-sm-10 col-md-10 col-10">
            <p class="jb_detail_value">
              {{ item.created_at }}
            </p>
            <nuxt-link
              v-if="item.can_view_detail"
              :to="$i18n.path(`/jobs/${item.slug}`)"
            >
              <h3>
                {{ item.company_name[$store.getters.locale] }} -
                {{ item.job_title[$store.getters.locale] }}
              </h3>
            </nuxt-link>
            <h2 v-if="!item.can_view_detail" class="jb_detail_value">
              {{ item.company_name[$store.getters.locale] }} -
              {{ item.job_title[$store.getters.locale] }}
            </h2>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{
                    attribute('job_category', item.category_id).text +
                      ' - ' +
                      attribute(
                        attribute('job_category', item.category_id).self,
                        item.sub_category_id
                      ).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{ employment_type }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{ salary }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-12 col-md-12">
                <div class="jb_detail_value">
                  <ul>
                    <li v-for="(prefecture, key) in item.addresses" :key="key">
                      {{
                        attribute(
                          'region',
                          attribute('prefecture', prefecture.prefecture_id)
                            .parent
                        ).text
                      }}
                      /
                      {{
                        attribute('prefecture', prefecture.prefecture_id).text
                      }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col class="col-sm-12 col-md-6 col-12">
        <div
          v-if="!_.isEmpty(item.video)"
          :id="'video' + item.id"
          class="jb-video"
          @click.once="handleClickVideo"
        >
          <video
            :poster="item.thumbnail"
            width="100%"
            height="300px"
            preload="metadata"
          />
        </div>
        <div v-else class="jb-no-video">
          <p>{{ $t('global.messages.video_processing') }}</p>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import DetailItemRow from '~/components/Job/DetailItemRow'
export default nuxtend({
  components: {
    DetailItemRow
  },
  mixins: [base(), jobs()],
  data() {
    return {
      checked: 0
    }
  },
  computed: {
    salary: function() {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(this.item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(this.item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.max_salary
        )
      }
    },
    employment_type: function() {
      let employmentType = ''
      if (this.item.employment_type !== null) {
        employmentType = this.attribute(
          'employment_type',
          this.item.employment_type
        ).text
        if (parseInt(this.item.employment_type) !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', this.item.time_period)
            .text
          employmentType += ' )'
        }
      }
      return employmentType
    },
    japanese_language_level: function() {
      let language = this.$t('global.others.na')
      _.each(this.item.langs, function(value, key) {
        if (parseInt(value.language) === 1) {
          language = value.level
        }
      })
      return language !== 'N/A'
        ? this.attribute('lang.level', language).text
        : this.$store.getters.locale === 'en'
        ? language
        : '利用不可'
    }
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.list'
      }
    },
    item: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  methods: {
    handleClickVideo() {
      const videoWrap = document.getElementById('video' + this.item.id)
      const video = videoWrap.querySelector('video')
      const videoUrl = `${process.env.API_URL}/videos${
        this.item.video.split('private.stg.jobbank.jp')[1]
      }`
      videoWrap.classList.add('play')
      video.setAttribute('controls', true)

      if (this.$hls.isSupported()) {
        const hls = new this.$hls()
        // bind them together
        hls.loadSource(videoUrl)
        hls.attachMedia(video)
        // MEDIA_ATTACHED event is fired by hls object once MediaSource is ready
        hls.on(this.$hls.Events.MEDIA_ATTACHED, function() {
          video.play()
        })
      } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoUrl
        video.addEventListener('loadedmetadata', function() {
          video.play()
        })
      }
    }
  }
})
</script>
<style scoped></style>
