<template>
  <section>
    <h2 class="mt-3 mb-3">
      {{ item.job_title[$store.getters.locale] }}
    </h2>
    <b-row>
      <b-col class="col-12 col-md-9 col-sm-12">
        <b-tabs>
          <b-tab :title="$t('global.titles.job_description')" active>
            <!--
            <h1
              class="mt-3 mb-3"
            >
              {{ item.provider_info.company_name[$store.getters.locale] }}
            </h1>
            -->
            <ImageSlider :images="item.images" />
            <div class="jb-label-group">
              <span
                v-for="(item_c, key_c) in characteristic"
                :key="key_c"
                class="jb-label mr-1"
                >{{ $t(`global.job_characteristic.${item_c}`) }}
              </span>
            </div>
            <DetailItemRow
              :label="$t(`global.fields.category`)"
              :value="
                attribute('job_category', item.category_id).text +
                  ' - ' +
                  attribute(
                    attribute('job_category', item.category_id).self,
                    item.sub_category_id
                  ).text
              "
            />
            <DetailItemRow
              :label="$t(`global.fields.industry`)"
              :value="
                attribute(
                  'business_content',
                  item.provider_info.business_content
                ).text +
                  ' - ' +
                  attribute(
                    attribute(
                      'business_content',
                      item.provider_info.business_content
                    ).self,
                    item.provider_info.sub_business_content
                  ).text
              "
            />
            <DetailItemRow
              :label="$t(`global.fields.salary`)"
              :value="salary"
            />

            <DetailItemRow
              :label="$t(`global.fields.employment_type`)"
              :value="employment_type"
            />

            <DetailItemRow
              :label="$t(`global.fields.working_hr`)"
              :value="working_hr"
            />

            <DetailItemRow
              :label="$t(`global.fields.holidays`)"
              :value="holidays"
            />

            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.addresses`) }}:
                </p>
              </b-col>
              <b-col>
                <div class="jb_detail_value">
                  <ul>
                    <li v-for="(item, key) in jobAddresses" :key="key">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.languages`) }}:
                </p>
              </b-col>
              <b-col>
                <div class="jb_detail_value">
                  <ul>
                    <li v-for="(item, key) in job_languages" :key="key">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>

            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.qualifications`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.qualifications[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.welfare`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.welfare[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t(`global.fields.description`) }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.description[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">{{ $t('global.fields.map') }}:</p>
              </b-col>
              <b-col>
                <GmapMap
                  :center="{ lat: map_lat, lng: map_lng }"
                  :zoom="9"
                  style="height: 300px"
                />
              </b-col>
            </b-row>
          </b-tab>
          <b-tab :title="$t('global.titles.company_description')">
            <b-row class="mt-3">
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.company_name') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.provider_info.company_name[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.ceo_name') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.provider_info.ceo_name[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.contact_person') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.provider_info.contact_person[$store.getters.locale] }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.industry') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{
                    attribute(
                      'business_content',
                      item.provider_info.business_content
                    ).text +
                      ' - ' +
                      attribute(
                        attribute(
                          'business_content',
                          item.provider_info.business_content
                        ).self,
                        item.provider_info.sub_business_content
                      ).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.establishment') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{
                    moment(item.provider_info.established_year)
                      .locale(this.$store.getters.locale)
                      .format('LL')
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.capital') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ capital }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.no_of_employee') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{
                    attribute(
                      'no_of_employee',
                      item.provider_info.no_of_employee
                    ).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="item.provider_info.fax">
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">{{ $t('global.fields.fax') }}:</p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.provider_info.fax }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.address') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">{{ companyAddress }}:</p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.telephone') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  {{ item.provider_info.telephone }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="item.provider_info.related_url">
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.related_url') }}:
                </p>
              </b-col>
              <b-col>
                <p class="jb_detail_value">
                  <a :href="item.provider_info.related_url" target="_blank">
                    {{ item.provider_info.related_url }}
                  </a>
                </p>
              </b-col>
            </b-row>
          </b-tab>
        </b-tabs>
      </b-col>
      <b-col class="mt-5 col-12 col-md-3 col-sm-12">
        <b-card class="job-apply-box">
          <b-list-group flush>
            <b-list-group-item class="primary">
              <b-button
                :disabled="loading || isApplied"
                class="w-100"
                variant="info"
                @click="
                  $router.push({
                    path: $i18n.path(
                      '/jobs/apply/' + item.slug + '?wishlist=false'
                    )
                  })
                "
              >
                {{
                  loading
                    ? 'loading..'
                    : isApplied
                    ? `${$t('global.fields.already_applied')}`
                    : `${$t('global.fields.apply')}`
                }}
              </b-button>
            </b-list-group-item>
            <b-list-group-item>
              <b-button
                class="w-100"
                variant="outline-info"
                @click="
                  addRemoveWishlist({ id: item.id, status: item.isWishlisted })
                "
              >
                {{
                  item.isWishlisted
                    ? `${$t('global.fields.remove_from_wish_list')}`
                    : `${$t('global.fields.add_to_wish_list')}`
                }}
              </b-button>
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <!--recent search list start here-->
      <RecentLatestJobs
        :title="this.$t('global.titles.jobs.similar')"
        :jobs="jobs"
        :page="page"
      />
      <!--recent search lgitist ends here-->
    </b-row>
  </section>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import ImageSlider from '~/components/UI/ImageSlider'
import DetailItemRow from '~/components/Job/DetailItemRow'
import RecentLatestJobs from '~/components/Job/RecentLatestJobs'

export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.detail'
      }
    },
    item: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base(), jobs()],
  components: {
    ImageSlider,
    DetailItemRow,
    RecentLatestJobs
  },
  computed: {
    ...mapGetters({
      jobs: 'jobs/jobs'
    }),

    employment_type: function() {
      let employmentType = ''
      if (this.item.employment_type !== null) {
        employmentType = this.attribute(
          'employment_type',
          this.item.employment_type
        ).text
        if (parseInt(this.item.employment_type) !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', this.item.time_period)
            .text
          employmentType += ' )'
        }
      }
      return employmentType
    },

    capital: function() {
      if (this.$store.getters.locale === 'ja') {
        return this.$CurrencyFormatter.currency(this.item.provider_info.capital)
      } else {
        return this.item.provider_info.capital
      }
    },

    salary: function() {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(this.item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(this.item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.max_salary
        )
      }
    },

    /**
     *
     * @returns {TranslateResult|*|void}
     */
    working_hr: function() {
      let workingHrRet = this.$t('global.others.na')
      if (
        this.item.working_hour_from !== null &&
        this.item.working_hour_to !== null
      ) {
        workingHrRet =
          this.attribute('work_time', this.item.working_hour_from).text +
          ' ~ ' +
          this.attribute('work_time', this.item.working_hour_to).text
      }
      if (this.item.morning_shift !== null || this.item.night_shift !== null) {
        workingHrRet += ' ( '
        if (this.item.morning_shift !== null) {
          workingHrRet +=
            this.$t('global.fields.morning_shift') +
            ': ' +
            this.attribute('boolean', this.item.morning_shift).text +
            ', '
        }
        if (this.item.night_shift != null) {
          workingHrRet +=
            this.$t('global.fields.night_shift') +
            ': ' +
            this.attribute('boolean', this.item.night_shift).text
        }
        workingHrRet += ' )'
      }
      return workingHrRet
    },
    /**
     *
     * @returns {string}
     */
    holidays: function() {
      const holidaysRet = []
      if (this.item.holiday_days != null) {
        _.each(this.item.holiday_days.split(','), (value, key) => {
          holidaysRet.push(this.attribute('week.days', value).text)
        })
      }
      return (
        this.attribute('holiday', this.item.holiday).text +
        ' ( ' +
        holidaysRet.join(',') +
        ' )'
      )
    },

    companyAddress: function() {
      return (
        (this.item.provider_info.zip_code != null
          ? this.item.provider_info.zip_code + ', '
          : '') +
        this.attribute(
          'region',
          this.attribute('prefecture', this.item.provider_info.prefecture_id)
            .parent
        ).text +
        '/' +
        this.attribute('prefecture', this.item.provider_info.prefecture_id)
          .text +
        (this.item.provider_info.address != null
          ? ' ,' + this.item.provider_info.address
          : '') +
        (this.item.provider_info.street_address != null
          ? ', ' + this.item.provider_info.street_address
          : '')
      )
    },
    /**
     *
     * @returns {Array}
     */
    jobAddresses: function() {
      const addressRet = []
      if (this.item.addresses.length > 0) {
        _.each(this.item.addresses, (value, key) => {
          addressRet.push(
            (value.zip_code != null ? value.zip_code + ', ' : '') +
              this.attribute(
                'region',
                this.attribute('prefecture', value.prefecture_id).parent
              ).text +
              '/' +
              this.attribute('prefecture', value.prefecture_id).text +
              (value.address != null ? ' ,' + value.address : '') +
              (value.street_address != null
                ? ', ' + value.street_address
                : '') +
              (value.station_distance != null
                ? '( ' +
                  this.$t('global.fields.nearest_station') +
                  ': ' +
                  this.attribute('station.distance', value.station_distance)
                    .text +
                  '/' +
                  this.attribute('walking.distance', value.walking_distance)
                    .text +
                  ')'
                : '')
          )
        })
      }
      return addressRet
    },

    /**
     *
     * @returns {Array}
     */
    characteristic: function() {
      const characteristicReturn = []
      _.filter(this.item.characteristics, function(value, key) {
        if (parseInt(value) === 1) {
          characteristicReturn.push(key)
        }
      })
      return characteristicReturn
    },

    /**
     *
     * @returns {Array}
     */
    job_languages: function() {
      const languagesRet = []
      if (this.item.langs.length > 0) {
        _.each(this.item.langs, (value, key) => {
          languagesRet.push(
            this.attribute('lang_option', value.language).text +
              ' - ' +
              this.attribute('lang.level', value.level).text
          )
        })
      }
      return languagesRet
    }
  },

  data() {
    return {
      isApplied: true,
      loading: true,
      map_lat: '36.2048',
      map_lng: '138.2529'
    }
  },
  /**
   *
   * @returns {Promise<void>}
   */
  async mounted() {
    const applyCheck = await this.CheckIsApplied({ id: this.item.id })
    this.isApplied = applyCheck.data !== undefined ? applyCheck.data : false
    this.loading = false

    // get lat lng
    const latLng = await this.$FetchLocation.geocode({
      address: this.jobAddresses[0].split('(')[0],
      lang: this.$store.getters.locale
    })
    if (latLng.status === 'OK') {
      this.map_lat = latLng.lat
      this.map_lng = latLng.lng
    }
  }
})
</script>
<style>
.job-apply-box {
  position: sticky;
  top: 0;
}
</style>
