<template>
  <b-row>
    <b-col class="col-sm-3 col-12">
      <p class="job_detail_heading">{{ label }}:</p>
    </b-col>
    <b-col>
      <p class="jb_detail_value">
        {{ value }}
      </p>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.detail'
      }
    },
    label: {
      type: String,
      default: function() {
        return 'label'
      }
    },
    value: {
      type: String,
      default: function() {
        return 'value'
      }
    }
  },
  mixins: [base()]
})
</script>

<style scoped></style>
