<template>
  <section>
    <div v-for="(item, key) in jobs" :key="key">
      <JobListItem :item="item" />
    </div>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import JobListItem from '~/components/Job/ListItem'
export default nuxtend({
  components: {
    JobListItem
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.list'
      }
    },
    jobs: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  mixins: [base(), jobs()]
})
</script>
<style scoped>
section {
  text-align: left !important;
}
</style>
