<template>
  <b-row
    :class="{
      'jb-single-job-box': true,
      'p-3': true,
      shadow: page != 'job.apply' ? true : false
    }"
  >
    <b-col class="col-md-12 col-sm-12 col-12">
      <!--
      <b-row
        class="job-title-list"
      >
        <b-col class="title col-12">
          <h2>{{ item.provider_info.company_name[$store.getters.locale] }}</h2>
        </b-col>
      </b-row>
      -->
      <b-row class="media">
        <b-col class="col-md-4 col-sm-12 col-12">
          <nuxt-link :to="$i18n.path(`/jobs/${item.slug}`)">
            <img
              :src="image"
              :img-alt="item.job_title[$store.getters.locale]"
              class="d-flex align-self-center mr-3 w-100"
              style="height: 200px; object-fit: cover"
            />
          </nuxt-link>
        </b-col>
        <b-col class="col-md-8 col-sm-12 col-12">
          <nuxt-link :to="$i18n.path(`/jobs/${item.slug}`)">
            <h2>{{ `${item.job_title[$store.getters.locale]}` }}</h2>
          </nuxt-link>
          <div class="media-body">
            <div class="jb-label-group">
              <span
                v-for="(item_c, key_c) in characteristic"
                :key="key_c"
                class="jb-label mr-1"
                >{{ $t(`global.job_characteristic.${item_c}`) }}
              </span>
            </div>
            <DetailItemRow
              :label="$t(`global.fields.category`)"
              :value="
                attribute('job_category', item.category_id).text +
                  ' - ' +
                  attribute(
                    attribute('job_category', item.category_id).self,
                    item.sub_category_id
                  ).text
              "
            />
            <DetailItemRow
              :label="$t(`global.fields.industry`)"
              :value="
                attribute(
                  'business_content',
                  item.provider_info.business_content
                ).text
              "
            />
            <DetailItemRow
              :label="$t(`global.fields.employment_type`)"
              :value="employment_type"
            />
            <DetailItemRow
              :label="$t(`global.fields.salary`)"
              :value="salary"
            />
            <b-row v-if="page == 'user.wishlist' || page == 'job.list'">
              <b-col class="col-12 col-sm-3">
                <p class="job_detail_heading">
                  {{ $t('global.fields.area') }}:
                </p>
              </b-col>
              <b-col>
                <div class="jb_detail_value">
                  <ul>
                    <li v-for="(prefecture, key) in item.addresses" :key="key">
                      {{
                        attribute(
                          'region',
                          attribute('prefecture', prefecture.prefecture_id)
                            .parent
                        ).text
                      }}
                      /
                      {{
                        attribute('prefecture', prefecture.prefecture_id).text
                      }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
            <DetailItemRow
              :label="$t(`global.fields.japanese_language_level`)"
              :value="japanese_language_level"
            />
          </div>
        </b-col>
      </b-row>
      <hr />
      <b-row>
        <b-col class="col-12">
          <span>{{ $t(`global.fields.description`) }}: </span>
          <p>{{ description + '...' }}</p>
        </b-col>
      </b-row>
      <b-row v-if="page !== 'job.apply'">
        <b-col class="col-md-4 col-sm-12 mx-auto">
          <button
            v-show="page !== 'user.wishlist'"
            type="button"
            class="btn btn-outline-secondary"
            @click="$router.push({ path: $i18n.path(`/jobs/${item.slug}`) })"
          >
            {{ $t('global.fields.detail') }}
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            @click.prevent="
              addRemoveWishlist({
                id: item.id,
                status: item.isWishlisted,
                page: page
              })
            "
          >
            {{
              item.isWishlisted
                ? `${$t('global.fields.remove_from_wish_list')}`
                : `${$t('global.fields.add_to_wish_list')}`
            }}
          </button>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import DetailItemRow from '~/components/Job/DetailItemRow'
export default nuxtend({
  components: {
    DetailItemRow
  },
  data() {
    return {
      apply_checkbox: '0',
      isApplied: true,
      loading: true
    }
  },
  computed: {
    salary: function() {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(this.item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(this.item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.max_salary
        )
      }
    },
    employment_type: function() {
      let employmentType = ''
      if (this.item.employment_type !== null) {
        employmentType = this.attribute(
          'employment_type',
          this.item.employment_type
        ).text
        if (parseInt(this.item.employment_type) !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', this.item.time_period)
            .text
          employmentType += ' )'
        }
      }
      return employmentType
    },
    characteristic: function() {
      const characteristicReturn = []
      _.filter(this.item.characteristics, function(value, key) {
        if (parseInt(value) === 1) {
          characteristicReturn.push(key)
        }
      })
      return characteristicReturn.slice(0, 5)
    },

    japanese_language_level: function() {
      let language = this.$t('global.others.na')
      _.each(this.item.langs, function(value, key) {
        if (parseInt(value.language) === 1) {
          language = value.level
        }
      })
      return language !== 'N/A'
        ? this.attribute('lang.level', language).text
        : this.$store.getters.locale === 'en'
        ? language
        : '利用不可'
    },
    image: function() {
      let url = ''
      if (this.item.images.length > 0) {
        const imgRef = this.item.images[0]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return parseInt(converted.media_dimension) === 400
          })
          if (!scan) {
            url = imgRef.url
          } else {
            url = scan.url
          }
        } else {
          url = imgRef.url
        }
      }
      return url
    },
    description: function() {
      return this.item.description[this.$store.getters.locale] != null
        ? this.item.description[this.$store.getters.locale].replace(
            /^(.{400}[^\s]*).*/,
            '$1'
          )
        : ''
    }
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.list'
      }
    },
    item: {
      type: Object,
      default: function() {
        return {}
      }
    },
    selected: {
      type: String,
      default: function() {
        return '0'
      }
    }
  },
  mixins: [base(), jobs()]
})
</script>
