<template>
  <section class="ad even p-2">
    <b-row>
      <b-col>
        <p>{{ $t('global.messages.are_you_employer') }}</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <a href="#">
          <b-button variant="outline-info" size="lg">{{
            $t('global.messages.post_a_job')
          }}</b-button></a
        >
      </b-col>
    </b-row>
  </section>
</template>
<script>
import nuxtend from 'nuxtend'
export default nuxtend({
  computed: {
    // provider_url: process.env.PROVIDER_URL
  }
})
</script>
<style>
.ad {
  text-align: center !important;
  font-size: 30px;
}
</style>
