<template>
  <section class="p-2">
    <div class="cardlist">
      <h2>{{ title }}</h2>
      <b-row>
        <b-col
          v-for="(item, key) in jobs"
          :key="key"
          class="col-12
            col-md-3
            mb-sm-12"
        >
          <b-card
            :img-src="image_url(key)"
            :img-alt="item.job_title[$store.getters.locale]"
            img-top
            style="cursor: pointer; "
            @click="$router.push({ path: $i18n.path(`/jobs/${item.slug}`) })"
          >
            <p class="card-text" style="height:2rem">
              {{ item.job_title[$store.getters.locale] }}
            </p>
            <div class="card-text text-truncate">
              <small>{{
                item.provider_info.company_name[$store.getters.locale]
              }}</small>
            </div>
            <hr />
            <div>
              {{
                $t('global.fields.employment_type') + ' : ' + get_emp_type(item)
              }}
            </div>
            <div>{{ $t('global.fields.salary') + ' : ' + salary(item) }}</div>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'index'
      }
    },
    jobs: {
      type: Array,
      default: function() {
        return []
      }
    },
    title: {
      type: String,
      default: function() {
        return this.$t('global.titles.jobs.latest')
      }
    }
  },
  mixins: [base(), jobs()],
  methods: {
    image_url: function(key) {
      let url = ''
      if (this.jobs[key].images.length > 0) {
        const imgRef = this.jobs[key].images[0]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return parseInt(converted.media_dimension) === 400
          })
          if (!scan) {
            url = imgRef.url
          } else {
            url = scan.url
          }
        } else {
          url = imgRef.url
        }
      }
      return url
    },
    get_emp_type: function(item) {
      let employmentType = ''
      if (item.employment_type !== null) {
        employmentType = this.attribute('employment_type', item.employment_type)
          .text
        if (parseInt(item.employment_type) !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', item.time_period).text
          employmentType += ' )'
        }
      }
      return employmentType
    },
    salary: function(item) {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          item.max_salary
        )
      }
    }
  }
})
</script>
<style scoped>
section {
  text-align: left !important;
}
.card img {
  object-fit: cover;
  height: 200px;
}
</style>
