<template>
  <section>
    <OverlayLoading ref="overlayloading" />
    <b-row>
      <b-col class="col-lg-12">
        <div class="jb-search-form">
          <h5>{{ this.$t('global.search_form.search_text') }}</h5>
          <b-row>
            <b-col class="col-md-6 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
              <b-input
                v-model="dataForm.search"
                :placeholder="this.$t('global.search_form.search_placeholder')"
              />
            </b-col>
            <b-col
              class="col-md-4 col-sm-12 col-12 pr-0 pr-md-1 d-none d-md-block"
            >
              <b-button
                :disabled="search_click"
                variant="info"
                @click="searchAction"
              >
                <font-awesome-icon
                  v-if="search_click"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />
                {{ $t('global.buttons.search') }}
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-md-3 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
              <b-form-select
                v-model="dataForm.employment_type"
                :options="attribute('employment_type')"
              >
                <option slot="first" :value="null">
                  {{ this.$t('global.placeholder.select_employment') }}
                </option>
              </b-form-select>
            </b-col>
            <b-col class="col-md-3 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
              <b-form-select
                v-model="dataForm.category_id"
                :options="attribute('job_category')"
              >
                <option slot="first" :value="null">
                  {{ $t('global.placeholder.select_category') }}
                </option>
              </b-form-select>
            </b-col>
            <b-col class="col-md-3 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
              <b-form-select
                v-model="dataForm.japanese_language_level"
                :options="attribute('lang.level')"
              >
                <option slot="first" :value="null">
                  {{ $t('global.fields.japanese_language_level') }}
                </option>
              </b-form-select>
            </b-col>
          </b-row>
          <b-row />
          <transition name="slide-fade">
            <div v-if="advanced_search">
              <b-row>
                <b-col class="col-md-3 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
                  <b-form-select
                    v-model="dataForm.english_language_level"
                    :options="attribute('lang.level')"
                  >
                    <option slot="first" :value="null">
                      {{ $t('global.fields.english_language_level') }}
                    </option>
                  </b-form-select>
                </b-col>
                <!--salary type -->
                <b-col class="col-md-3 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
                  <b-form-select
                    v-model="dataForm.prefecture_id"
                    :options="attribute('prefecture')"
                  >
                    <option slot="first" :value="null">
                      {{ $t('global.placeholder.prefecture') }}
                    </option>
                  </b-form-select>
                </b-col>
                <b-col class="col-md-3 col-sm-12 col-12">
                  <b-input-group>
                    <b-form-select
                      slot="prepend"
                      v-model="dataForm.salary_type"
                      :options="attribute('salary_type')"
                      class="mr-1"
                    >
                      <option slot="first" :value="null">
                        {{ $t('global.placeholder.salary') }}
                      </option>
                    </b-form-select>
                    <b-input v-model="dataForm.salary_range" />
                    <span class="ml-1">{{ $t('global.fields.more') }}</span>
                  </b-input-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col class="col-md-12 col-sm-4 col-12">
                  <b-form-group
                    :label="$t('global.search_form.job_characteristics')"
                  >
                    <div class="jb-checkbox-group-inline">
                      <b-form-checkbox
                        id="visa_support"
                        v-model="dataForm.visa_support"
                        value="1"
                        unchecked-value="00"
                      >
                        {{ $t('global.fields.visa_support') }}
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="remote_ok"
                        v-model="dataForm.remote"
                        value="1"
                        unchecked-value="00"
                      >
                        {{ $t('global.fields.remote_ok') }}
                      </b-form-checkbox>
                      <b-form-checkbox
                        id="practical_experience"
                        v-model="dataForm.practical_experience"
                        value="1"
                        unchecked-value="00"
                      >
                        {{ $t('global.fields.practical_experience') }}
                      </b-form-checkbox>
                    </div>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
          </transition>
          <b-row>
            <b-col class="col-md-2 col-sm-12 col-12 pr-0 pr-md-1 mb-1">
              <b-button
                variant="outline-info"
                size="sm"
                class="jb-button-icon"
                @click="showAdvanceSearch"
              >
                <i class="material-icons">
                  {{
                    advanced_search
                      ? 'keyboard_arrow_up'
                      : 'keyboard_arrow_down'
                  }}
                </i>
                <span>{{ $t('global.search_form.advance_search') }}</span>
              </b-button>
            </b-col>
            <b-col
              class="col-md-4 col-sm-12 col-12 pr-0 pr-md-1 d-block d-md-none"
            >
              <b-button
                :disabled="search_click"
                variant="info"
                @click="searchAction"
              >
                <font-awesome-icon
                  v-if="search_click"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />
                {{ $t('global.buttons.search') }}
              </b-button>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    }
  },
  components: {
    OverlayLoading
  },
  mixins: [base()],

  computed: {
    ...mapGetters(['advanced_search'])
  },
  data() {
    return {
      search_click: false,
      dataForm: {
        search: this.$route.query.search || null,
        employment_type: this.$route.query.employment_type || null,
        visa_support: this.$route.query.visa_support || null,
        remote: this.$route.query.remote || null,
        practical_experience: this.$route.query.practical_experience || null,
        category_id: this.$route.query.category_id || null,
        japanese_language_level:
          this.$route.query.japanese_language_level || null,
        english_language_level:
          this.$route.query.english_language_level || null,
        salary_type:
          this.$route.query.salary_type !== undefined
            ? this.$route.query.salary_type.split(',')
            : null,
        salary_range:
          this.$route.query.salary_range !== undefined
            ? this.$route.query.salary_range
            : null,
        prefecture_id: this.$route.query.prefecture_id || null
      }
    }
  },
  methods: {
    searchAction() {
      this.search_click = true
      this.$refs.overlayloading.finish()
      this.$router.push(
        this.$i18n.path(`/jobs?${this.generateUrl(this.dataForm)}`)
      )
      setTimeout(() => {
        this.search_click = false
        this.$refs.overlayloading.finish()
      }, 2000)
    }
  }
})
</script>

<style scoped></style>
