<template>
  <section>
    <div v-if="jobs.length > 0">
      <div>
        <p>{{ $t('global.fields.at_once_message') }}</p>
        <b-row cols="12">
          <b-col class="text-right">
            <b-button variant="info" @click="applyAll">
              {{ $t('global.fields.apply_at_once') }}
            </b-button>
          </b-col>
          <b-col cols="12">
            <b-form-checkbox
              id="check_all"
              v-model="checkAll"
              value="1"
              unchecked-value="0"
              @change="checkUncheckAll"
            >
              {{ $t('global.fields.checkall') }}
            </b-form-checkbox>
          </b-col>
        </b-row>
      </div>

      <div v-for="(item, key) in jobs" :key="key + 'jobs'">
        <b-row
          :class="{
            'jb-single-job-box': true,
            'p-3': true,
            shadow: page != 'job.apply' ? true : false
          }"
        >
          <b-col class="col-md-12 col-sm-12 col-12">
            <b-row>
              <b-col class="col-12">
                <b-form-checkbox
                  :id="'id' + item.id"
                  v-model="check_box_arr[item.id][0].checked"
                  :disabled="item.isApplied"
                  value="1"
                  unchecked-value="0"
                  @change="checkUncheckChild($event, item.id)"
                >
                  <h6>
                    {{ item.provider_info.company_name[$store.getters.locale] }}
                  </h6>
                </b-form-checkbox>
              </b-col>
            </b-row>
            <b-row class="media">
              <b-col class="col-md-4 col-sm-12 col-12">
                <img
                  :src="image(item)"
                  :img-alt="item.job_title[$store.getters.locale]"
                  class="d-flex align-self-center mr-3 w-100"
                  style="height: 200px; object-fit: cover"
                />
              </b-col>
              <b-col class="col-md-8 col-sm-12 col-12">
                <nuxt-link :to="$i18n.path(`/jobs/${item.slug}`)">
                  <h3>{{ `${item.job_title[$store.getters.locale]}` }}</h3>
                </nuxt-link>
                <div class="media-body">
                  <b-row>
                    <b-col class="col-sm-12 col-12 col-md-12">
                      <p class="jb_detail_value">
                        {{
                          attribute('job_category', item.category_id).text +
                            ' - ' +
                            attribute(
                              attribute('job_category', item.category_id).self,
                              item.sub_category_id
                            ).text
                        }}
                      </p>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col class="col-sm-12 col-12 col-md-12">
                      <p class="jb_detail_value">
                        {{ get_emp_type(item) }}
                      </p>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col class="col-sm-12 col-12 col-md-12">
                      <p class="jb_detail_value">
                        {{
                          attribute(
                            'business_content',
                            item.provider_info.business_content
                          ).text
                        }}
                      </p>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col class="col-sm-12 col-12 col-md-12">
                      <p class="jb_detail_value">
                        {{ salary(item) }}
                      </p>
                    </b-col>
                  </b-row>
                  <b-row v-if="page == 'user.wishlist' || page == 'job.list'">
                    <b-col class="col-12 col-sm-12 col-md-12">
                      <div class="jb_detail_value">
                        <ul>
                          <li
                            v-for="(prefecture, key_add) in item.addresses"
                            :key="key_add + 'add'"
                          >
                            {{
                              attribute(
                                'region',
                                attribute(
                                  'prefecture',
                                  prefecture.prefecture_id
                                ).parent
                              ).text
                            }}
                            /
                            {{
                              attribute('prefecture', prefecture.prefecture_id)
                                .text
                            }}
                          </li>
                        </ul>
                      </div>
                    </b-col>
                  </b-row>
                </div>
              </b-col>
            </b-row>
            <hr />
            <b-row v-if="page != 'job.apply'">
              <b-col class="col-sm-12">
                <b-button
                  :disabled="item.isApplied"
                  variant="info"
                  @click="
                    $router.push({
                      path: $i18n.path(
                        '/jobs/apply/' + item.slug + '?wishlist=false'
                      )
                    })
                  "
                >
                  <span v-show="!item.isApplied">{{
                    $t('global.fields.apply')
                  }}</span>
                  <span v-show="item.isApplied">{{
                    $t('global.fields.already_applied')
                  }}</span>
                </b-button>
                <b-button
                  variant="outline-secondary"
                  @click="
                    addRemoveWishlist({
                      id: item.id,
                      status: item.isWishlisted,
                      page: 'user.wishlist'
                    })
                  "
                >
                  {{
                    item.isWishlisted
                      ? `${$t('global.fields.remove_from_wish_list')}`
                      : `${$t('global.fields.add_to_wish_list')}`
                  }}
                </b-button>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
    </div>
    <div v-if="jobs.length == 0">
      <p>{{ $t('global.messages.no_wishlist') }}</p>
      <NoRecords v-if="jobs.length === 0" />
    </div>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import NoRecords from '~/components/Message/NoRecords'
export default nuxtend({
  components: {
    NoRecords
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.list'
      }
    },
    jobs: {
      type: Array,
      default: function() {
        return []
      }
    }
  },

  data() {
    return {
      blank: '0',
      checkAll: '0',
      checked: '0',
      fromChild: '0'
    }
  },

  computed: {
    check_box_arr: function() {
      const check = {}
      for (let i = 0; i < this.jobs.length; i++) {
        // if(!this.jobs[i].isApplied){
        check[this.jobs[i].id] = []
        check[this.jobs[i].id].push({
          checked: '0',
          isApplied: this.jobs[i].isApplied
        })
        // }
      }
      return check
    }
  },
  watch: {
    checkAll: function() {
      if (this.fromChild === '0') {
        for (const check in this.check_box_arr) {
          if (!this.check_box_arr[check][0].isApplied) {
            if (this.checkAll === '1') {
              this.check_box_arr[check][0].checked = '1'
            } else {
              this.check_box_arr[check][0].checked = '0'
            }
          }
        }
      }
    }
  },
  mixins: [base(), jobs()],
  methods: {
    get_emp_type: function(item) {
      let employmentType = ''
      if (item.employment_type !== null) {
        employmentType = this.attribute('employment_type', item.employment_type)
          .text
        if (item.employment_type !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', item.time_period).text
          employmentType += ' )'
        }
      }
      return employmentType
    },
    salary: function(item) {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          item.max_salary
        )
      }
    },
    characteristic: function(item) {
      const characteristicReturn = []
      _.filter(item.characteristics, function(value, key) {
        if (parseInt(value) === 1) {
          characteristicReturn.push(key)
        }
      })
      return characteristicReturn.slice(0, 5)
    },
    japanese_language_level: function(item) {
      let language = this.$t('global.others.na')
      _.each(item.langs, function(value, key) {
        if (parseInt(value.language) === 1) {
          language = value.level
        }
      })
      return language !== 'N/A'
        ? this.attribute('lang.level', language).text
        : this.$store.getters.locale === 'en'
        ? language
        : '利用不可'
    },
    image: function(item) {
      let url = ''
      if (item.images.length > 0) {
        // there always must be a single image for user so first index
        const imgRef = item.images[0]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return parseInt(converted.media_dimension) === 400
          })
          if (!scan) {
            url = imgRef.url
          } else {
            url = scan.url
          }
        } else {
          url = imgRef.url
        }
      }
      return url
    },
    description: function(item) {
      return item.description[this.$store.getters.locale] != null
        ? item.description[this.$store.getters.locale].replace(
            /^(.{400}[^\s]*).*/,
            '$1'
          )
        : ''
    },

    checkUncheckChild(event, key) {
      this.check_box_arr[key][0].checked = event
      this.checkAll = '1'
      this.fromChild = '1'
      for (const check in this.check_box_arr) {
        if (!this.check_box_arr[check][0].isApplied) {
          if (this.check_box_arr[check][0].checked === '0') {
            this.checkAll = '0'
          }
        }
      }
    },

    checkUncheckAll() {
      this.fromChild = '0'
    },
    async applyAll() {
      this.$toast.clear()
      const selectedJob = []
      _.each(this.jobs, (value, key) => {
        if (
          !value.isApplied &&
          this.check_box_arr[value.id][0].checked === '1'
        ) {
          const wJob = {}
          wJob.job_id = value.id
          wJob.job_title = value.job_title
          wJob.provider_info = value.provider_info
          wJob.category_id = value.category_id
          wJob.sub_category_id = value.sub_category_id
          selectedJob.push(wJob)
        }
      })
      if (selectedJob.length > 0) {
        await this.$store.commit('jobs/SET_WISHLIST_SELECTED', selectedJob)
        this.$router.push({
          path: this.$i18n.path('/jobs/apply/multiple?wishlist=true')
        })
      } else {
        this.$toast.show(this.$t('global.messages.no_jobs_to_apply'), {
          icon: 'close',
          type: 'error'
        })
      }
    }
  }
})
</script>
<style scoped></style>
