<template>
  <b-row
    :class="{
      'jb-single-job-box': true,
      'p-3': true,
      shadow: page != 'job.apply' ? true : false
    }"
  >
    <b-col class="col-md-12 col-sm-12 col-12">
      <b-row class="job-title-list">
        <b-col class="title col-12">
          <!--<slot name="check_job"/>-->
          <b-form-checkbox
            v-if="page == 'user.wishlist' && !item.isApplied"
            :id="'id' + item.id"
            v-model="selected"
            value="1"
            unchecked-value="0"
          />
          <!--<h2>{{ item.provider_info.company_name[$store.getters.locale] }}</h2>-->
        </b-col>
      </b-row>
      <b-row class="media">
        <b-col class="col-md-4 col-sm-12 col-12">
          <img
            :src="image"
            :img-alt="item.job_title[$store.getters.locale]"
            class="d-flex align-self-center mr-3 w-100"
            style="height: auto; object-fit: scale-down"
          />
        </b-col>
        <b-col class="col-md-8 col-sm-12 col-12">
          <nuxt-link :to="$i18n.path(`/jobs/${item.slug}`)">
            <h3>{{ `${item.job_title[$store.getters.locale]}` }}</h3>
          </nuxt-link>
          <div class="media-body">
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{
                    attribute('job_category', item.category_id).text +
                      ' - ' +
                      attribute(
                        attribute('job_category', item.category_id).self,
                        item.sub_category_id
                      ).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{ employment_type }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{
                    attribute(
                      'business_content',
                      item.provider_info.business_content
                    ).text
                  }}
                </p>
              </b-col>
            </b-row>
            <b-row>
              <b-col class="col-sm-12 col-12 col-md-12">
                <p class="jb_detail_value">
                  {{ salary }}
                </p>
              </b-col>
            </b-row>
            <b-row v-if="page == 'user.wishlist' || page == 'job.list'">
              <b-col class="col-12 col-sm-12 col-md-12">
                <div class="jb_detail_value">
                  <ul>
                    <li v-for="(prefecture, key) in item.addresses" :key="key">
                      {{
                        attribute(
                          'region',
                          attribute('prefecture', prefecture.prefecture_id)
                            .parent
                        ).text
                      }}
                      /
                      {{
                        attribute('prefecture', prefecture.prefecture_id).text
                      }}
                    </li>
                  </ul>
                </div>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
      <hr />
      <b-row v-if="page != 'job.apply'">
        <b-col class="col-sm-12">
          <button
            v-show="page != 'user.wishlist'"
            variant="outline-secondary"
            @click="$router.push({ path: $i18n.path(`/jobs/${item.slug}`) })"
          >
            {{ $t('global.fields.detail') }}
          </button>
          <b-button
            v-show="page == 'user.wishlist' && !item.isApplied"
            :disabled="item.isApplied"
            variant="info"
            @click="
              $router.push({
                path: $i18n.path('/jobs/apply/' + item.slug + '?wishlist=false')
              })
            "
          >
            {{ $t('global.fields.apply') }}
          </b-button>
          <b-button
            variant="outline-secondary"
            @click="
              addRemoveWishlist({
                id: item.id,
                status: item.isWishlisted,
                page: page
              })
            "
          >
            {{
              item.isWishlisted
                ? `${$t('global.fields.remove_from_wish_list')}`
                : `${$t('global.fields.add_to_wish_list')}`
            }}
          </b-button>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import jobs from '~/mixins/jobs'
import DetailItemRow from '~/components/Job/DetailItemRow'
export default nuxtend({
  components: {
    DetailItemRow
  },
  data() {
    return {
      apply_checkbox: '0',
      isApplied: true,
      loading: true
    }
  },
  computed: {
    employment_type: function() {
      let employmentType = ''
      if (this.item.employment_type !== null) {
        employmentType = this.attribute(
          'employment_type',
          this.item.employment_type
        ).text
        if (this.item.employment_type !== 0) {
          employmentType += ' ( '
          employmentType += this.attribute('time_period', this.item.time_period)
            .text
          employmentType += ' )'
        }
      }
      return employmentType
    },
    salary: function() {
      if (this.$store.getters.locale === 'ja') {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$CurrencyFormatter.currency(this.item.min_salary) +
          '~' +
          this.$CurrencyFormatter.currency(this.item.max_salary)
        )
      } else {
        return (
          this.attribute('salary_type', this.item.salary_type).text +
          '/' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.min_salary +
          '~' +
          this.$t('global.currency.japanese') +
          ' ' +
          this.item.max_salary
        )
      }
    },
    characteristic: function() {
      const characteristicReturn = []
      _.filter(this.item.characteristics, function(value, key) {
        if (_.toInteger(value) === 1) {
          characteristicReturn.push(key)
        }
      })
      return characteristicReturn.slice(0, 5)
    },
    japanese_language_level: function() {
      let language = this.$t('global.others.na')
      _.each(this.item.langs, function(value, key) {
        if (_.toInteger(value.language) === 1) {
          language = value.level
        }
      })
      return language !== 'N/A'
        ? this.attribute('lang.level', language).text
        : this.$store.getters.locale === 'en'
        ? language
        : '利用不可'
    },
    image: function() {
      let url = ''
      if (this.item.images.length > 0) {
        // there always must be a single image for user so first index
        const imgRef = this.item.images[0]
        if (imgRef.converted.length > 0) {
          const scan = _.find(imgRef.converted, function(converted) {
            return _.toInteger(converted.media_dimension) === 400
          })
          if (!scan) {
            url = imgRef.url
          } else {
            url = scan.url
          }
        } else {
          url = imgRef.url
        }
      }
      return url
    },
    description: function() {
      return this.item.description[this.$store.getters.locale] != null
        ? this.item.description[this.$store.getters.locale].replace(
            /^(.{400}[^\s]*).*/,
            '$1'
          )
        : ''
    }
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'job.list'
      }
    },
    item: {
      type: Object,
      default: function() {
        return {}
      }
    },
    selected: {
      type: String,
      default: function() {
        return '0'
      }
    }
  },
  mixins: [base(), jobs()],
  methods: {},
  watch: {
    selected: function() {
      console.log(this.selected)
      this.$emit('check-uncheck', this.selected)
    }
  }
})
</script>
<style scoped>
@media (min-width: 1025px) {
  .row {
    line-height: 0.5;
  }

  .row li {
    line-height: 1;
  }
}
</style>
