<template>
  <section class="border p-2">
    <OverlayLoading ref="overlayloading" />
    <h2>{{ $t('global.titles.certificates') }}</h2>
    <b-row>
      <b-col class="col-12">
        <b-form :data-vv-scope="scope" @submit.prevent="emitCertificateUpdate">
          <div
            v-for="(item, key) in dataForm.certifications"
            :key="key"
            class="border p-3 mt-3"
          >
            <div style="position: relative">
              <div class="float-right mb-2">
                <span
                  v-show="
                    page == 'job.apply' ||
                      dataForm.certifications.length > 1 ||
                      dataForm.certifications[key].id !== undefined
                  "
                  class="jb-remove-icon"
                  variant="outline-danger"
                  @click="removeCertificate(key)"
                >
                  <font-awesome-icon
                    :icon="['fas', 'window-close']"
                    :style="{ color: '#C9302B' }"
                    size="2x"
                  />
                </span>
              </div>

              <b-form-group
                id="certificate_name"
                :label="$t('global.fields.certificate_name')"
                label-for="certificate_name"
                label-class="required"
              >
                <b-form-input
                  id="certificate_name"
                  v-model="dataForm.certifications[key].certificate_name"
                  v-validate="'required'"
                  :data-vv-name="`certificate_name_${key}`"
                  :data-vv-as="$t('global.fields.certificate_name')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`certificateUpdate.certificate_name_${key}`)
                }}</span>
              </div>

              <no-ssr>
                <b-form-group
                  id="year"
                  :label="$t('global.fields.certificate_date')"
                  label-for="year"
                  label-class="required"
                >
                  <CostumDate
                    v-model="dataForm.certifications[key].year"
                    v-validate="'required_date|validate_date'"
                    :data-vv-name="`year_${key}`"
                    :data-vv-as="$t('global.fields.certificate_date')"
                    :max="max_date"
                    :default="
                      dataForm.certifications[key].year != null
                        ? dataForm.certifications[key].year
                        : '0000-00-00'
                    "
                    :months-names="$t('global.fields.months')"
                    min="1920"
                    type="Y.m"
                    @change="$emit('input', $event.target.value)"
                  />
                  <input
                    v-show="false"
                    v-model="dataForm.certifications[key].year"
                    v-validate="'required_date|validate_date'"
                    :data-vv-name="`year_${key}`"
                    :data-vv-as="$t('global.fields.certificate_date')"
                  />
                </b-form-group>
                <div class="error">
                  <span>{{
                    errors.first(`certificateUpdate.year_${key}`)
                  }}</span>
                </div>
              </no-ssr>
            </div>
          </div>
          <b-button
            class="mt-3"
            variant="outline-info"
            @click="addNewCertificate"
          >
            {{ this.$t('global.buttons.add_new') }}
          </b-button>
          <div v-if="page != 'job.apply'" class="d-flex justify-content-center">
            <b-button
              v-if="dataForm.certifications.length > 0"
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ this.$t('global.buttons.submit') }}
            </b-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import CostumDate from '~/components/UI/CostumDate'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  components: {
    CostumDate,
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    certifications: {
      type: Array,
      default: function() {
        return []
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  computed: {
    max_date: function() {
      return new Date().getFullYear().toString()
    }
  },
  mounted() {
    if (
      this.page !== 'job.apply' &&
      this.dataForm.certifications.length === 0
    ) {
      this.dataForm.certifications.push({
        year: null,
        certificate_name: ''
      })
    }
  },
  created() {
    const count = this.certifications.length
    if (count > 0) {
      this.dataForm.certifications = []
      for (let i = 0; i < count; i++) {
        const exp = {
          id: this.certifications[i].id,
          year: this.certifications[i].year,
          certificate_name: this.certifications[i].certificate_name
        }
        this.dataForm.certifications.push(exp)
      }
    }
    this.veevalidateLocalize()
  },
  data() {
    return {
      valid: false,
      scope: 'certificateUpdate',
      showInitial: this.page !== 'job.apply',
      deleted_ids: [],
      dataForm: {
        certifications: []
      }
    }
  },
  methods: {
    addNewCertificate() {
      this.dataForm.certifications.push({
        year: null,
        certificate_name: ''
      })
    },
    removeCertificate(key) {
      if (
        this.dataForm.certifications[key].id !== undefined &&
        this.page !== 'job.apply'
      ) {
        const deleteData = {
          id: this.dataForm.certifications[key].id,
          resource: 'seeker-certificates'
        }
        this.$toast.clear()
        this.$store
          .dispatch('users/deleteProfileItem', deleteData)
          .then(response => {
            this.$store.dispatch(
              'users/getSeekerProfileInfo',
              this.user.user_type_id
            )
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            this.dataForm.certifications.splice(key, 1)
          })
          .catch(err => {
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
          })
      } else {
        if (this.dataForm.certifications[key].id !== undefined) {
          this.deleted_ids.push(this.dataForm.certifications[key].id)
        }
        this.dataForm.certifications.splice(key, 1)
      }
    },
    emitCertificateUpdate(evt) {
      this.$toast.clear()
      this.errors.clear('certificateUpdate')
      this.valid = true
      // debugger
      this.$validator.validateScopes(this.scope).then(result => {
        // debugger
        this.$toast.clear()
        if (result) {
          this.$refs.overlayloading.start()
          this.$store
            .dispatch('users/updateCertificationsProfile', {
              id: this.user.user_type_id,
              data: this.dataForm.certifications
            })
            .then(response => {
              this.$store.commit(
                'users/SET_USER_CERTIFICATIONS',
                response.data.data
              )
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$refs.overlayloading.finish()
              this.valid = false
              this.$emit('certificate-update', response.data.data)
            })
            .catch(err => {
              this.$refs.overlayloading.finish()
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                const realField = field.split('.')
                errs.push(
                  _.merge(
                    {},
                    {
                      field: realField[2] + '_' + realField[1],
                      scope: 'certificateUpdate',
                      msg: messages[0]
                    }
                  )
                )
                // console.log(errs)
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.valid = false
            })
        } else {
          this.valid = false
        }
      })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
