<template>
  <section>
    <OverlayLoading ref="overlayloading" />
    <b-row>
      <b-col class="col-12">
        <b-form :data-vv-scope="scope" @submit.prevent="emitEducationUpdate">
          <div
            v-for="(item, key) in dataForm.educations"
            :key="key"
            class="border p-3 mt-3"
          >
            <div style="position: relative">
              <div class="float-right mb-2">
                <span
                  v-show="
                    page == 'job.apply' ||
                      dataForm.educations.length > 1 ||
                      dataForm.educations[key].id !== undefined
                  "
                  class="jb-remove-icon"
                  variant="outline-danger"
                  @click="removeEducation(key)"
                >
                  <font-awesome-icon
                    :icon="['fas', 'window-close']"
                    :style="{ color: '#C9302B' }"
                    size="2x"
                  />
                </span>
              </div>
              <b-form-group
                id="university_institute"
                :label="$t('global.fields.university_institute')"
                label-for="university_institute"
                label-class="required"
              >
                <b-form-input
                  id="university_institute"
                  v-model="dataForm.educations[key].university_institute"
                  v-validate="'required|max:100'"
                  :data-vv-name="`university_institute_${key}`"
                  :data-vv-as="$t('global.fields.university_institute')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`educationUpdate.university_institute_${key}`)
                }}</span>
              </div>

              <b-form-group
                id="degree"
                :label="$t('global.fields.degree')"
                label-for="degree"
                label-class="required"
              >
                <b-form-select
                  v-model="dataForm.educations[key].degree"
                  v-validate="'required'"
                  :options="attribute('degree')"
                  :data-vv-name="`degree_${key}`"
                  :data-vv-as="$t('global.fields.degree')"
                >
                  <option slot="first" :value="null">
                    {{ $t('global.placeholder.select') }}
                  </option>
                </b-form-select>
              </b-form-group>
              <div class="error">
                <span>{{ errors.first(`educationUpdate.degree_${key}`) }}</span>
              </div>
              <b-form-group
                id="faculty"
                :label="$t('global.fields.faculty')"
                label-for="faculty"
                label-class="required"
              >
                <b-form-input
                  id="faculty"
                  v-model="dataForm.educations[key].faculty"
                  v-validate="'required|max:100'"
                  :data-vv-name="`faculty_${key}`"
                  :data-vv-as="$t('global.fields.faculty')"
                />
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`educationUpdate.faculty_${key}`)
                }}</span>
              </div>

              <b-form-group
                id="graduation_country"
                :label="$t('global.fields.graduation_country')"
                label-for="graduation_country"
                label-class="required"
              >
                <b-form-select
                  v-model="dataForm.educations[key].graduation_country"
                  v-validate="'required'"
                  :options="attribute('country')"
                  :data-vv-name="`graduation_country_${key}`"
                  :data-vv-as="$t('global.fields.graduation_country')"
                >
                  <option slot="first" :value="null">
                    {{ $t('global.placeholder.country') }}
                  </option>
                </b-form-select>
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`educationUpdate.graduation_country_${key}`)
                }}</span>
              </div>
              <b-form-group
                id="graduated"
                :label="$t('global.fields.graduated')"
                label-for="graduated"
                label-class="required"
              >
                <b-form-select
                  :id="`graduation_status_${key}`"
                  v-model="dataForm.educations[key].graduation_status"
                  v-validate="'required'"
                  :options="attribute('graduation_status')"
                  :data-vv-name="`graduation_status_${key}`"
                  :data-vv-as="$t('global.fields.graduated')"
                  @change="graduated(key)"
                >
                  <option slot="first" :value="null">
                    {{ $t('global.placeholder.select') }}
                  </option>
                </b-form-select>
              </b-form-group>
              <div class="error">
                <span>{{
                  errors.first(`educationUpdate.graduation_status_${key}`)
                }}</span>
              </div>
              <no-ssr>
                <b-form-group
                  v-if="
                    dataForm.educations[key].graduation_status == '1' ||
                      dataForm.educations[key].graduation_status == '2'
                  "
                  id="graduation_year"
                  :label="$t('global.fields.graduation_date')"
                  label-for="graduation_year"
                  label-class="required"
                >
                  <CostumDate
                    v-if="dataForm.educations[key].graduation_status == 1"
                    v-model="dataForm.educations[key].graduation_year"
                    v-validate="'validate_date'"
                    :data-vv-name="`graduation_year_${key}`"
                    :data-vv-as="$t('global.fields.graduation_date')"
                    :max="max_date"
                    :default="
                      dataForm.educations[key].graduation_year != null
                        ? dataForm.educations[key].graduation_year
                        : '0000-00-00'
                    "
                    :months-names="$t('global.fields.months')"
                    min="1920"
                    type="Y.m"
                    @change="$emit('input', $event.target.value)"
                  />
                  <CostumDate
                    v-if="dataForm.educations[key].graduation_status == 2"
                    v-model="dataForm.educations[key].graduation_year"
                    v-validate="'validate_date'"
                    :data-vv-name="`graduation_year_${key}`"
                    :data-vv-as="$t('global.fields.graduation_date')"
                    :default="
                      dataForm.educations[key].graduation_year != null
                        ? dataForm.educations[key].graduation_year
                        : '0000-00-00'
                    "
                    :months-names="$t('global.fields.months')"
                    :min="max_date"
                    :max="max_graduation_fixed"
                    type="Y.m"
                    @change="$emit('input', $event.target.value)"
                  />
                  <input
                    v-show="false"
                    v-model="dataForm.educations[key].graduation_year"
                    v-validate="'required_date|validate_date'"
                    :data-vv-name="`graduation_year_${key}`"
                    :data-vv-as="$t('global.fields.graduation_date')"
                  />
                </b-form-group>
                <div class="error">
                  <span>{{
                    errors.first(`educationUpdate.graduation_year_${key}`)
                  }}</span>
                </div>
              </no-ssr>
            </div>
          </div>
          <b-button
            class="mt-3"
            variant="outline-info"
            @click="addNewEducation"
          >
            {{ this.$t('global.buttons.add_new') }}
          </b-button>
          <div v-if="page != 'job.apply'" class="d-flex justify-content-center">
            <b-button
              v-if="dataForm.educations.length > 0"
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />
              {{ this.$t('global.buttons.submit') }}
            </b-button>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </section>
</template>
<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
import CostumDate from '~/components/UI/CostumDate'
import OverlayLoading from '~/components/UI/OverlayLoading'
export default nuxtend({
  components: {
    CostumDate,
    OverlayLoading
  },
  props: {
    page: {
      type: String,
      default: function() {
        return 'profile.update'
      }
    },
    educations: {
      type: Array,
      default: function() {
        return []
      }
    },
    user: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  mixins: [base()],
  computed: {
    max_date: function() {
      return new Date().getFullYear().toString()
    },
    max_graduation_fixed: function() {
      return (new Date().getFullYear() + 5).toString()
    }
  },
  created() {
    const count = this.educations.length
    if (count > 0) {
      this.dataForm.educations = []
      for (let i = 0; i < count; i++) {
        const exp = {
          id: this.educations[i].id,
          university_institute: this.educations[i].university_institute,
          degree: this.educations[i].degree,
          faculty: this.educations[i].faculty,
          graduation_country: this.educations[i].graduation_country,
          graduation_status: this.educations[i].graduation_status,
          graduation_year:
            parseInt(this.educations[i].graduation_status) === 1 ||
            parseInt(this.educations[i].graduation_status) === 2
              ? this.educations[i].graduation_year
              : null
        }
        this.dataForm.educations.push(exp)
      }
    }
    this.veevalidateLocalize()
  },
  mounted() {
    if (this.page !== 'job.apply' && this.dataForm.educations.length === 0) {
      this.dataForm.educations.push({
        university_institute: '',
        degree: null,
        faculty: '',
        graduation_country: null,
        graduation_status: null,
        graduation_year: null
      })
    }
  },
  data() {
    return {
      valid: false,
      scope: 'educationUpdate',
      deleted_ids: [],
      dataForm: {
        educations: []
      }
    }
  },
  methods: {
    graduated(key) {
      this.dataForm.educations[key].graduation_year = null
    },

    addNewEducation() {
      this.dataForm.educations.push({
        university_institute: '',
        degree: null,
        faculty: '',
        graduation_country: null,
        graduation_status: null,
        graduation_year: null
      })
    },
    removeEducation(key) {
      if (
        this.dataForm.educations[key].id !== undefined &&
        this.page !== 'job.apply'
      ) {
        const deleteData = {
          id: this.dataForm.educations[key].id,
          resource: 'seeker-educations'
        }
        this.$toast.clear()
        this.$store
          .dispatch('users/deleteProfileItem', deleteData)
          .then(response => {
            this.$store.dispatch(
              'users/getSeekerProfileInfo',
              this.user.user_type_id
            )
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            this.dataForm.educations.splice(key, 1)
          })
          .catch(err => {
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
          })
      } else {
        if (this.dataForm.educations[key].id !== undefined) {
          this.deleted_ids.push(this.dataForm.educations[key].id)
        }
        this.dataForm.educations.splice(key, 1)
      }
    },
    emitEducationUpdate(evt) {
      this.$toast.clear()
      this.errors.clear('educationUpdate')
      this.valid = true
      this.$validator.validateScopes(this.scope).then(result => {
        this.$toast.clear()
        if (result) {
          this.$refs.overlayloading.start()
          this.$store
            .dispatch('users/updateEducationsProfile', {
              id: this.user.user_type_id,
              data: this.dataForm.educations
            })
            .then(response => {
              this.$store.commit(
                'users/SET_USER_EDUCATIONS',
                response.data.data
              )
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$refs.overlayloading.finish()
              this.valid = false
              this.$emit('education-update', response.data.data)
            })
            .catch(err => {
              this.$refs.overlayloading.finish()
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                const realField = field.split('.')
                errs.push(
                  _.merge(
                    {},
                    {
                      field: realField[2] + '_' + realField[1],
                      scope: 'educationUpdate',
                      msg: messages[0]
                    }
                  )
                )
                // console.log(errs)
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.valid = false
            })
        } else {
          this.scrollToClass('error')
          this.valid = false
        }
      })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left;
}
</style>
